// Variables and mixins

// COLOR THEME
$theme: $brand-blue;
$carousel_easing: cubic-bezier(.58,.07,.51,.89);

// ROUTES

// Screen layers
$viewport-zindex: 		0 								!default;


// ======================== Foreground elements  ======================== //
$foreground-zindex: 	300 !default; // <=== Parent
$hud-zindex:			250 !default;

$background-height: 	100% !default;
$midground-height: 		60% !default;
$foreground-height:		25% !default;

$background-y: 			0 !default;
$midground-y: 			0 !default;
$foreground-y:			0 !default;

// ======================== Midground elements  ======================== //
$midground-zindex: 		200 							!default; // <=== Parent

$road-height:			40px 							!default;
$road-y:				20px 							!default;
$road-color-bg:			$gray-dark						!default;
$sidewalk-height:		30px 							!default;
$sidewalk-y:			$road-height					!default;
$sidewalk-color-bg:		$gray-light						!default;
$land-height:			20px							!default;
$land-y:				$road-height + $sidewalk-height	!default;
$land-color-bg:			#CCC2A1							!default;

$platform-zindex:		205								!default;
$platform-height:	$road-height + $sidewalk-height + $land-height !default;
$fg-grass-y:			50px							!default;

$building-zindex:		210 							!default;
$building-y:			$road-height * 2				!default;
$building-set-width:	auto							!default;
$building-set-height:	240px							!default;

$car-zindex:			215 							!default;
$car-x:					4%								!default;
$car-y:					$road-height					!default;

// ======================== Pre-background elements  ======================== //
$prebackground-zindex: 	150 							!default; // <=== Parent
$prebackground-y:		$platform-height				!default;

$mountain-zindex:		155								!default;


// ======================== Background elements  ======================== //
$background-zindex: 	100 							!default; // <=== Parent
$mountain-y:			$platform-height				!default;



$sprite-offset: 		603px 							 !default;

@mixin sprite() {
	display: block;
	position: absolute;
	content: '';
	background: url(../img/routes/environment-sprites.png);
	background-repeat: no-repeat;
}

// 2x Sprites
@mixin map-avatar($width, $x, $y){ 
	width: calc(#{$width}/2);
	background-position: $x/2 $y/2;
}
@mixin dim($width, $height){ width: calc(#{$width}/2); height: calc(#{$height}/2); }
@mixin bpos($x, $y){ background-position: $x/2 $y/2; }