// Core variables and mixins

// Carousel ===========

.carousel {
	.carousel-section {

		.h3 {
			@media (max-width: $screen-xs-max) {
				font-size: 20px;
			}
		}

		// Initial display
		opacity: 0;
		visibility: hidden;
		display: none;
		position: absolute;
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	    -webkit-transform: translate3d(0, 0, 0);
	            transform: translate3d(0, 0, 0);
	    @include transition (opacity 0.3s $easing);

		// If section is active
		&.active {
			opacity: 1;
			display: block;
			visibility: visible;
			position: relative;
			filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=1);
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
		    -webkit-transform: translate3d(0, 0, 0);
		            transform: translate3d(0, 0, 0);
		    @include transition (opacity 0.3s $easing);
		}

		.section-input {
			width: auto;
			display: table-cell;
			@media (min-width: $screen-sm-min) {
				padding-right: 15px;
			}

			> .field-validation-valid, .field-validation-error {
				display: block;
				clear: both;
			}
		}

		@media (max-width: $screen-xs-max) {
			.section-input {
				display: block;
				margin-bottom: $grid-gutter-width / 2;
			}

			h4.h4 {
				font-size: 1em;	
			}
		}
	}
}

.section-fullname {
	display: table;
	> span {
		display: table-cell;
		float: left;
		position: relative;

		@media (max-width: $screen-xs-max) {
			width: 100%;
			margin-bottom: $grid-gutter-width/2;
		}

		@media (min-width: $screen-sm-min) {
			padding-right: 10px;
			width: 30%;
		}

		&:last-child {
			@media (max-width: $screen-xs-max) {
				width: 100%;
			}

			@media (min-width: $screen-sm-min) {
				padding-right: 0;
				width: 10%;
			}
		}
	}
}

// Picker
.carousel-nav-picker {
	display: table;
	table-layout: fixed;
	list-style-type: none;
	position: relative;
	clear: both;
	padding-left: 0;
	margin-top: $grid-gutter-width/2;
	margin-bottom: $grid-gutter-width/2;
	@media screen and (min-width: $screen-sm-min) {
		margin-bottom: $grid-gutter-width*2;
	}
	background-image: url(../img/carousel-line.gif);
	background-size: 1px;
	background-repeat: repeat-x;
	background-position: 0 50%;

	li {
		display: table-cell;
		position: relative;
		text-align: center;
		width: 1%;
		padding: 0;

		.picker-label {
		    display: block;
		    text-align: center;
		    width: 70%;
		    margin: auto;
		    text-transform: uppercase;
		    position: absolute;
		    left: 0;
		    right: 0;
		    margin-top: $grid-gutter-width/2;
		    line-height: 1.2;
		    @include transition (color 0.3s $carousel_easing);
			@include clearfix();

			@media screen and (max-width: $screen-xs-max) {
				display: none !important;
			}
			@media screen and (max-width: $screen-sm-max) {
				font-size: 0.75em;
			}
		}

		*[data-section-picker] {
			display: inline-block;
			border-radius: 50%;
			color: white;

			// Control Font-size
			@media (max-width: $screen-xs-max) {
				font-size: 1.2em
			}

			// Control Font-size
			@media (min-width: $screen-sm-min) {
				font-size: 2em;
			}

			&.done {
				background-color: $gray-dark;
				width: 50px;
				padding-top: 6px;
				padding-bottom: 4px;
				@include transition (all 0.35s $carousel_easing);
				@include transform(scale (1,1));

				// Control Circle Size
				@media (max-width: $screen-xs-max) {
					width: 30px;
					padding-top: 4px;
					padding-bottom: 2px;
				}

				&:hover {
					cursor: pointer;
					@include transition (all 0.35s $easing);
					background-color: darken($theme,5%);
				}

				.progress-main {
					opacity: 0;
				    @include transition (transform 0.35s $easing);
				    @include transform(scale (0,0));
				}
			}

			&.active {
				background-color: $theme;
				width: 50px;
				padding-top: 6px;
				padding-bottom: 4px;
			    @include transition (all 0.35s $carousel_easing);
				@include transform(scale(1.5,1.5));
				cursor: default !important;

				// Control Circle Size
				@media (max-width: $screen-xs-max) {
					width: 30px;
					padding-top: 4px;
					padding-bottom: 2px;
				}

				&:hover {
					cursor: pointer;
				}

				~ .picker-label {
					@include transition (color 0.3s $carousel_easing);
					width: 60%;
					color: $theme;
					margin-top: $grid-gutter-width/2;
				}

				.progress-main {
					opacity: 1;
				    @include transition (transform 0.35s $easing);
				    @include transform(scale (1,1));
				}
			}

			&.inactive {
				background-color: lighten($gray-light,5%);
				width: 50px;
				padding-top: 6px;
				padding-bottom: 4px;
			    @include transition (all 0.35s $carousel_easing);
			    @include transform(scale (1,1));

				// Control Circle Size
				@media (max-width: $screen-xs-max) {
					width: 30px;
					padding-top: 4px;
					padding-bottom: 2px;
				}

				&:hover {
					cursor: not-allowed !important;
					pointer-events: none;
				}

				.progress-main {
					opacity: 0;
				    @include transition (transform 0.35s $easing);
				    @include transform(scale (0,0));
				}
			}

			.progress-main {
				display: block;
			    position: absolute;
			    background-color: $brand-primary;
			    @media (max-width: $screen-sm-max) {
				    width: 15px;
				    height: 15px;	
			    }
			    @media (min-width: $screen-md-min) {
				    width: 25px;
				    height: 25px;
				    padding-top: 5px;
			    }
			    content: 'Start';
			    font-size: 12px;
			    border-radius: 30px;
			    color: white;
			    font-style: normal;
			    top: -5px;
			    left: 75%;
			    @include transition (transform 0.35s $carousel_easing);
			    @include transform(scale (0,0));
			}

		}
	}
}

.carousel-nav {
	text-align: right;
	z-index: 1;
	@media (min-width: $screen-sm-min) {
		margin-top: -7px;
	}
	@media (max-width: $screen-xs-max) {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		display: table;
		background-color: $navbar-default-bg;
		@include box-shadow(0 -1px 3px rgba(0,0,0,0.15));
	}

	.btn {
		@media (max-width: $screen-xs-max) {
			display: table-cell;
			position: relative;
			float: left;
			width: 50%;
			padding-top: 4px;
			padding-bottom: 4px;
		}
	}
}

