// journey
.your-journey {
    position: relative;
    margin-bottom: $grid-gutter-width/2;
    @include clearfix();
    &:before {
        font-family: $font-family-bold;
        font-size: $font-size-small;
        text-transform: uppercase;
        content: 'Progress on this Career Route';
        margin-top: 15px;
        margin-left: 30px;
        position: relative;
        float: left;
        margin-bottom: 15px;
    }
}

.journey-carousel {
    display: table;
    table-layout: fixed;
    list-style-type: none;
    position: relative;
    clear: both;
    padding-left: 0;
    margin-top: $grid-gutter-width;
    margin-bottom: $grid-gutter-width/2;
    background-image: url(../img/carousel-line.gif);
    background-size: 1px;
    background-repeat: repeat-x;
    background-position: 0 50%;
    li {
        display: table-cell;
        position: relative;
        text-align: center;
        width: 1%;
        padding: 0;
        .journey-label {
            display: block;
            text-align: center;
            width: 70%;
            margin: auto;
            // text-transform: uppercase;
            position: absolute;
            left: 0;
            right: 0;
            margin-top: $grid-gutter-width/2;
            line-height: 1;
            @include clearfix();
            @media screen and (max-width: $screen-xs-max) {
                display: none !important;
            }
        }
        .data-section-journey {
            display: inline-block;
            border-radius: 50%;
            color: white;
            // Control Font-size
            @media (max-width: $screen-xs-max) {
                font-size: 1.2em
            }
            // Control Font-size
            @media (min-width: $screen-sm-min) {
                font-size: 2em;
            }
            &.done {
                background-color: $brand-blue;
                width: 50px;
                padding-top: 6px;
                padding-bottom: 4px;
                // Control Circle Size
                @media (max-width: $screen-xs-max) {
                    width: 30px;
                    padding-top: 4px;
                    padding-bottom: 2px;
                }
            }
            &.active {
                background-color: $brand-primary;
                width: 50px;
                padding-top: 6px;
                padding-bottom: 4px;
                // @include transform(scale(1.5,1.5));
                // Control Circle Size
                @media (max-width: $screen-xs-max) {
                    width: 30px;
                    padding-top: 4px;
                    padding-bottom: 2px;
                }
                ~ .journey-label {
                    width: 60%;
                    color: $brand-blue;
                    margin-top: $grid-gutter-width/2;
                }
            }
            &.inactive {
                background-color: lighten($brand-blue, 5%);
                width: 50px;
                padding-top: 6px;
                padding-bottom: 4px;
                // Control Circle Size
                @media (max-width: $screen-xs-max) {
                    width: 30px;
                    padding-top: 4px;
                    padding-bottom: 2px;
                }
            }
        }
    }
}

