// Core variables and mixins
@import "../../assets-common/css/bootstrap/variables";
@import "../../assets-common/css/bootstrap/mixins";

@import "asset-variables.scss";
@import "ratings.scss";
@import "carousel.scss";
@import "team-search.scss";
@import "journey.scss";
@import "assessment-idp.scss";
@import "udrive-profile.scss";
@import "udrive-maintenance.scss";
@import "profile-image.scss";
@import "nine-box.scss";
@import "udrive-profile.scss";
@import "routes.scss";
@import "flaticons/flaticon.scss";
// Global
body {
    background-image: url(../img/comet-bg.png);
    background-repeat: repeat;
    background-size: 50%;
    background-attachment: fixed;
    padding-bottom: $navbar-height - ($grid-gutter-width / 2);
}

//ease-in-out
// Profile Information
// --------------------------------------------------
//
// Set basic styling
.profile-info {
    @include make-row($grid-gutter-width);
    background-color: $theme;

    @media (max-width: $screen-xs-max) {
        padding-top: 2%;
        padding-bottom: 2%;
        margin-top: -$grid-gutter-width/2;
    }

    @media (min-width: $screen-sm-min) {
        padding-top: $navbar-height / 2;
        padding-bottom: $navbar-height / 2;
        margin-top: -15px;
    }

    > .profile-img {
        position: relative;
        float: left;
        min-height: 1px;
        display: block;

        @media (max-width: $screen-xs-max) {
            display: none;
        }

        @media (min-width: $screen-sm-min) {
            width: percentage(2/12);
        }

        @media (min-width: $screen-md-min) {
            width: percentage(4/12);
            margin-left: percentage(4/12);
        }

        > .avatar {
            background-position: center center;
            border: 5px solid white;
            overflow: hidden;
            background-color: white;

            @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                width: $avatar-xs + ($grid-gutter-width / 2);
                height: $avatar-xs + ($grid-gutter-width / 2);
                max-width: $avatar-xs + ($grid-gutter-width / 2);
                background-size: $avatar-xs + ($grid-gutter-width / 2) + 10;
                background-position: center center;
            }

            @media (min-width: $screen-md-min) {
                width: $avatar-lg;
                height: $avatar-lg;
                max-width: $avatar-lg;
                background-size: $avatar-lg + 40;
                background-position: center center;
            }
        }
    }

    > .profile-text {
        color: #fff;
        font-size: 1.2em;
        text-align: center;

        > .profile-name {
            font-size: 1.5em;
            font-family: $font-family-bold;
        }

        > .profile-metadata {
            font-size: 0.8em;
        }

        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            text-align: left;
        }

        @media (min-width: $screen-md-min) {
            width: percentage(4/12);
            margin-left: percentage(4/12);
        }

        span {
            display: block;
            font-family: $font-family-alt;
        }
    }
}
.navbar-with-icons li a {
	text-align: center;
	padding-top: 9px;
	padding-bottom: 9px;
	i {
		display: block;
		clear: both;
	}
	span {
		font-size: 12px;
	}
}

.h_dropdown-menu-header {
	background-color: $gray-lighter;
	padding: 5px $grid-gutter-width/2;
	display: block;

	~ a {
		padding-top: 8px !important;
		padding-bottom: 8px !important;
	}

	&:hover {
		cursor: default;
	}
}
//
// Profile Controls
// --------------------------------------------------
//
.navbar-controls {
    // Mimic mobile app navigation
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: $zindex-navbar-fixed;
    border-top: 1px solid darken($theme, 5%);
    background-color: $theme;
    color: #fff;
    font-family: $font-family-alt;
    @include make-row;
    // Reset View on larger screens
    @media ( min-width: $screen-md-min) {
        margin-bottom: $grid-gutter-width;
        border-top: none;
        border-bottom: 1px solid darken($theme, 5%);
        position: static;
        z-index: $zindex-navbar-fixed;
    }

    > .navbar-control-btns {
        position: relative;
        float: left;
        display: block;

        @media (max-width: $screen-xs-max) {
            width: 100%;
        }

        @media (min-width: $screen-sm-min) {
            padding-left: $grid-gutter-width;
            padding-right: $grid-gutter-width;
        }

        @media (min-width: $screen-md-min) {
            padding-left: 5%;
            padding-right: 5%;
        }

        @media (min-width: $screen-lg-min) {
            padding-left: percentage(0.5/5);
            padding-right: percentage(0.5/5);
        }
    }
}

.navbar-control-btns {
    > .btn-group {
        .btn-group {
            .btn {
                &:active,
                &:focus {
                    outline: none;
                }

                @media (max-width: $screen-xs-max) {
                    padding-top: 2%;
                    padding-bottom: 2%;
                }

                .h_inline-block-center {
                    display: inline-block;
                    text-align: center;
                    margin-bottom: -5px;

                    i {
                        @media (max-width: $screen-xs-max) {
                            font-size: 1.5em;
                        }

                        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                            font-size: 1.9em;
                        }

                        @media (min-width: $screen-sm-min) {
                            display: block;
                            float: left;
                        }

                        @media (min-width: $screen-md-min) {
                            font-size: 1.9em;
                        }
                    }

                    .text {
                        text-align: center;
                        display: block;

                        @media (min-width: $screen-sm-min) {
                            float: left;
                            padding-left: 10px;
                        }

                        > span {
                            display: block;
                            float: left;
                            clear: both;
                            font-family: $font-family-base;

                            @media (max-width: $screen-xs-max) {
                                font-size: 0.8em;
                            }

                            @media (min-width: $screen-md-min) {
                                font-size: 1em;
                            }
                        }
                    }
                }
            }
        }
    }

    .btn-group.active {
        &:after,
        &:before {
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            left: 50%;
            bottom: 100%;
            pointer-events: none;

            @media (min-width: $screen-md-min) {
                top: 100%;
            }
        }

        &:after {
            border-color: rgba(136, 183, 213, 0);
            border-width: 10px;
            border-bottom-color: $theme;
            margin-left: -10px;

            @media (min-width: $screen-md-min) {
                border-top-color: $theme;
                border-bottom-color: transparent;
                margin-left: -10px;
            }
        }

        &:before {
            border-color: rgba(231, 231, 231, 0);
            border-width: 11px;
            border-bottom-color: darken($theme, 7%);
            margin-left: -11px;

            @media (min-width: $screen-md-min) {
                border-top-color: darken($theme, 7%);
                border-bottom-color: transparent;
                margin-left: -11px;
            }
        }
    }
}

.navbar-float {
    > .well {
        @include clearfix();
        margin-bottom: $grid-gutter-width / 2;
        padding-top: $well-padding - 5;
        padding-bottom: $well-padding - 5;
        background-color: transparentize(#fff, 0.5);
        border: 1px solid darken($gray-lighter, 10%);
        border-bottom: 1px solid lighten($gray-light, 25%);
    }
}

.panel-career-idp {
    background-color: #f5f5f5;

    .panel-idp-card-title {
        background-color: $brand-blue;
        color: white;
        padding: $grid-gutter-width;
        @include clearfix();
        position: relative;

        * {
            margin: 0;
            color: white;
        }

        .idp-status {
            position: absolute;
            top: 20px;
            right: 20px;

            label {
                text-align: center;
                display: block;

                i.md {
                    display: block;
                    font-size: 3em;
                    width: 42px;
                    height: 42px;
                    background-color: white;
                    margin: auto;
                    border-radius: 42px;

                    &:before {
                        display: inline-block;
                        margin-top: 5px;
                    }

                    &.text-danger {
                        color: $brand-danger;
                    }

                    &.text-success {
                        color: $brand-success;
                    }
                }

                span {
                    margin-top: 10px;
                    display: block;
                    text-align: center;
                }
            }
        }

        border-top-left-radius: $border-radius-base;
        border-top-right-radius: $border-radius-base;
    }

    .panel-body .page-header {
        margin-top: 0;
    }

    .panel-footer {
        padding: 0;
        background-color: white;

        .input-acknowledge {
            display: inline-block;
            width: calc(100% - 30px);
            margin: 0;
            margin-left: $grid-gutter-width;
            padding: $grid-gutter-width;
        }
    }
}

.btn-edit-plan {
    @media (min-width: $screen-sm-min) {
        position: absolute;
        top: $grid-gutter-width/2;
        right: $grid-gutter-width/2;
    }
}

// Score Card Final Score
.score-card-finalscore {
    margin-top: -60px;
    text-align: center;
    @include make-row();

    > .score {
        text-align: center;
        font-size: 1.6em;
        font-family: $font-family-bold;
        width: 86px;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        padding: 25px 0;
        border: 3px solid #424242;
        @include border-radius(100px);
    }

    &:after {
        text-align: center;
        font-size: 1em;
        font-family: $font-family-bold;
        position: relative;
        @include center-block();
        color: white;
    }

    &.mtd:after {
        content: "Overall Month to Date Rating";
    }

    &.eom:after {
        content: "Overall End of Month Rating";
    }
}

.select-role {
    display: block;
    position: relative;
    border-top: 1px solid #e3e3e3;
    margin-left: -$grid-gutter-width;
    margin-right: -$grid-gutter-width;
    margin-bottom: -$grid-gutter-width/2;
    padding-top: $grid-gutter-width/2;
    padding-left: $grid-gutter-width/2;
    padding-right: $grid-gutter-width/2;
    @include clearfix();
}

$selected-roles-width: 200px;

.selected-roles {
    z-index: 1;
    background-color: #F9F9F9;
    padding: $grid-gutter-width/2;

    @media (max-width: $screen-sm-max) {
        // width: 75%;
        // margin-left: 25%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        z-index: 3;
        display: none;
    }

    @media (min-width: $screen-md-min) {
        position: absolute;
        width: $selected-roles-width;
        top: 0;
        right: 0;
        border-left: 1px solid #e3e3e3;
        bottom: -$grid-gutter-width/2;
    }

    ul.role-group {
        list-style: none;
        padding-left: 0;

        > li {
            margin: 5px 0;
            padding: 5px 0 15px 0;
            display: block;
            width: 100%;
            position: relative;
            border-bottom: 1px dashed #e3e3e3;
            @include clearfix();

            > .btn-delete-role {
                padding: 0px 5px;
                position: absolute;
                top: 5px;
                right: 0;
            }
        }
    }

    .group {
        margin-top: 10px;
    }

    .group-item .group-item-heading {
        border-bottom: 1px solid #e3e3e3;
        padding-bottom: 5px;
        margin-bottom: 7px;
    }
}

.tab-content-groups {
    position: relative;

    @media (min-width: $screen-md-min) {
        padding-right: $selected-roles-width;
    }

    .page-header {
        margin-top: 0;
    }
}

.career-questionnaire {
    li {
        @include make-row();
        display: block;
        margin: 10px 0;
        padding: 5px 10px;
        position: relative;
        width: 100%;
        counter-increment: step-counter;

        &:hover {
            background-color: $gray-lighter;
            border-radius: $border-radius-base;
        }

        &:before {
            content: counter(step-counter);
            display: block;
            position: absolute;
            font-size: 12px;
            left: -$grid-gutter-width;
            border-radius: $border-radius-base;
            background-color: $gray-lighter;
            padding: 2px 7px;
        }

        ol li {
            list-style: none;
        }

        &:after {
            display: table;
            clear: both;
            content: '';
        }
        // If user already ticked the question
        &.done:before {
            content: '\f26b	';
            font-family: 'Material Design Iconic Font';
            color: white;
            background-color: $brand-success;
        }

        > .question {
            display: block;
            position: relative;
            float: left;

            &::first-letter {
                text-transform: uppercase;
            }

            @media (max-width: $screen-sm-max) {
                width: 100%;
                padding-right: $grid-gutter-width/2;
                // padding-left: $grid-gutter-width/2;
            }

            @media (min-width: $screen-md-min) {
                width: 60%;
                padding-right: $grid-gutter-width/2;
            }
        }

        > .question-rating {
            display: block;
            position: relative;
            float: left;
            text-align: center;

            @media (max-width: $screen-sm-max) {
                width: 100%;
                padding-right: $grid-gutter-width/2;
                padding-left: $grid-gutter-width/2;
            }

            @media (min-width: $screen-md-min) {
                width: 40%;
            }

            .br-wrapper {
                display: inline-block;

                @media (max-width: $screen-sm-max) {
                    margin-top: $grid-gutter-width/2;

                    > .br-widget > *[data-rating-value] {
                        width: 40px;
                        height: 20px;
                    }

                    > .br-widget > .br-current-rating {
                        width: 170px;
                    }
                }
            }
        }
    }
}

.progress-bar-container {
    z-index: 100;
    position: fixed;

    @media (max-width: $screen-sm-max) {
        padding: 5px;
        left: $grid-gutter-width/2;
        right: $grid-gutter-width/2;
        bottom: $navbar-height + ($grid-gutter-width/2);
    }

    @media (min-width: $screen-md-min) {
        padding: 4px 6px 6px 6px;
        left: 0;
        right: 0;
        bottom: 5px;
    }

    display: block;
    background-color: rgba(255, 255, 255, 0.9);
    @include box-shadow(0 -3px 35px rgba(0, 0, 0, 0.3));
    border-bottom: 3px solid rgba(95, 95, 95, 0.25);
    border-radius: $grid-gutter-width;

    .progress {
        margin-bottom: 0;
    }
}

.choice-container {
    margin: $grid-gutter-width 0;
}

//
// Assessment Summary
// --------------------------------------------------
//
$amber: #F7CA04;
$green: #058440;
$maroon: #830300;

.list-roles {
    margin-bottom: 0;

    > .list-group-item {
        > .accordion-nav-header {
            > .role-score {
                font-size: 1.2em;
                padding: 5px 8px;
                margin-left: -$grid-gutter-width/2;
                margin-right: 5px;
                color: white;
                background-color: $brand-blue;
                display: inline-block;
                border-radius: $border-radius-base;
                @include transition(background-color 0.3s $easing);

                &:hover {
                    background-color: $brand-orange;
                    cursor: pointer;
                    @include transition(background-color 0.3s $easing);
                }
            }

            > .role-title {
                font-size: 1.4em;
            }
        }

        > .accordion-menu-content {
            .well {
                margin-bottom: 0;
            }
        }
    }
}

.list-competencies {
    margin-bottom: 0;

    > .list-group-item {
        padding: 0;

        &.open {
            .accordion-nav-header {
                border-bottom-right-radius: 0;
                box-shadow: none;
            }

            .well-white {
                border-left: 5px solid lighten($gray, 20%);
                border-bottom-left-radius: 0;
                border-bottom-right-radius: $border-radius-base;
            }
        }

        > .accordion-nav-header {
            border: 1px solid #e3e3e3;
            border-radius: 0;
            border-top-left-radius: 0;
            background-color: white;
            border-left: 5px solid $gray;
            border-top: 5px;
            border-bottom: 5px;
            border-top-right-radius: 3px;
            border-right: 0;
            border-bottom-right-radius: 3px;
            @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.2));

            > .role-score {
                font-size: 1.2em;
                padding: 5px 8px;
                margin-left: -$grid-gutter-width/2;
                margin-right: 5px;
                color: white;
                background-color: $brand-blue;
                display: inline-block;
                border-radius: $border-radius-base;
                @include transition(background-color 0.3s $easing);

                &:hover {
                    background-color: $brand-orange;
                    cursor: pointer;
                    @include transition(background-color 0.3s $easing);
                }
            }

            > .role-title {
                font-size: 1.4em;
            }
        }

        > .accordion-menu-content {
            .well-white {
                margin-bottom: 0;
                padding: $grid-gutter-width/2;
                background-color: white;
            }

            .list-questions {
                margin-left: 0;
                padding-left: 25px;

                li {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

// Status colors
.list-competencies {
    .accordion-menu-item {
        // Functional competency color code
        &.code-orange {
            border-left: 5px solid #E43939 !important;
        }

        &.code-2 {
            border-left: 5px solid #E43939 !important;
        }

        &.code-3 {
            border-left: 5px solid #E43939 !important;
        }

        &.code-4 {
            border-left: 5px solid #E43939 !important;
        }
    }
}

.center-score {
    margin-top: $grid-gutter-width/2;
    margin-left: calc(50% - 30px);
}

.capital {
    display: inline-block;

    &:first-letter {
        text-transform: uppercase;
    }
}

.list-questions {
    margin-left: 0;
    padding-left: $grid-gutter-width/2;
    list-style-type: decimal;

    li {
        list-style-type: decimal;
        margin-bottom: 10px;
    }
}

.list-competencies-inline-legend {
    margin-top: 5px;

    &:before {
        content: 'LEGEND';
        display: inline-block;
        margin-right: 5px;
        font-size: 12px;
        font-weight: bold;
        font-family: Arial;
        margin-left: 5px;
        color: #666;
    }

    li {
        color: white;
        font-size: 0.8em;
        border-radius: 15px;
        padding: 2px 5px;
        border: 1px so;
        font-family: Helvetica, Arial, sans-serif;

        &.status-amber {
            background-color: $amber;
        }

        &.status-green {
            background-color: $green;
        }

        &.status-maroon {
            background-color: $maroon;
        }
    }
}

.preferred-role-item {
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    float: left;

    @media (max-width: $screen-xs-max) {
        width: percentage(5/5);
    }

    @media (min-width: $screen-sm-min) {
        width: percentage(2.5/5);
    }

    @media (min-width: $screen-md-min) {
        width: percentage(2.5/5);
    }

    @media (min-width: $screen-lg-min) {
        width: percentage(2/6);
    }

    .role-score {
        background-color: $brand-blue;
        color: white;
        font-size: 1.4em;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
}

.list-competencies-inline {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    @include clearfix();

    > li {
        float: left;
        margin-right: 5px;
        margin-bottom: 8px;
        padding: 5px 8px;
        font-size: 0.85em;
        position: relative;
        border-left: 8px solid $gray;
        border-radius: 1px;
        background-color: #EFEFEF;
        @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.3));

        &:first-letter {
            text-transform: uppercase;
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            cursor: pointer;
            background-color: darken(#EFEFEF, 3%);
        }

        &.status-amber {
            border-color: $amber;
        }

        &.status-green {
            border-color: $green;
        }

        &.status-maroon {
            border-color: $maroon;
        }
    }
}

.list-competencies-full {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    @include clearfix();

    > li {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 8px 10px;
        position: relative;
        border-left: 8px solid $gray;
        border-radius: 1px;
        width: 100%;
        background-color: white;
        @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.2));

        &:last-child {
            margin-bottom: 0;
        }

        > ol > li {
            font-style: italic;
        }

        > .btn {
            margin: -7px -8px -6px 3px;
        }

        h4 {
            padding: $grid-gutter-width/2;
            padding-left: 0;
            margin-bottom: $grid-gutter-width/2;
            margin-top: 0;

            span {
                display: inline-block;

                &:first-letter {
                    text-transform: uppercase;
                }
            }

            padding-bottom: 10px;
        }

        .list-competencies-text {
            margin-bottom: 25px;
            @include clearfix();
        }

        &:last-child {
            margin-right: 0;
        }

        &.status-amber {
            border-color: $amber;

            .list-competency-title,
            .unit-percent {
                color: #DCB400;
            }
        }

        &.status-green {
            border-color: $green;

            .list-competency-title,
            .unit-percent {
                color: $green;
            }
        }

        &.status-maroon {
            border-color: $maroon;

            .list-competency-title,
            .unit-percent {
                color: $maroon;
            }
        }

        .list-competencies-questions {
            position: relative;

            &.with-expand {
                &:before {
                    display: block;
                    content: 'Click to Display All Questions';
                    position: absolute;
                    bottom: 0;
                    left: calc(50% - 100px);
                    background-color: $gray-dark;
                    color: white;
                    font-size: 0.7em;
                    text-align: center;
                    text-transform: uppercase;
                    width: 200px;
                    padding: 5px 8px;
                    z-index: 2;
                    border-radius: $border-radius-base;
                    @include opacity(0);
                    @include transform(translateY('5%'));
                    @include transition(opacity .3s $easing);
                }

                &:after {
                    display: block;
                    content: '';
                    position: absolute;
                    bottom: -8px;
                    height: 70px;
                    left: 0;
                    right: 0;
                    z-index: 1;
                    @include gradient-vertical(transparent, white, 0%, 100%);
                }

                &:hover {
                    cursor: pointer;

                    &:before {
                        @include opacity(1);
                        @include transition(opacity .3s $easing);
                    }
                }
            }
        }
    }
}

.js_timeline {
    margin-bottom: $grid-gutter-width/2;

    .control-label {
        display: inline-block;
        text-align: left;
        margin-right: 10px;
    }

    .js_editTimeline {
        display: inline-block;

        div {
            display: inline-block;
            width: 200px;
        }

        .btn {
            display: inline-block;
        }
    }

    .js_viewTimeline {
        display: inline-block;
    }
}

.panel-comment-thread {
    padding: 0 $grid-gutter-width 0 $grid-gutter-width;
    margin-top: -$grid-gutter-width;
    @include clearfix();

    .confirm-comment-delete {
        position: absolute;
        z-index: 20;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: transparent;
        text-align: right;
        display: none;
    }
    // Open comments and write a reply
    > .panel-comment-controls {
        // margin-bottom: 5px;
        // padding-bottom: $grid-gutter-width/2;
        z-index: 1;
        position: relative;

        .btn-link {
            padding-left: 0;
            padding-right: 0;
            margin-right: 15px;

            &,
            &:focus,
            &:active {
                outline: none;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    > .panel-comment {
        @include clearfix();
        margin-top: $grid-gutter-width;
        margin-bottom: $grid-gutter-width;
        position: relative;
        // Formatting replies
        > .panel-post-reply {
            display: table-cell;
            vertical-align: top;
            position: relative;
            padding-left: ($grid-gutter-width/2);
        }
    }
}

// Resize Avatar
.panel-avatar {
    display: table-cell;
    vertical-align: middle;
    padding-top: 5px;
    text-align: center;
    margin: auto auto;
    width: $avatar-xxs;

    .avatar {
        margin: auto auto;

        @media (max-width: $screen-xs-max) {
            width: $avatar-xxs;
            height: $avatar-xxs;
            max-width: $avatar-xxs;
            background-size: $avatar-xxs;
            background-position: center center;
        }

        @media (min-width: $screen-sm-min) {
            width: $avatar-xxs;
            height: $avatar-xxs;
            max-width: $avatar-xxs;
            background-size: $avatar-xxs;
            background-position: center center;
        }
    }
}

.input-characters {
    position: absolute;
    top: -$grid-gutter-width;
    right: $grid-gutter-width;
}

// Input box
.panel-comment-input {
    display: block;
    position: relative;
    @include clearfix();

    .comment-input {
        resize: none;
        padding-right: 105px;
        border-radius: 0;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        background-color: #F9F9F9;

        &:focus,
        &:active {
            border: 2px solid $brand-cyan;
            border: 2px solid $brand-cyan;
        }
    }

    .btn {
        position: absolute;
        top: 11px;
        right: 15px;
    }

    .panel-avatar {
        position: absolute;
        top: 0;
        left: 0;
    }
}

// Thought Balloon
.thought-balloon {
    $well-bg: white;
    background-color: $well-bg;
    border-radius: $border-radius-base;
    border: 1px solid #EFEFEF;
    padding: (($grid-gutter-width/2) - 5) ($grid-gutter-width / 2);
    position: relative;

    .display-comment {
        p {
            word-break: break-word;
            white-space: pre-line;
            margin-bottom: 0;
            min-width: 550px;
        }

        .dropdown {
            top: 0;
            right: 0;
            position: absolute;
        }
    }

    .textarea {
        min-width: 550px;
        width: 100%;
        display: inline-block;
    }

    .h4 {
        margin-right: 40px;
    }

    .date {
        margin-top: -30px;
        margin-bottom: 15px;
        text-align: center;
    }

    .btn-float {
        right: 15px !important;
    }

    &:after,
    &:before {
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    &:after {
        border-color: rgba(136, 183, 213, 0);
        border-right-color: $well-bg;
        border-width: 6px;
        margin-top: -6px;
    }

    &:before {
        border-color: rgba(194, 225, 245, 0);
        border-right-color: #E6E6E6;
        border-width: 7px;
        margin-top: -7px;
    }
}

// BS3 Overrides
.panel-body-lg {
    padding: $grid-gutter-width;
}

// Misc Helpers and Utilities
// AFFIX Navbar Top Controls
.navbar-sticky {
    position: fixed !important;
    bottom: auto !important;
    z-index: $zindex-navbar !important;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.sticky-hide {
    opacity: 1;

    &.in {
        opacity: 0;
        @include transition(opacity 0.2s $easing);
    }
}

// Display Scroll to Top
.scroll-to-top {
    @media (max-width: $screen-xs-max) {
        display: none !important;
    }

    @media (min-width: $screen-sm-min) {
        position: fixed;
        right: 15px;
        bottom: 15px;
        z-index: $zindex-modal + 2;

        &.fade {
            @include opacity(0);
            @include translate(80px, 0);
            @include transition-transform(0.3s $easing);
        }

        &.in {
            @include opacity(1);
            @include translate(0, 0);
            @include transition-transform(0.3s $easing);
        }

        .btn-scroll-to-top {
            border-radius: 50%;
            padding: 10px 7px;
        }
    }
}

// No info
.no-info {
    img {
        margin: auto;
        height: 100px;
    }

    position: relative;
    text-align: center;
    padding: $grid-gutter-width;
    float: left;

    @media (max-width: $screen-xs-max) {
        .message {
            font-size: $font-size-h4;
        }
    }

    width: 100%;
}

blockquote {
    display: block;
    clear: both;
}

.list-directions {
    list-style-type: none;
    padding-left: 0;
    background-color: #F1F1F1;
    border-radius: $border-radius-base;
    margin-left: -$grid-gutter-width/2;
    margin-right: -$grid-gutter-width/2;
    $width: 75px;
    @include clearfix();

    li {
        counter-increment: step-counter;
        position: relative;
        float: left;
        @include clearfix();

        @media (max-width: $screen-sm-max) {
            width: 100%;
        }

        @media (min-width: $screen-md-min) {
            width: percentage(4/12);
        }

        &:before {
            display: block;
            float: left;
            content: counter(step-counter);
            padding: 5px 15px;
            font-size: $font-size-h3;
            position: absolute;
            top: 50%;
            margin-top: -22px;
            left: $grid-gutter-width/2;
            height: 44px;
            border-radius: 50%;
            color: white;
            background-color: $gray-light;
            color: white;
        }

        > span {
            float: left;
            display: block;
            width: 100%;

            > .form-control {
                border-radius: 0;
                padding-left: $grid-gutter-width*2 + ($grid-gutter-width/2 - 5);

                &:focus {
                    padding-left: $grid-gutter-width*2 + ($grid-gutter-width/2 - 5) - 1;
                }
            }

            > p {
                padding-top: $padding-base-horizontal;
                padding-bottom: $padding-base-horizontal;
                padding-left: $padding-base-horizontal + $width;
                padding-right: $padding-base-horizontal;
                margin-right: $grid-gutter-width/2;
                min-height: 100px;
                height: 120px;
                max-height: 200px;
                overflow-y: auto;
                margin-bottom: 0;
                display: table-cell;
                vertical-align: middle;
            }
        }

        &:first-child > span > p {
            @media (max-width: $screen-sm-max) {
            }

            @media (min-width: $screen-md-min) {
            }
        }

        &:last-child > span > p {
            @media (max-width: $screen-sm-max) {
            }

            @media (min-width: $screen-md-min) {
                margin-right: 0;
                border-right: none;
            }
        }

        &:first-child > span > textarea {
            @media (max-width: $screen-sm-max) {
                border-top-left-radius: $border-radius-base;
                border-top-right-radius: $border-radius-base;
            }

            @media (min-width: $screen-md-min) {
                border-top-left-radius: $border-radius-base;
                border-bottom-left-radius: $border-radius-base;
            }
        }

        &:last-child > span > textarea {
            @media (max-width: $screen-sm-max) {
                border-bottom-left-radius: $border-radius-base;
                border-bottom-right-radius: $border-radius-base;
            }

            @media (min-width: $screen-md-min) {
                border-top-right-radius: $border-radius-base;
                border-bottom-right-radius: $border-radius-base;
            }
        }
    }
}

// Helpers
.container-competencies:empty {
    position: relative;
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
    margin-top: -$grid-gutter-width;
    padding: 0 $grid-gutter-width $grid-gutter-width;

    &:before {
        display: inline-block;
        min-width: 22px;
        padding: 5px;
        font-size: 12px;
        font-weight: bold;
        color: #fff;
        line-height: 1;
        vertical-align: baseline;
        white-space: nowrap;
        text-align: center;
        background-color: #777777;
        border-radius: 15px;
        margin-right: 5px;
        @include box-shadow(0 2px 0 rgba(0, 0, 0, 0.18));
        content: '3';
    }

    &:after {
        content: 'Waiting for your input in Job Function and Timeline';
        display: inline-block;
        font-style: italic;
    }
}

.modal-footer-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-right: 15px;

    @media (max-width: $screen-xs-max) {
        left: 11px;
        right: 11px;
    }

    .modal-footer {
        margin: auto auto;
        background-color: white;

        @media (max-width: $screen-xs-max) {
            width: auto;
        }

        @media (min-width: $screen-sm-min) {
            width: $modal-md - 2;
        }

        @media (min-width: $screen-md-min) {
            width: $modal-lg - 2;
        }
    }
}

.btn-view-roles {
    position: absolute;
    top: -10px;
    right: -25px;
    z-index: 10;
    display: none;

    @media (max-width: $screen-sm-max) {
        display: block;
    }
}

.btn-toggle-help {
    position: absolute;
    z-index: 10;

    @media (max-width: $screen-sm-max) {
        top: -10px;
        right: 110px;
    }

    @media (min-width: $screen-md-min) {
        top: -140px;
        right: -10px;
    }

    &.toggled {
        @media (max-width: $screen-sm-max) {
            top: -10px;
            right: 110px;
        }

        @media (min-width: $screen-md-min) {
            top: -160px;
            right: -20px;
        }
    }
}

.selected-roles-fixed {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
}

.h_m-top-m-bottom {
    @media (max-width: $screen-sm-max) {
        margin-top: $grid-gutter-width/2;
        margin-bottom: $grid-gutter-width*3;
    }
}

.jqEasyCounterMsg {
    padding: 5px;
    position: absolute;
    width: auto !important;
    background-color: $gray-darker;
    color: white !important;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

// xawi: reusable, for controls that has icon as label
.with-icon {
    .md {
        vertical-align: middle;
        margin: 0 8px 0 0;
    }
}

// xawi: for modals that has bigger header
.modal-header h4 {
    margin: 0;
}

// xawi: little css for training calendar
.training-calendar {
    .list-unstyled {
        li {
            display: table-row;
        }

        .control-label {
            display: table-cell;
            font-family: $font-family-bold;
            text-transform: uppercase;
            color: $gray-darker;
            padding-right: 20px;
        }
    }
}

// xawi: reusable schedule lister (see training calendar class details)
.schedule-list {
    width: 100%;
    display: inline-block;

    .schedule {
        padding: 7px;
        width: 50%;
        float: left;
        position: relative;
    }

    .schedule-day {
        width: 60px;
        background: $gray-darker;
        color: #fff;
        position: absolute;
        font-size: 23px;
        font-family: $font-family-base;
        top: 7px;
        bottom: 7px;
        text-align: center;

        &:hover:before {
            border: 0 !important;
        }

        &:before {
            content: "Day";
            font-size: .45em;
            position: absolute;
            font-family: Arial;
            top: 5px;
            text-align: center;
            right: 0;
            left: 0;
        }

        label {
            position: absolute;
            top: calc(50% - 11px);
            right: 0;
            left: 0;
            margin-bottom: 0;
        }
    }

    .schedule-detail {
        // width: 60%;
        background: #eee;
        padding: 7px 20px;
        margin-left: 60px;
        height: 100%;

        ul {
            margin-bottom: 0;
        }
    }
}

// xawi: redesign sub table on kendo-table
$border-color: #e6e6e6;
$hover-color: #F7F7F7;

.k-detail-row {
    background-color: #eee; // reset hover color
    &.k-alt {
        background-color: #eee; // reset hover color
    }

    &:hover {
        background-color: #eee; // reset hover color
    }

    > td {
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
    }

    $box-shadow: 0px 5px 6px -8px #aaa inset;

    .k-hierarchy-cell {
        box-shadow: $box-shadow;

        + td {
            box-shadow: $box-shadow;
        }
    }
}

.k-grid > table > tbody tr.k-master-row:hover {
    background-color: #F7F7F7;
}

.k-detail-cell {
    .k-widget {
        box-shadow: none;
    }

    .k-grid {
        margin: 15px 30px 15px 0;
        border: 1px solid #FFF;

        .k-header {
            // background-color: $hover-color;
            border-color: $border-color;
        }

        tr {
            &:hover {
                background-color: $hover-color;
            }

            td {
                border-color: $border-color;
                border-right-width: 0 !important;
            }
        }

        .k-pager-wrap {
            border-color: #EAEAEA;
        }
    }
}

.k-grid tr td {
    border-right-width: 1px !important;
    border-style: solid !important;
    border-bottom-width: 1px !important;
    border-left-width: 0;
}

.k-i-expand,
.k-plus,
.k-plus-disabled {
    background-position: 0 -208px;
}


[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}