// My Team
.my-team-item {
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    float: left;
    .my-team-item-menu {
        position: absolute;
        top: 5px;
        right: 10px;
        z-index: 1;
    }
    > .thumbnail {
        @include transition-property(none);
        @include clearfix();
        padding: $thumbnail-padding + 6;
        hr {
            margin: 0;
        }
        .my-team-item-avatar {
            text-align: center;
            position: relative;
            width: 60px;
            float: left;
        }
        .my-team-item-info {
            width: -webkit-calc(100% - 60px);
            width: -moz-calc(100% - 60px);
            width: calc(100% - 60px);
            float: left;
            position: relative;
            padding-left: 15px;
            padding-top: 15px;
            padding-right: 15px;
        }
        .my-team-item-name,
        .my-team-item-post {
            width: 100%;
            display: inline-block;
            position: relative;
            overflow: hidden;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0;
        }
        .my-team-item-post {
            color: $text-muted;
        }
        .my-team-item-metadata {
            span > * {
                color: inherit;
            }
            span + span {
                margin-left: 10px;
            }
        }
    }
    &:hover .thumbnail {
        padding: $thumbnail-padding + 6 - 1;
        @include transition-property(none);
        border: 2px solid $brand-primary;
    }
    @media (max-width: $screen-xs-max) {
        width: 100%;
    }
    @media (min-width: $screen-sm-min) {
        width: percentage(1/2);
    }
    @media (min-width: $screen-md-min) {
        width: percentage(2/4);
    }
    @media (min-width: $screen-lg-min) {
        width: percentage(1/3);
    }
}

.btn-group-breadcrumb-portfolio {
    .btn {
        background-image: none;
        text-shadow: none;
        padding-left: 20px;
        border-color: $btn-default-border;
        background-color: $btn-default-bg;
        color: $text-color;
        @include box-shadow(none);
        > span {
            display: block;
            max-width: 120px;
            float: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &:before,
        &:hover:before,
        &:active:before,
        &:focus:before {
            border-left-color: darken($btn-default-bg, 2%);
            @include transition (border-left-color 0.3s $easing);
        }
        &:hover,
        &:active,
        &:focus {
            background-color: darken($btn-default-bg, 2%);
        }
        .btn-group:first-child > &:first-child {
            padding-left: $padding-small-horizontal;
        }
    }
    > .btn-group,
    > .btn {
        &:after,
        &:before {
            width: 0;
            height: 0;
            border-style: solid;
            display: block;
            content: '';
            position: absolute;
        }
    }
    > .btn-group {
        &.open .dropdown-toggle {
            @include box-shadow(none);
            background-image: none;
            &:before,
            &:hover:before,
            &:active:before,
            &:focus:before {
                border-left-color: darken($btn-default-bg, 2%);
                @include transition (border-left-color 0.3s $easing);
            }
        }
        &:after {
            border-color: transparent transparent transparent $btn-default-border;
            top: 0;
            bottom: 0;
            border-width: 16px 0 16px 12px;
            left: -webkit-calc(100% - 1px);
            left: -moz-calc(100% - 1px);
            left: calc(100% - 1px);
            z-index: 20;
        }
        &:before {
            border-width: 15px 0 15px 11px;
            border-color: transparent transparent transparent $btn-default-bg;
            position: absolute;
            top: 1px;
            left: -webkit-calc(100% - 1px);
            left: -moz-calc(100% - 1px);
            left: calc(100% - 1px);
            z-index: 21;
            bottom: 1px;
            @include transition (border-left-color 0.3s $easing);
        }
        &:hover:before,
        &:active:before {
            border-left-color: darken($btn-default-bg, 2%);
            @include transition (border-left-color 0.3s $easing);
        }
    }
    > .btn {
        &:after {
            border-color: transparent transparent transparent $btn-default-border;
            top: -1px;
            left: 100%;
            border-width: 16px 0 16px 13px;
            z-index: 20;
        }
        &:before {
            border-width: 15px 0 15px 12px;
            border-color: transparent transparent transparent $btn-default-bg;
            position: absolute;
            top: 0;
            left: 100%;
            z-index: 21;
            @include transition (border-left-color 0.3s $easing);
        }
    }
}

.breadcrumb-portfolio {
    margin: 10px 0;
    padding: 0;
    padding-left: 0;
}

// Nine Box Grid
.main-content,
.side-content {
    position: relative;
    float: left;
    min-height: 1;
}

.side-content {
    width: 250px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #FBFBFB;
    border-radius: $border-radius-base;
    @include box-shadow(0 0 2px rgba(0, 0, 0, 0.2));
    .nav-pills > li > a {
        padding-left: 5px;
        padding-right: 5px;
        line-height: 1;
    }
    .quadrant-list-item-info {
        left: auto;
        right: 0;
    }
}

.main-content {
    width: calc(100% - 265px);
    width: -moz-calc(100% - 265px);
    width: -webkit-calc(100% - 265px);
    padding-left: 70px;
    padding-bottom: 70px;
    .modal & {
        width: calc(100% - 35px);
        width: -moz-calc(100% - 35px);
        width: -webkit-calc(100% - 35px);
    }
    // 70px offset for grid legend found on the left side
    &.extend-ninebox {
        width: calc(100% - 30px);
        width: -moz-calc(100% - 30px);
        width: -webkit-calc(100% - 30px);
    }
}

.nine-box {
    display: table;
    border: 1px solid darken($gray-lighter, 20%);
    position: relative;
    z-index: 1;
    width: 100%;
    .nine-box-row:hover + .box-legend {
        display: inline;
    }
    .nine-box-row:first-child:hover + .box-legend {
        top: -70px;
    }
    .nine-box-row:nth-child(3):hover + .box-legend {
        top: 132px;
    }
    .nine-box-row:nth-child(5):hover + .box-legend {
        top: 331px;
    }
    &:before,
    &:after {
        position: absolute;
        display: block;
        text-align: center;
        font-family: $font-family-bold;
        font-size: 22px;
        letter-spacing: 1px;
        color: $brand-blue;
    }
    &:before {
        content: 'POTENTIAL';
        @include transform(rotate(-90deg));
        top: calc(50% - 27px);
        top: -webkit-calc(50% - 27px);
        top: -moz-calc(50% - 27px);
        left: -120px;
    }
    &:after {
        bottom: -80px;
        left: calc(50% - 83px);
        left: -webkit-calc(50% - 83px);
        left: -moz-calc(50% - 83px);
        content: 'PERFORMANCE';
    }
    .nine-box-row {
        display: table-row;
        position: relative;
    }
    .nine-box-category {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        letter-spacing: 1px;
        font-size: 18px;
        color: $gray-light;
        z-index: -1;
        &:before,
        &:after {
            position: absolute;
            text-transform: uppercase;
            display: block;
            font-style: normal;
        }
        &:before {
            @include transform(rotate(-90deg));
            right: 100%;
        }
        &.high:before,
        &.high:after {
            content: 'high';
        }
        &.high:before {
            top: calc(16.6666% - 20px);
            left: -50px;
            top: -webkit-calc(16.6666% - 20px);
            left: -50px;
            top: -moz-calc(16.6666% - 20px);
            left: -50px;
        }
        &.high:after {
            bottom: -40px;
            right: calc(16.6666% - 23px);
            bottom: -40px;
            right: -webkit-calc(16.6666% - 23px);
            bottom: -40px;
            right: -moz-calc(16.6666% - 23px);
        }
        &.medium:before,
        &.medium:after {
            content: 'medium';
        }
        &.medium:before {
            top: calc(50% - 11px);
            left: -50px;
            top: -webkit-calc(50% - 11px);
            left: -50px;
            top: -moz-calc(50% - 11px);
            left: -50px;
        }
        &.medium:after {
            bottom: -40px;
            right: calc(50% - 35px);
            bottom: -40px;
            right: -webkit-calc(50% - 35px);
            bottom: -40px;
            right: -moz-calc(50% - 35px);
        }
        &.low:before,
        &.low:after {
            content: 'low';
        }
        &.low:before {
            bottom: calc(16.6666% - -7px);
            left: -50px;
            bottom: -webkit-calc(16.6666% - -7px);
            left: -50px;
            bottom: -moz-calc(16.6666% - -7px);
            left: -50px;
        }
        &.low:after {
            bottom: -40px;
            left: calc(16.6666% - 21px);
            bottom: -40px;
            left: -webkit-calc(16.6666% - 21px);
            bottom: -40px;
            left: -moz-calc(16.6666% - 21px);
        }
    }
    .nine-box-quadrant {
        display: table-cell;
        width: percentage(1/3);
        height: 200px;
        vertical-align: middle;
        border: 1px solid darken($gray-lighter, 20%);
        position: relative;
        outline: 2px solid transparent;
        @include transition(all .3s $easing);
        &:before {
            position: absolute;
            display: block;
            text-align: center;
            font-family: $font-family-bold;
            font-size: 24px;
            color: darken($gray-lighter, 20%);
            top: 5px;
            left: 5px;
        }
        // &:after {
        //     content: attr(data-performance);
        //     position: absolute;
        //     top: -49px;
        //     z-index: 99;
        //     color: #ddd;
        //     white-space: nowrap;
        //     visibility: hidden;
        //     font-size: 20px;
        // }
        &.q1:before {
            content: '1'
        }
        &.q2:before {
            content: '2'
        }
        &.q3:before {
            content: '3'
        }
        &.q4:before {
            content: '4'
        }
        &.q5:before {
            content: '5'
        }
        &.q6:before {
            content: '6'
        }
        &.q7:before {
            content: '7'
        }
        &.q8:before {
            content: '8'
        }
        &.q9:before {
            content: '9'
        }
        &.q9 {
            // .box-status:after {
            //     position: absolute;
            //     display: block;
            //     text-align: center;
            //     font-family: $font-family-bold;
            //     font-size: 12px;
            //     top: -14px;
            //     right: -2px;
            //     padding: 1px 6px;
            //     content: 'Your LMVPs';
            //     color: #8E8E8E;
            //     background-color: $gray-lighter;
            // }
        }
        &:hover {
            border-color: $brand-primary;
            background-color: #FBFBFB;
            outline: 2px solid $brand-primary;
            z-index: 60 !important;
            @include transition(all .3s $easing);
            @include box-shadow(0 1px $grid-gutter-width/2 rgba(0, 0, 0, 0.3));
            &:before {
                color: $brand-primary;
            }
            &:after {
                visibility: visible;
            }
            &:first-child:after {
                left: calc(150% - 56px);
                left: -webkit-calc(150% - 56px);
                left: -moz-calc(150% - 56px);
            }
            &:not(:first-child):not(:last-child):after {
                left: calc(50% - 56px);
                left: -webkit-calc(50% - 56px);
                left: -moz-calc(50% - 56px);
            }
            &:last-child:after {
                right: calc(150% - 48px);
                right: -webkit-calc(150% - 48px);
                right: -moz-calc(150% - 48px);
            }
            > .box-status {
                &:after {
                    background-color: $brand-primary;
                    color: white;
                }
            }
        }
    }
}

.popover-init {
    // width: 80px;
    // height: 20px;
    // position: absolute;
    // left: 0;
    // top: 0;
    // z-index: 89;
    // background-color: #ddd;
    & + .popover {
        top: -229px !important;
    }
}

.instruction-1 {
    // background: url(/Content/assets/img/nineBox-instruction.png);
    // height: 160px;
    width: 222px;
    /* display: block; */
    background-size: cover;
}

.quadrant-list {
    $radius: 34px;
    width: 100%;
    list-style: none;
    padding: $grid-gutter-width/2;
    margin: 0;
    text-align: center;
    .quadrant-list-item {
        display: inline-block;
        margin: 2px;
        border-radius: $radius;
        &:hover {
            .avatar {
                @include transform(scale(1.2));
                @include transition(all .3s $easing);
                z-index: 5;
                cursor: pointer;
                border: 2px solid $brand-primary;
            }
        }
        &.done-assessing {
            &:hover {
                &:before {
                    left: 81%;
                    // transition: all 0.3s cubic-bezier(0, 0.96, 0.86, 0.99);
                    @include transition(all $easing 2s);
                    transform: scale(1.2);
                }
            }
            &:before {
                content: '\f269';
                font: normal normal normal 14px/1 "Material Design Iconic Font";
                color: $brand-green;
                position: absolute;
                z-index: 1;
                right: -2px;
                background: #fff;
                border-radius: 29px;
                font-size: 13px;
                top: 4px;
                @include transition(all $easing 2s);
            }
            &:active {
                border-color: $brand-blue;
            }
            // & .avatar:before {
            //     position: absolute;
            //     top: 0;
            //     bottom: 0;
            //     left: 0;
            //     right: 0;
            //     background: rgba(255, 255, 255, 0.3);
            //     width: 34px;
            //     height: 34px;
            //     z-index: 0;
            //     content: '\f1c3';
            //     font-family: 'Material Design Iconic Font';
            //     padding-top: 5px;
            //     font-size: 1.4em;
            //     z-index: 2;
            //     border-radius: 36px;
            //     text-align: center;
            //     color: $brand-blue;
            //     @include opacity(0);
            //     @include transition (all 0.3s $easing);
            //     @include transform(scale(0));
            // }
            // & .avatar:hover:before {
            //     @include opacity(1);
            //     @include transition (all 0.3s $easing);
            //     @include transform(scale(1));
            // }
        }
    }
    .avatar {
        max-width: $radius;
        width: $radius;
        height: $radius;
        border-radius: $radius;
        border: 2px solid transparent;
        @include transform(scale(1));
        @include transition(all .3s $easing);
    }
    &.no-direct-reports {
        &:before {
            display: block;
            text-align: center;
            text-transform: uppercase;
            font-size: 12px;
            color: $text-muted;
            content: 'Not found';
        }
    }
}

.quadrant-list-item-info {
    width: 580px !important;
    display: none;
    // vertical-align: top;
}

.quadrant-item-data {
    // width: 100%;
    // float: left;
    // min-height: 220px;
    display: table-cell;
    .tab-content {
        width: 420px;
    }
}

.open {
    > .dropdown-menu.quadrant-list-item-info {
        display: table;
    }
}

.quadrant-item-actions {
    text-align: left;
    @include clearfix();
    display: table-cell;
    // float: left;
    // width: 35%;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fafafa;
    border-left: 1px solid darken($gray-lighter, 10%);
    overflow: hidden;
    // min-height: 245px;
    // position: absolute;
    &.own {
        position: static;
    }
    // position: absolute;
    .btn {
        border-radius: 0;
        margin: 0;
        text-align: left;
        &:active,
        &:focus,
        & {
            outline: none;
        }
    }
    .list-group {
        width: 216px;
        min-height: 240px;
    }
    .list-group-item {
        .btn-group-sm .btn {
            padding: 6px 5px;
        }
    }
    .btn-group-moveto {
        margin: 10px 0;
        > .btn {
            width: percentage(1/3);
            position: relative;
            float: left;
            text-align: center;
            margin: -1px -1px 0 0;
            border-radius: 0;
        }
    }
    .m_margin-t {
        margin-top: -2px;
        display: block;
    }
}

.quadrant-list-item-heading {
    padding: $grid-gutter-width/2;
    border-bottom: 1px solid $gray-lighter;
    margin: 0;
    text-align: center;
    cursor: default;
}

.quadrant-scroll {
    overflow-y: auto;
    max-height: 275px;
    position: relative;
    cursor: default;
    .list-unstyled {
        li {
            position: relative;
            margin-bottom: 10px;
        }
    }
    .admin-view & {
        max-height: 307px;
    }
}

.incident-number {
    border-radius: 3px;
    background-color: $brand-primary;
    color: #fff;
    padding: 3px 0;
    width: 20px;
    display: inline-block;
    text-align: center;
}

.incident-question {
    display: inline-block;
    width: calc(100% - 35px);
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: top;
    margin-left: 6px;
    color: $gray-light;
    line-height: 1.1;
    &[aria-expanded="false"] {
        white-space: nowrap;
    }
    &.collapsed[aria-expanded="false"] {
        white-space: nowrap;
    }
    &[aria-expanded="true"] {
        white-space: normal;

    }
    &:focus {
        color: $gray-light!important;
    }
}

.incident-toggler {
    position: absolute;
    right: -10px;
    top: 1px;
    font-family: "Material Design Iconic Font";
    z-index: 999;
    padding: 0 7px;
    background: transparent;
    border: 0;
    &:before {
        content: "\f278";
    }
    &.in {
        white-space: normal;
        transform: rotate(45deg);
    }
}

.incident {
    font-size: 14px;
    margin: 12px 0 0 0;
    position: relative;
    padding: 0 0 15px 27px;
    line-height: 15px;
    text-align: justify;
    quotes: "\201C""\201D";
    // display: none;
    &:before {
        content: open-quote;
        font-size: 48px;
        position: absolute;
        top: 10px;
        left: 5px;
        color: #dadada;
    }
}

.quadrant-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: $zindex-dropdown - 1;
    display: block;
}

.close-custom-dropdown {
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: transparent;
}

.nine-box-row > .nine-box-quadrant {
    &:first-child .quadrant-list-item-info {
        left: 0 !important;
        right: auto;
    }
    &:last-child .quadrant-list-item-info {
        left: auto;
        right: 0 !important;
    }
    &:not(:last-child):not(:first-child) .quadrant-list-item-info {
        left: calc(50% - 190px);
        left: -webkit-calc(50% - 190px);
        left: -moz-calc(50% - 190px);
    }
}

.preferred-role-item {
    &.preferred-role-item-xs {
        width: 100% !important;
        .role-score {
            font-size: 1em;
            width: 40px;
            height: 40px;
            border-radius: 40px;
            margin-right: 5px;
        }
        .caption {
            margin-top: -3px;
            padding-left: 5px;
            display: block;
            float: left;
        }
    }
}

.btn-group-grid {
    margin-top: 5px;
    .btn {
        margin-left: -1px !important;
        margin-top: -1px;
        width: percentage(1/3);
        text-align: center !important;
        vertical-align: middle;
    }
}

.h-view {
    display: block;
    margin-bottom: 0;
    text-transform: uppercase;
    padding: 10px;
    font-size: 0.7em;
    background-color: $gray-lighter;
}

.h_yesno-textarea {
    .btn-group > .btn {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
    .form-control {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        width: 100%;
    }
}

.h_pos-relative {
    position: relative;
}

.h_nine-box-tab {
    padding-left: $grid-gutter-width * 3;
    padding-bottom: $grid-gutter-width * 3;
    z-index: 1;
    position: relative;
    .popover {
        max-width: inherit;
    }
}

.h_year-for-ninebox {
    display: inline-block;
    position: absolute;
    top: -2px;
    bottom: -2px;
    right: -15px;
    width: 78px !important;
    height: 30px;
    background-color: transparent;
    border: none;
    color: inherit;
    outline: none;
    font-size: 12px;
    & + i.md {
        position: absolute;
        top: 8px;
        right: 10px;
    }
}

// .h_pipe {
//     border-right: 1px solid #DADADA;
//     display: block;
//     padding-right: 10px;
//     margin-top: -5px;
//     margin-bottom: -5px;
//     padding-top: 5px;
//     padding-bottom: 5px;
// }
// .h_insert-select {
//     padding-right: 70px !important;
//     overflow: hidden;
//     position: relative;
//     &.active,
//     &:active {
//         .h_pipe {
//             border-right: 1px solid #737372;
//         }
//     }
// }
.h_ninebox-year {
    width: 150px;
    float: right;
    margin-left: 0 !important;
    margin-bottom: 10px;
    .input-group-addon {
        width: 105px;
        background-color: #F9F9F9;
    }
    .h_filter {
        background-color: white;
        select.form-control {
            width: 74px;
            border-radius: 0;
            border: none;
            outline: 1px solid #CCCCCC;
            height: 30px;
            &:focus,
            &:active {
                height: 32px;
                outline: 2px solid $brand-cyan;
            }
        }
    }
}

.h_expanded-ninebox {
    .navbar-fixed-top,
    .carousel-nav-picker,
    .h_hide-on-expand {
        display: none !important;
    }
    .sub-navbar {
        top: 0 !important;
    }
    .sub-navbar + .container-fluid {
        margin-top: $subnavbar-height + ($grid-gutter-width/2) !important;
    }
    // .nine-box .nine-box-quadrant { height: 130px; }
    padding-bottom: 0;
}

.m_margin-l-t-r {
    margin-top: 5px;
    margin-left: -$grid-gutter-width/2;
    margin-right: -$grid-gutter-width/2;
}

.assessing {
    margin-top: 25px;
}

.m_padding-all {
    padding: 0;
}

.r_m-bottom {
    margin-bottom: 0;
}

//  @include keyframes(opaque){
//     0%{opacity: 0;}
//     100%{opacity: 1;}
// }
.box-status {
    position: absolute;
    display: block;
    text-align: center;
    font-family: $font-family-base;
    font-size: 15px;
    color: #d5d5d5;
    top: 11px;
    left: 29px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 3px 0;
    right: 0;
    text-align: left;
    //opacity: 0;
    // @include animation(opaque .3s $easing 2s);
}

.box-legend {
    position: absolute;
    margin: auto;
    background-color: #000;
    border-radius: 2px;
    color: #fff;
    padding: 4px 5px;
    text-align: center;
    left: 0;
    right: 0;
    width: 38%;
    z-index: 50;
    box-shadow: 0px 2px 13px -2px #aaa;
    padding-bottom: 26px;
    display: none;
    // &:before {
    //     content: attr(data-potential);
    // }
    // &:after{
    //  content: attr(data-perfomance)
    // }
}

.pseudo-quadrant {
    position: absolute;
    top: -49px;
    left: calc(50% - 19px);
    z-index: 99;
    color: #fff;
    // &:after {
    //     content: attr(data-perfomance);
    //     display: none;
    // }
}

// .nine-box-quadrant {
//     &:hover {}
// }
.glow {
    @include animation(glow 13s $easing 2s);
}

@include keyframes(glow) {
    from {
        @include box-shadow( 0px 3px 7px 3px #A7A7A7);
        border: 2px solid #3566B6;
    }
    to {
        @include box-shadow(none);
    }
}

.nav-eligibles {
    h5 {
        margin-bottom: 0;
    }
    span.badge {
        color: #fff;
        font-size: 10px;
        padding: 5px 10px;
        margin: -5px 0;
        @include box-shadow(none);
    }
}

.breadcrumb-nav {
    margin-top: 15px;
}

.deliberation-filter {
    float: left;
    margin-bottom: 10px;
    .input-group {
        width: 300px;
        float: left;
        margin-right: 5px;
    }
}

.deliberation-breadcrumbs {
    margin-bottom: 20px;
    .btn-toolbar {
        margin-left: 0;
        > .btn {
            margin-left: 0;
            margin-right: 5px;
        }
        .btn-group {
            margin-left: 0;
        }
    }
    .dropdown-menu>li {
        > a{
            padding: 15px;
        }
        &:first-child>a {
            padding: 10px 15px;
        }
    }
}

#directReportModal .modal-body {
    padding: 30px 0 22px 20px;
    float: left;
    width: 100%;
}
