// Change Avatar
.modal-avatar {
	.btn-left-select, .btn-right-select {
		position: absolute;
		top: 50%;
		z-index: 30;
		width: 50px;
	}

	.btn-left-select { 
		left: 0;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	.btn-right-select { 
		right: 0;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
}

.avatar-list-container {
	width: auto;
	position: relative;
	overflow: hidden;
	z-index: 0;

	&:before, &:after {
		display: block;
		position: absolute;
		content: '';
		background-color: transparent;
		top: 0;
		bottom: 0;
		width: 160px;
		z-index: 10;
	}

	&:before {
		left: 0;
		@include gradient-horizontal(white, transparent);
	}

	&:after {
		right: 0;
		@include gradient-horizontal(transparent, white);
	}

	.avatar-list {
		padding-left: 0;
		margin-left: 0;
		margin-bottom: 0;
		display: block;
		position: relative;
		list-style: none;
		overflow-x: hidden;
		width: auto;
		display: block;

		.avatar-list-item {
			position: inherit;
			display: table-cell;
			text-align: center;

			> label {
				padding: $grid-gutter-width/2;
				border: 2px solid transparent;
				border-radius: $border-radius-base;
				display: block;
				clear: both;
				width: 230px;
				text-align: center;

				> span.ua {
					margin: auto auto;
					display: block;
					text-align: center;
				}

				&:hover {
					cursor: pointer;
					border: 2px solid $brand-blue;
				}
			}

			input[type="radio"] {
				position: absolute;
				@include opacity(0);

				& + .ua:before {
				    font-family: 'Material Design Iconic Font';
				    position: absolute;
				    display: block;
				    content: '\f222';
				    font-size: 2em;
				    width: 30px;
				    height: 30px;
				    border-radius: 30px;
				    background-color: white;
				    color: $brand-success;
				    padding: 0;
				    line-height: 1;
				    border: 2px solid white;
				    top: 0;
				    right: 0;
				}

				&:not(:checked) + .ua:before{
					@include opacity(0);
				}

				&:checked + .ua:before {
					@include opacity(1);
				}
			}
		}
	}
}

.ua {
	background: url(../img/routes/people-sprites.png);
	background-repeat: no-repeat;
	height: (500px)/2;
	display: block;
	background-size: calc(4676px / 2) calc(1427px / 2);

	&.ua-male {
		&.ua-healthbuff { @include map-avatar(143px,0,-930px); }
		&.ua-fashionista { @include map-avatar(143px,-292px,-930px); }
		&.ua-coolkid { @include map-avatar(148px,-598px,-930px); }
		&.ua-athlete { @include map-avatar(163px,-889px,-930px); }
		&.ua-achiever { @include map-avatar(136px,-1450px,-930px); }
		&.ua-student { @include map-avatar(206px,-1740px,-930px); }
		&.ua-artist { @include map-avatar(144px,-2176px,-930px); }
	}

	&.ua-female {
		&.ua-healthbuff { @include map-avatar(146px,-146px,-930px); }
		&.ua-fashionista { @include map-avatar(152px,-438px,-930px); }
		&.ua-coolkid { @include map-avatar(135px,-748px,-930px); }
		&.ua-athlete { @include map-avatar(396px,-1052px,-930px); }
		&.ua-achiever { @include map-avatar(150px,-1587px,-930px); }
		&.ua-student { @include map-avatar(230px,-1948px,-930px); }
		&.ua-artist { @include map-avatar(178px,-2322px,-930px); }
	}
}


// Upload Image
.modal-body-upload {
	display: table;
	width: 100%;
	padding: $grid-gutter-width;
	border-bottom-right-radius: $border-radius-base;
	border-bottom-left-radius: $border-radius-base;

	.profile-img {
		padding: $grid-gutter-width / 2 ;
		position: relative;

		.avatar {
			width: $avatar-md;
			height: $avatar-md;
			max-width: $avatar-md;
			background-size: $avatar-md + 30;
			background-position: center center;
			position: relative;
		}

		.avatar-picker {
			width: $avatar-md;
			max-width: $avatar-md;
			height: $avatar-md;
			position: relative;
			border-radius: $avatar-md;
			background-color: #9C9C9C;

			.filepicker-container {
				position: absolute;
				width: 165px;
				height: 160px;
				overflow: hidden;
				left: 0;
				top: 0;
				bottom: 0;
				right: 0;
			}
			
			.filepicker {
				position: absolute;
				right: 0;
				margin-left: -100px;
				padding-top: 80px;
				padding-bottom: 80px;
				padding-right: 50px;
				z-index: 2;
				font-size: 25px;
				opacity: 0;
				-moz-opacity:0;
				filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

				&:hover { cursor: pointer; }
				&:active, &:focus { outline: none; }
			}


			.icon {
				display: table-cell;
				width: $avatar-md;
				height: $avatar-md;
				vertical-align: middle;
				z-index: 1;
				> i.md {
					display: block;
					text-align: center;
					color: white;
					opacity: 0.8;
					filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
					-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
				}
			}

			&:hover {
				cursor: pointer;
				background-color: darken(#9C9C9C,10%);

				.icon {
					> i.md {
						color: #fff;
						opacity: 0.8;
						filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
						-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
					}
				}
			}
		}

		.avatar-picker > .picker {
			width: $avatar-md;
			height: $avatar-md;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
			z-index: $zindex-modal;
		}
		.picker {
			&:hover {
				cursor: pointer;
			}

			&:active, &:focus {
				outline: none;
			}
		}
	}

	.profile-change-control {
		display: block;
		clear: both;
		position: relative;
	}
}

