// Core variables and mixins
@import "../../assets-common/css/bootstrap/variables";
@import "../../assets-common/css/bootstrap/mixins";

@import "asset-variables.scss";
@import "assets-route/hud.scss";
@import "assets-route/clouds.scss";
@import "assets-route/trees.scss";
@import "assets-route/mountains.scss";
@import "assets-route/platform.scss";
@import "assets-route/buildings.scss";
@import "assets-route/car.scss";
@import "assets-route/road-end.scss";

.viewport {
	position: absolute;
	width: 100%;
	height: calc(100% - 60px);
	top: $navbar-height;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: $viewport-zindex;
	margin: 0 !important;
}

.background, .prebackground, .midground, .foreground {
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	@include user-select(none);
	min-width: 800px;
}

.background {
	z-index: $background-zindex;	
	bottom: $background-y;
	height: $background-height;
	background-size: cover;
	@include gradient-vertical-three-colors( #00A5F5, #20BFF9, 70%, #EDC08F );
}

.prebackground {
	z-index: $prebackground-zindex;
	bottom: $background-y;
	height: calc(100% - 50px);

	.cityscape-bg {
		display: block;
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: $land-y;
		height: 100%;
		background-image: url(../img/routes/cityscape-day.svg);
		background-size: auto 315px;
		background-repeat: repeat-x;
		background-position: center bottom;
	}

	.land-hedges {
		background: url(../img/routes/hedges.png);
		background-repeat: repeat-x;
		display: block;
		position: absolute;
		height: 40px;
		left: 0;
		right: 0;
		bottom: $land-y + 20;
		background-size: auto 40px;
		z-index: 1;

		&:before {
			@include sprite();
			bottom: 37px;
			left: 82px;
			width: 305px;
			height: 67px;
			background-size: auto 177.5px + $sprite-offset;
			background-position: -127px -206px;
		}
	}
}

.midground {
	background-color: transparent;
	z-index: $midground-zindex;
	bottom: $midground-y;
	height: $midground-height;
}

.foreground {
	background-color: transparent;
	z-index: $foreground-zindex;
	bottom: $foreground-y;
	height: $foreground-height;
	pointer-events: none;
}

// Helpers
.environment-indicator > .icon {
	font-size: 3.2em;
	display: block;
	margin: auto;
	margin-top: 0;
	text-align: center;
}

*[data-meridiem="day"] {
	.background, .environment-indicator {
		@include gradient-vertical-three-colors( #00A5F5, #20BFF9, 70%, #EDC08F );
	}
	.environment-indicator > .icon {
		color: yellow;
		text-shadow: 0 1px 4px #0D91C3;
	}

	.clouds {
		&,&:before, &:after {
			background-color: #C4ECFF;
		}
	}

	.prebackground .cityscape-bg { background-image: url(../img/routes/cityscape-day.svg); }
}
*[data-meridiem="sunset-sunrise"] {
	.background, .environment-indicator {
		@include gradient-vertical-three-colors( #EF7A1C, #FFE786, 70%, #EDC08F );
	}
	.environment-indicator > .icon {
		color: yellow;
		text-shadow: 0 1px 4px rgb(242, 140, 45);
	}
	.clouds {
		&,&:before, &:after {
			background-color: #FFD0A3;
		}
	}

	.prebackground .cityscape-bg { background-image: url(../img/routes/cityscape-afternoon.svg); }
}
*[data-meridiem="evening"] { 
	.background, .environment-indicator {
		@include gradient-vertical-three-colors( #110B21, #212A5A, 70%, #010306 );
	}
	.environment-indicator > .icon {
		color: white;
		text-shadow: 0 1px 4px rgba(255,255,255,0.5);
	}
	.clouds {
		&,&:before, &:after {
			background-color: #9EA2CC;
		}
	}

	.prebackground .cityscape-bg { background-image: url(../img/routes/cityscape-evening.svg); }
}

.r_border-top{ border-top: none; }