.panel-profile {
	.thumbnail {
		position: relative;
		@include clearfix();
		.caption, .thumbnail-control { 
			position: relative; float: left;
			@media (max-width: $screen-xs-max) {
				width: 100%;
				clear: both;
			}
		}
		.caption {
			@media (min-width: $screen-sm-min) {
				width: calc(100% - 200px);
				width: -moz-calc(100% - 200px);
				width: -webkit-calc(100% - 200px);	
			}
		}
		.thumbnail-control {
			@media (min-width: $screen-sm-min) {
				width: 200px;
			}
			text-align: center;
		}
		.page-header { margin-top: 20px; }
		.list-group-item {
			position: relative;
			padding: 0;
			a {
				outline: none !important;
				padding: $grid-gutter-width/2;
				padding-left: $grid-gutter-width + $grid-gutter-width/2;
				display: block;
				display: inline-block;
				width: calc(100% - 120px);
				width: -webkit-calc(100% - 120px);
				width: -moz-calc(100% - 120px);

				&.default {
					&:before {  }
				}
			}
			.btn { display: none; position: absolute; top: 10px; right: $grid-gutter-width/2; }
			&:hover {
				.btn{
					display: inline-block;
				}
			}
		}
	}
}

.btn-view-route {
	@media (min-width: $screen-sm-min) {
		margin-top: 20px;
		> * { display: table-cell; vertical-align: middle; }
		> span { padding-left: $grid-gutter-width/2; }
	}
}