﻿.sub-navbar-dynamic {
    background-color: $brand-blue;
}

.udrive-maintenance {
    .img-error-container {
        position: relative;
        margin-bottom: 110px;
    }
    // manage enrollees
    .enrollee.panel-default {
        border-color: transparent;
        border: 1px solid #F1F1F1;
        box-shadow: none;
    }
    .schedule-list{
    	width: auto;
    }
    .schedule {
        width: 50%;
        height: 62px;
        @media (min-width: $screen-sm-max) {
            width: 192px;
        }
        .bootstrap-switch {
            top: 7px;
        }
        .schedule-detail {
            padding: 7px 8px;
            text-align: center;
        }
    }
    .avatar > img {
        border: 1px solid #F5EEE5;
    }
    .panel-gray {
        background-color: $gray-lighter;
        padding: 10px;
        margin-top: 30px;
    }
    .modal-header {
        h4 {
            margin: 0;
        }
    }
    .class-setup {
        > .k-header {
            position: absolute;
            top: -63px;
            right: 0;
            border: 0;
            background: transparent;
        }
    }
    // customized  form-controls
    input.form-control {
        height: 31px;
    }
    .control-input {
        .k-dropdown,
        .k-datetimepicker {
            width: 100%;
        }
        &.with-icon {
            .k-autocomplete,
            .k-dropdown {
                width: calc(100% - 40px);
                width: -webkit-calc(100% - 40px);
                width: -moz-calc(100% - 40px);
                float: right;
                margin-top: 1px;
            }
        }
    }
    .calc-width {
        width: calc(100% - 71px);
        width: -webkit-calc(100% - 83px);
        width: -moz-calc(100% - 71px);
        .form-group {
            width: 20%;
            float: left;
            + .form-group {
                padding-left: 8px;
            }
        }
    }
    .k-datetimepicker {
        .k-select {
            > .k-icon {
                margin: 7px 5px;
                &:hover {
                    opacity: .80;
                }
            }
            &:after {
                content: "|";
                color: transparent;
                border-right: 1px solid #ccc;
                position: absolute;
                right: 50%;
                bottom: 0;
                top: 0;
            }
        }
    }
    .js-class-details {
        + .js-class-details {
            margin-top: 10px;
        }
    }
    [id*="details-container"] {
        position: relative;
    }
    // number of days button
    .no-days-btn {
        position: absolute;
        bottom: 3px;
        right: 0;
        text-align: center;
        width: 72px;
    }
    %k-control {
        margin-top: 1px;
    }
    %k-input {
        height: 2.1em;
        line-height: 1.95em;
        padding: .177em 0;
    }
    .bootstrap-switch {
        .bootstrap-switch-label {
            color: $gray-light;
            font-size: 12px;
        }
    }
    .instructorled {
        padding-top: 4px;
        text-align: left;
        @media (min-width: $screen-sm-max) {
            padding-top: 40px;
            text-align: center;
        }
    }
    .switch-desc {
        /* margin-top: -20px; */
        color: $gray-light;
        text-align: left;
        @media (min-width: $screen-sm-max) {
            text-align: center;
        }
    }
    // customized number of days label
    .label-calendar {
        $font: 35px;
        $height-before: 22px;
        width: 66px;
        height: 45px;
        border-top: 0;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        font-size: $font;
        text-align: center;
        line-height: $font+10;
        color: #555555;
        position: absolute;
        top: -75px;
        right: 9px;
        margin: 30px 0 0;
        background: #F5F5F5;
        box-shadow: 0px -4px 0px 0px #E4E4E4 inset;
        $border: 11px solid #FA8E00;
        &:before {
            content: "No. of days";
            text-transform: uppercase;
            background-color: #FB8E00;
            color: #fff;
            /* padding: 5px 9px; */
            font-size: 9px;
            display: block;
            margin-top: -$height-before;
            // line-height: 19px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            height: $height-before;
            line-height: $height-before;
        }
        &:after {
            content: " ";
            display: inline-block;
            height: 5px;
            background: transparent;
            position: absolute;
            bottom: 152%;
            right: 0;
            left: 0;
            width: 75%;
            margin: auto;
            border-left: $border;
            border-right: $border;
            font-weight: bold;
        }
    }
    // step-by-step display
    ol {
        padding: 0;
        $size: 40px;
        > li {
            @include clearfix;
            display: block;
            counter-increment: step-counter;
            background-color: #fff;
            right: 0;
            border-bottom: 1px solid $gray-lighter;
            margin: 20px 0 25px;
            padding-bottom: 15px;
            &:before {
                display: block;
                float: left;
                content: counter(step-counter);
                background-color: #808080;
                color: #fff;
                font-size: 22px;
                text-align: center;
                width: $size;
                height: $size;
                padding: 0;
                line-height: $size;
                margin: -6px 10px 0 0;
            }
            h3 {
                margin: 30px 34px 30px;
            }
        }
    }
}
