// Import Core variables and mixins
@import "../assets-common/css/bootstrap/variables";
@import "../assets-common/css/bootstrap/mixins";

.config-controls {
	position: fixed;
	right: 15px;
	top: $navbar-height*3;
	z-index: $zindex-dropdown - 1;
	border-radius: $border-radius-base;
	background-color: transparentize(#e3e3e3,0.09);
	padding: $grid-gutter-width/2;
	width: 400px;
}

.section-heading {
	display: block;
	width: 100%;
	clear: both;
	padding: 10px 0;
	border-bottom: 1px solid #AEAEAE;
}

.bs-example {
	padding: 15px;
	padding-top: 55px;
	border: 1px solid #AEAEAE;
	background-color: #fcfcfc;
	border-radius: 3px;
	position: relative;
	margin-bottom: 20px;

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		content: 'CODE SNIPPETS';
		display: block;
		width: 100%;
		color: white;
		background-color: $gray;
		padding: 10px 15px;
		font-size: 0.8em;
	}
}

.float-this {
	.avatar {
		float: left;
		margin: 15px;
	}
}

.snippet-viewer textarea {
	cursor: text;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
	font-size: 0.8em;
	margin: 15px 0;
	background-color: white !important;
	cursor: text !important;
}

.with-images {
	li {
		margin-bottom: 15px;
	}
	li > img {
		display: block;
	}
}

.bg-widgets {
	background-color: #D7D7D7;
}