// Variables
// --------------------------

$zmdi-font-name:      "Material Design Iconic Font" !default;
$zmdi-font-path:      "md-iconic/fonts" !default;
$zmdi-css-prefix:     md !default;
$zmdi-icon-prefix:    md !default;
$zmdi-version:        "2.2.0" !default;

$zmdi-border-color:   #9E9E9E !default;
$zmdi-inverse:        #FFFFFF !default;
$zmdi-li-width:       (30em / 14) !default;

// Legacy code for backward capability with 2.0.x version

$md-font-path:        "md-iconic/fonts" !default;
$md-css-prefix:       md !default;
$md-icon-prefix:      md !default;
$md-version:          "2.2.0" !default;

$md-border-color:     #9E9E9E !default;
$md-inverse:          #FFFFFF !default;
$md-li-width:         (30em / 14) !default;