// Import Core variables and mixins
@import "../../assets-common/css/bootstrap/variables";
@import "../../assets-common/css/bootstrap/mixins";

// Body
.disable-mobile-breakpoint {
	min-width: $screen-md-min;
}

body {
	// background: url(../../assets-common/img/body-bg.jpg);
	// background-size: 50%;
	// background-attachment: fixed;
	background-color: white;
}

// Containers

.sidebar {
	float: left;
	min-height: 1px;
	// padding-left:  ($grid-gutter-width / 2);
	padding-right: ($grid-gutter-width / 2);
	position: relative;
	width: 100%;

	@media (max-width: $screen-sm-max) {
		width: percentage((8 / 8));
	}
	@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
		width: percentage((3 / 8));
	}
	@media (min-width: $screen-lg-min) {
		width: percentage((2 / 8));
	}
}

.data-reference {
	position: relative;
	float: left;
	min-height: 1px;
	padding-left:  0;
	padding-right: ($grid-gutter-width / 2);
	width: 100%;

	// Width
	@media (max-width: $screen-sm-max) {
		width: percentage((8 / 8));
		padding-left: ($grid-gutter-width / 2);
	}
	@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
		width: percentage((5 / 8));
	}
	@media (min-width: $screen-lg-min) {
		width: percentage((6 / 8));
	}
}

.data-reference-validations {
}

$sidebar-width: 320px;
.leave-search-sidebar {
	@media (min-width: $screen-md-min ) {
		width: $sidebar-width;
		position: absolute;
		z-index: 1;
		top: $subnavbar-height + $navbar-height + ($grid-gutter-width/2);
	}
}

.leave-main-content {
	@media (min-width: $screen-md-min ) {
		padding-left: $sidebar-width;
	}
}

// Mobile
.sub-navbar-links li.js_apply-leave-mobile {
	display: none;
    @media (max-width: $screen-xs-max) {
		display: table-cell !important;
		position: relative;
		width: 1%;
    }
}

// Style all controls
.sidebar-well {
	background-color: #F1F1F1;
	padding: $grid-gutter-width;
	border-radius: 12px;
	margin-bottom: $grid-gutter-width/2;
}

.modal-sidebar {
	margin-left: -16px;
	margin-top: -$grid-gutter-width;
	margin-bottom: -$grid-gutter-width;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: $gray-lighter;
	border-bottom-left-radius: $border-radius-base;
	border-top-left-radius: $border-radius-base;
}

.notes {
	@include make-row();

	.notes-content {
		@include make-xs-column(12);
		height: 140px;
		overflow-y: auto;

		p { white-space: pre-wrap; }
	}

	.notes-is-none {
		width: 100%;
		display: block;
		padding: 0 10px;
		margin: $grid-gutter-width/2 auto;
		text-align: center;

		span {
			display: block;
			clear: both;
			text-align: center;
			vertical-align: middle;
			text-align: center;

			.md {
				margin: auto;
				text-align: center;
			}
		}
	}
}

.leave-cancel {
	width: 100%;
	position: relative;
	clear: both;

	#confirmLock, #confirmCancellation{

		@media (max-width: $screen-xs-max) {
			display: block;
			width: 100%;
			margin-top: 5px;
		}

		@media (min-width: $screen-sm-min) {
			position: absolute;
			top: -7px;
			right: 0;
		}
	}
	#cancelLock {

		@media (max-width: $screen-xs-max) {
			display: block;
			width: 100%;
			margin-top: 5px;
		}

		@media (min-width: $screen-sm-min) {
			position: absolute;
			top: -7px;
			right: 185px;
		}
	}
}

.leave-status {
	border-radius: $border-radius-base;
	padding: 8px 20px;
	color: white;
	text-transform: uppercase;
	display: inline-block;
	width: auto;

	@media (max-width: $screen-sm-max) {
		width: 100%;
		margin-top: 15px;
	}

	@media (min-width: $screen-md-min) {
		margin-top: -15px;
		margin-bottom: 15px;
		float: right;
		margin-right: -42px;
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
		@include box-shadow(-3px 3px 0px rgba(0, 0, 0, 0.14));

		&:after {
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 10px 10px 0 0;
			position: absolute;
			bottom: 5px;
			right: -26px;
		}
	}

	&.waiting {
		background-color: $brand-blue;
		> .md:before {
			content: '\f2f6';
		}
		@media (min-width: $screen-md-min) {
			&:after {
				border-color: darken($brand-blue, 20%) transparent transparent transparent;
			}
		}
	}

	&.approved {
		background-color: $brand-green;
		> .md:before {
			content: '\f2f5';
		}
		@media (min-width: $screen-md-min) {
			&:after {
				border-color: darken($brand-green, 20%) transparent transparent transparent;
			}
		}
	}

	&.declined {
		background-color: $brand-red;
		> .md:before {
			content: '\f2f7';
		}
		@media (min-width: $screen-md-min) {
			&:after {
				border-color: darken($brand-red, 20%) transparent transparent transparent;
			}
		}
	}

	&.cancelled {
		background-color: $brand-burgundy;
		> .md:before {
			content: '\f2f7';
		}
		@media (min-width: $screen-md-min) {
			&:after {
				border-color: darken($brand-burgundy, 20%) transparent transparent transparent;
			}
		}
	}

	.md {
		float: left;
		margin-right: 10px;
		font-size: 2.2em;
	}

	span {
		display: block;
		float: left;
		font-size: 1em;
		margin-top: 7px;
	}

	@include clearfix();
}

// Badge
.badge-status {
	padding: 4px 8px;
	font-family: $font-family-bold;
	font-size: 10px;
	border-radius: 15px;
	display: inline-block;
	color: white;
	text-align: center;
	text-transform: uppercase;
	&.active {
		background-color: #109C1C;
	}
	&.inactive {
		background-color: #E83C3C;
	}
}

.page-header .btn-g{
	position: absolute;
	top: -15px;
	right: 0;
}

.search-users-form {
  padding-top: 5px;
  padding-bottom: $grid-gutter-width/2;
  margin-top: $grid-gutter-width/2;
  margin-bottom: $grid-gutter-width/2;
}


.slot {
	text-align: center;
	display: inline-block;
	margin: auto;
	font-family: $font-family-bold;
	font-size: 20px;
	border: 1px solid #e3e3e3;
	border-bottom-color: darken(#e3e3e3,10%);
	border-radius: 3px;
	max-width: 80px;
	overflow: hidden;

	.remaining {
		font-size: 1em;
		display: inline-block;
		padding: 3px 9px;
		color: $brand-green;
		border-radius: 3px;
		float: left;
	}

	.total {
		padding: 9px 5px;
		font-size: 0.6em;
		display: inline-block;
		border-left: 1px solid #eaeaea;
		background-color: #F5F5F5;
		color: $brand-blue;
		float: left;
	}
}

// Helpers and  Utilities

.text-blue {
	color: $brand-blue;
}

.control-input.well {
	margin-bottom: 0;
}

.h_border-left {
	@media (min-width: $screen-md-min) {
		border-left: 1px solid $gray-lighter;
	}
}

.h_blocked-labels {
  border-top: 1px solid #e3e3e3;
  padding-top: $grid-gutter-width/2;
  .control-label{ display: block; }
}

// .h_enroll-employee-modal-btns {

// 	@media (min-width: $screen-md-min) {
// 		position: absolute;
// 		bottom: 0;
// 		left: 33.33333%;
// 		right: 14px;
// 		padding-bottom: 30px;
// 		padding-top: 15px;
// 		z-index: 1;
// 	}
// }

.h_modal-no-header {
	.modal-content {
		border-top-left-radius: $border-radius-base;
		border-top-right-radius: $border-radius-base;
	}

	.page-header {
		margin-top: 15px;
	}
}

.scroll {
	height: 80px;
	overflow-y: auto;
}

.h_bg-orange {
	background-color: #E58200;
}

.btn-sidebar {
	background-image: none;
	@include box-shadow(0 1px 3px rgba(116, 116, 116, 0.9));
	@include transition (all 0.3s $easing);
	border: transparent !important;

	&:hover, &:focus, &:active {
		border: transparent;
		background-image: none;
		@include box-shadow(0 1px 3px rgba(116, 116, 116, 0.9));
		@include transition (all 0.3s $easing);
	}
}

.h_m-bottom-15 { margin-bottom: $grid-gutter-width/2; }
.h_m-top-15 { margin-top: $grid-gutter-width/2; }
.h_rem-m-top { margin-top: 0; }
.h_rem-m-bottom { margin-bottom: 0; }
.h_pos-rel { position: relative; }
.h_date-field {
	@media (min-width: $screen-sm-min) {
		width: 50%;
		float: left;
	}
	@media (max-width: $screen-xs-max) {
		margin-bottom: 10px;
	}
}
.m_res-pad-right {
	@media (min-width: $screen-md-min) { padding-right: 0; }
}

.h_add-p-right {
	@media (min-width: $screen-sm-min) {
		padding-right: 15px;	
	}
}

.h_form-group-date {
	.control-label {
		display: inline-block;
		clear: both;
		width: 100%;
		text-align: left;
	}

	.control-input + .control-input {
		margin-top: 5px;
		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
			margin-top: 0;
			padding-left: 15px;
		}
	}

	.control-input {
		display: inline-block;
		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
			width: 50%;
			min-height: 1px;
			position: relative;
			float: left;
		}
	}
}

.h_from_to { display: block; width: 30px; }

.m_page-title {
	@media (max-width: $screen-xs-max) {
		display: block;
		text-align: center;
		margin-bottom: $grid-gutter-width/2;
		margin-top: -$grid-gutter-width/2;
		background-color: $brand-primary;
		color: white;
	}

	@media (min-width: $screen-sm-min) {
		display: none;
	}
}

.to {
  display: inline-block;
  float: left;
  width: 1%;
  font-size: 0.8em;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: 3px;
  margin-left: -7px;
  font-family: $font-family-bold;
}

.leave-duration {
  width: 70px;
  height: 70px;
  border-radius: 15px;
  color: white;
  background-color: darken($brand-turquoise,10%);
  position: absolute;
  top: 7px;
  right: 2px;

  div {
  	display: table-cell;
  	width: 70px;
  	height: 70px;
  	vertical-align: middle;
  	text-align: center;

  	&:hover {
  		cursor: help;
  	}

  	small {
		margin-top: 3px;
		font-size: 0.7em;
		line-height: 10px;
  	}

  	span.units {
  		font-size: 2.4em;
  		margin-top: -10px;
  		&:empty {
  			content: '0';
  			display: block;
  		}

  		&.days:after,
  		&.mins:after {
  			font-size: 10px;
  			display: block;
  			clear: both;
  			margin-top: -11px;
  		}

  		&.days:after { content: 'DAYS'; }
  		&.mins:after { content: 'MINS'; }
  	}
  }
}

.h_l_v-heading {
	font-size: $font-size-h4;
	background-color: $brand-primary;
	color: white;
	padding: 10px $grid-gutter-width/2;
}

.h_float-credits-year {
	@media (min-width: $screen-sm-min) {
		position: absolute;
	    left: 220px;
	    z-index: 1;	
	}
}

// JS 
.js_modal-cutoff { display: none; }


// DataTable Custom CSS
.table-select {
	> tbody > tr > td{
		position: relative;

		&:hover {
			cursor: pointer;

			&:before {
				display: block;
				position: absolute;
				top: 0;
				left: -80px;
				background-color: $brand-cyan;
				content: 'SELECT ROW';
				font-size: 10px;
				color: white;
				border-radius: $border-radius-base;
				padding: 4px;
				z-index: 1;
				@include box-shadow(0 0 4px rgba(0,0,0,0.5));
			}
		}
	}
}

.dataTable {
	border: 1px solid #e3e3e3;
	border-radius: $border-radius-base;
}

.dataTable > thead > tr > th {
	text-align: center;
	font-size: 0.8em;
    text-transform: uppercase;
}

.dataTable > tbody > tr > {
	td {
		vertical-align: middle;
		font-size: 0.9em;
		padding: 4px 10px;
		text-align: center;

		> .label {
			font-size: 1em;
		}

		.badge-status {
			margin-bottom: 0;
		}
	}
}

.dataTables_empty {
	height: 290px;
    vertical-align: middle !important;
    font-size: 1.4em;
    color: $brand-red;
}

.dataTables_filter, .dataTables_length {
    text-transform: uppercase;
    color: #555 !important;
    font-size: 0.9em;
}

.dataTables_filter input, 
.dataTables_length select {
	@include box-sizing(border-box);
	  display: inline-block;
	  width: auto;
	  height: 32px; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
	  padding: $padding-base-vertical $padding-base-horizontal;
	  font-size: 12px;
	  font-family: $font-family-base !important;
	  line-height: $line-height-base;
	  color: $input-color;
	  background-color: $input-bg;
	  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	  border: 1px solid $input-border;
	  border-radius: $input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
	  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

	  // Customize the `:focus` state to imitate native WebKit styles.
	  @include form-control-focus;

	  // Placeholder
	  @include placeholder;

	  // Disabled and read-only inputs
	  //
	  // HTML5 says that controls under a fieldset > legend:first-child won't be
	  // disabled if the fieldset is disabled. Due to implementation difficulty, we
	  // don't honor that edge case; we style them as disabled anyway.
	  &[disabled],
	  &[readonly],
	  fieldset[disabled] & {
	    cursor: $cursor-disabled;
	    background-color: $input-bg-disabled;
	    opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
	  }
}

// Custom Bootbox
.sub-modal {
    position: absolute;
    margin-top: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.7);
}

.sub-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    overflow-y: auto;
}

