<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>[24]7 Integrated Resource Information System - Forgot Password</title>
        <meta name="description" content="IRIS is [24]7's portal for all internal web applications.">
        <meta name="author" content="Mhars, Eric, Ann, Goi, Jesh, Luigi, Gale, Mark, Xawi, Edsa">
        <meta name="copyright" content="[24]7 GIS">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link href="../_core/assets-common/css/bootstrap.min.css" rel="stylesheet" />
        <link href="../_core/assets-common/css/animate.min.css" rel="stylesheet" />
        <link href="../_core/assets-common/fonts/fontface.min.css" rel="stylesheet" />
        <link href="assets/css/main.css" rel="stylesheet" />
    </head>
    <body class="login-background">
        <div class="panel panel-default panel-identity-confirm panel-password-policy">
            <div class="panel-body">
                <h4 class="page-header password-logo-login">
                <img class="logo-brand-iris pull-left" src="assets/img/iris-logo.svg" alt="[24]7 IRIS" />
                <span class="pull-left text-left">
                    Change Password<br>
                </span>
                </h4>
                <form class="form horizontal" id="changePasswordContainer">
                    <!--Warning if password does not meet requirements-->
                    <div class="form-group text-left">
                        <label for="" class="control-label">Enter Current Password</label>
                        <div class="form-password-mask ">
                            <input type="password" id="currentpassword" class="form-control" data-element="password" placeholder="Type current password..." onkeyup="ValidateCurrentPassword_Retina()">
                            <button type="button" class="btn btn-mask-password" data-target="password">Show</button>
                        </div>
                    </div>
                    <div class="form-group text-left">
                        <label for="" class="control-label">Enter New Password</label>
                        <div class="form-password-mask" id="forpassword1"
                            data-toggle="popover"
                            data-placement="left"
                            data-trigger="manual"
                            data-animation="false"
                            data-html="true"
                            data-content="
                            <p>Your password should be:</p>
                            <div>
                                <i class='md md-alert-circle text-danger'></i> At least eight (8) characters long
                            </div>
                            <div>
                                <i class='md md-alert-circle text-danger'></i> Should be a combination of upper and lower case
                            </div>
                            <div>
                                <i class='md md-alert-circle text-danger'></i> Have at least one (1) numeric character
                            </div>
                            <div>
                                <i class='md md-alert-circle text-danger'></i> Have at least one (1) special character
                            </div>
                            ">
                            <input type="password" id="password1" class="form-control" placeholder="Type new password..."
                            data-element="password"
                            onkeyup="ValidateFirstPassword_Retina()">
                            <button type="button" class="btn btn-mask-password" data-target="password">Show</button>
                        </div>
                    </div>
                    <div class="form-group text-left">
                        <label for="" class="control-label">Re-enter New Password</label>
                        <div class="form-password-mask">
                            <input type="password" id="password2" class="form-control" data-element="password" ng-model="Password2" placeholder="Re-type new password..." onkeyup="ValidateSecondPassword_Retina()">
                            <button type="button" class="btn btn-mask-password" data-target="password">Show</button>
                        </div>
                    </div>
                    <p class="text-danger hidden" data-error>
                        <i class="md md-alert-circle md-lg"></i>
                        <span id="errorlabel"></span>
                    </p>
                    <button type="button" class="btn btn-primary btn-lg btn-block" id="changepasswordbtn" onclick="ChangePasswordInsideRetina(this)" data-nexturl="/retinaportalprod/Retina/Home" data-url="/retinaportalprod/Retina/Security/ChangePassword_SaveNewPassword">Submit Password</button>
                </form>
                <hr>
                <p class="text-left">
                    <span>Please be guided by our <a href="#" data-toggle="modal" data-target="#modalAcknowledgement"><strong>Password Policy</strong></a>.</span>
                </p>
                <a class="pull-left" href="#">Return to IRIS Home page</a>
            </div>
            <footer class="login-footer">
                <div class="small">IRIS <span>v3</span> developed and maintained by ITSS-IS<br>[24]7 Philippines</div>
            </footer>
        </div>
        <div class="modal fade" id="modalAcknowledgement">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="panel-body">
                            <h4 class="page-header password-logo-login">
                            <img class="logo-brand-iris pull-left" src="assets/img/iris-logo.svg" alt="[24]7 IRIS" />
                            <span class="pull-left">
                                <small class="text-uppercase"><label class="control-label">Reference</label></small><br>
                                Password Policy
                            </span>
                            </h4>
                            <div id="passwordPolicy">
                                <h3 class="page-header text-uppercase"><strong>Overview</strong></h3>
                                <p>Passwords are an important aspect of computer security. They are the front line protection for user accounts. A poorly chosen password may result in the compromise of [24]7 Customer’s mission critical client applications, strategic system platforms and the corporate network. As such, all [24]7 Customer employees (including contractors and vendors with access to [24]7 Customer’s systems) are responsible for taking the appropriate steps, as outlined below, to select and secure their passwords.</p>
                                <h3 class="page-header text-uppercase"><strong>Purpose</strong></h3>
                                <p>The purpose of this policy is to establish a standard for creation of strong passwords, the protection of those passwords, and the frequency of change</p>
                                <h3 class="page-header text-uppercase"><strong>Scope</strong></h3>
                                <p>The scope of this policy includes all personnel who are responsible for an account (or any form of access that supports or requires a password) on a production system that has been developed by [24]7 Customer.</p>
                                <h3 class="page-header text-uppercase"><strong>Policy</strong></h3>
                                <ol class="list-unstyled">
                                    <li style="margin-bottom: 30px;">
                                        <h4>A. General</h4>
                                        <ol class="sup-numbered">
                                            <li>All system-level/network passwords must be changed every 90 days.</li>
                                            <li>All user-level passwords (e.g. email, web, desktop, computer, etc) must be changed every 90 days.</li>
                                            <li>Passwords must not be inserted into email messages or other forms of electronic communication</li>
                                            <li>All user-level and system-level passwords must conform to the guidelines described below.</li>
                                            <li>There can be no group/common user id and sharing of passwords between more than one employee are strictly prohibited.</li>
                                            <li>Account must be locked out after 3 unsuccessful attempts.</li>
                                            <li>Employees must change the password at first log-on.</li>
                                            <li>System should lock-out after 5 minutes of inactivity.</li>
                                            <li>Password length must be at least 8 characters.</li>
                                            <li>Passwords should be a combination of Alpha-Numeric containing both upper and lower case and special characters.</li>
                                            <li>All locked account should follow appropriate change request. All password resets for NT log-ins must be requested through iSolve.</li>
                                            <li>Forgotten IRIS passwords must be reset in the system, where answers to security questions shall be captured. Incorrect entry will require deletion and re-creation of profile which will take 48 hours up to 10 working days TAT(Turnaround Time).</li>
                                        </ol>
                                    </li>
                                    <li style="margin-bottom: 30px;">
                                        <h4>B. Password Guidelines</h4>
                                        <ul>
                                            <li>
                                                <p style="margin-bottom: 15px;">
                                                    <strong>General Password Construction Guidelines</strong><br>
                                                    Passwords are used for various purposes at [24]7 Customer. Some of the more common uses include: user level accounts, web accounts, email accounts, screen saver protection and local router logins. Everyone should be aware of how to select strong passwords.
                                                </p>
                                            </li>
                                            <li>
                                                <strong>Poor, weak passwords have the following characteristics:</strong>
                                                <ol class="sup-numbered" style="margin-bottom: 15px;">
                                                    <li>The password contains less than eight characters.</li>
                                                    <li>The password is a word found in a dictionary (English or foreign)</li>
                                                    <li>The password is a commonly used word such as:</li>
                                                    <ol class="alpha">
                                                        <li>Names of family, pets, friends, co-workers, fantasy characters, etc.</li>
                                                        <li>Computer terms and names, commands, sites, companies, hardware, software.</li>
                                                        <li>The words "<code>24/7</code>", "<code>sanjose</code>", "<code>sanfran</code>" or any derivation.</li>
                                                        <li>Birthdays and other personal information such as addresses and phone numbers.</li>
                                                        <li>Word or number patterns like <code>aaabbb</code>, <code>qwerty</code>, <code>zyxwvuts</code>, <code>123321</code>, etc.</li>
                                                        <li>Any of the above spelled backwards.</li>
                                                        <li>Any of the above preceded or followed by a digit (e.g., <code>secret1</code>, <code>1secret</code>)</li>
                                                    </ol>
                                                </ol>
                                            </li>
                                            <li>
                                                <strong>Strong passwords have the following characteristics:</strong><br>
                                                <ol class="sup-numbered" style="margin-bottom: 15px;">
                                                    <li>Contain both upper and lower case characters (e.g., <code>a-z</code>, <code>A-Z</code>)</li>
                                                    <li>
                                                        Have digits and punctuation characters as well as letters e.g., <code>0-9</code>,
                                                        <code style="letter-spacing: 2px;">&#33;&#58;&#35;&#36;&#37;&#94;&amp;&#42;&#40;&#41;&#95;&#43;&#124;&ndash;&#126;&mdash;&#61;&#92;&apos;&#123;&#125;&#91;&#93;&quot;&#59;&#39;&lt;&gt;&#63;&#44;&#46;&#47;)</code>
                                                    </li>
                                                    <li>Are at least eight alphanumeric characters long.</li>
                                                    <li>Are not words in any language, slang, dialect, jargon, etc.</li>
                                                    <li>Are not based on personal information, names of family, etc.</li>
                                                    <li>Passwords should never be written down or stored on-line. Try to create passwords that can be easily remembered. One way to do this is create a password based on a song title, affirmation, or other phrase. For example, the phrase might be: "<code>This May Be One Way To Remember</code>" and the password could be: "<code>TmB1w2R!</code>" or "<code>Tmb1W>r~</code>" or some other variation.</li>
                                                </ol>
                                                <div class="alert alert-warning" style="margin-left: 15px;"><i class="md md-lg md-alert-circle"></i> <strong>Do not</strong> use either of these examples as passwords!</div>
                                            </li>
                                        </ul>
                                    </ol>
                                </li>
                                <li style="margin-bottom: 30px;">
                                    <h4>C. Password Protection Guidelines</h4>
                                    <ol class="sup-numbered">
                                        <li><strong>Do not</strong> use the same password for [24]7 Customer accounts as for other non-[24]7 Customer access (e.g., personal ISP account, option trading, benefits, etc.). Where possible, don't use the same password for various [24]7 Customer’s access needs.</li>
                                        <li><strong>Do not</strong> share [24]7 Customer’s passwords with anyone, including administrative assistants or secretaries.</li>
                                        <li>All passwords are to be treated as sensitive, Confidential [24]7 Customer’s information.</li>
                                        <li>Here is a list of <strong>"dont&apos;s"</strong>:</li>
                                        <ol class="alpha">
                                            <li><strong>Don't</strong> reveal a password to anyone.</li>
                                            <li><strong>Don't</strong> reveal a password in an email message</li>
                                            <li><strong>Don't</strong> reveal a password to the boss.</li>
                                            <li><strong>Don't</strong> talk about a password in front of others.</li>
                                            <li><strong>Don't</strong> provide hints of the format of a password (e.g., "my family name").</li>
                                            <li><strong>Don't</strong> reveal a password on questionnaires or security forms.</li>
                                            <li><strong>Don't</strong> share a password with family members.</li>
                                            <li><strong>Don't</strong> reveal a password to co-workers while on vacation.</li>
                                        </ol>
                                        <li>If someone demands for a password, refer them to this document or have them call someone in the <u>Risk and Compliance Management Team</u>.</li>
                                        <li><strong>Do not</strong> use the "Remember Password" feature of applications (e.g., Eudora, Outlook, and Netscape Messenger, Explorer, Google Chrome,etc).</li>
                                        <li>Again, <strong>do not</strong> write passwords down and store them anywhere in your office. <strong>Do not</strong> store passwords in a file on ANY computer system (including smart phones or similar devices) without encryption.</li>
                                        <li>If an account or password is suspected to have been compromised, report the incident to the <u>Risk and Compliance Management Team</u> and change all passwords.</li>
                                        <li>No employee is to keep an unsecured written record of his or her passwords, either on paper or in an electronic file. If it proves necessary to keep a record of a password, then it must be kept in a controlled access place if in hardcopy form or in an encrypted file if in electronic form.</li>
                                        <li>Passwords used to gain access to company systems should not be used as passwords to access non-company accounts or information.</li>
                                        <li>If possible, don't use the same password to access multiple company systems. Any employee/contractor/partner/vendor/service provider or supplier knowing critical system passwords for business purposes at 247 Customer should be bound by standard non-disclosure agreements.</li>
                                        <li>Critical System passwords should be changed immediately whenever key personnel administering/having privileged access to the system gets separated from/changes role in the organization.</li>
                                    </ol>
                                </li>
                            </ol>
                            <h3 class="page-header text-uppercase"><strong>Passphrases</strong></h3>
                            <p>Passphrases are generally used for public/private key authentication. A public/private key system defines a mathematical relationship between the public key that is known by all, and the private key, that is known only to the user. Without the passphrase to "unlock" the private key, the user cannot gain access.</p>
                            <p>Passphrases are not the same as passwords. A passphrase is a longer version of a password and is, therefore, more secure. A passphrase is typically composed of multiple words. Because of this, a passphrase is more secure against "dictionary attacks."</p>
                        <blockquote class="small"><em>A dictionary attack is a method of breaking into a password-protected computer or server by systematically entering every word in a dictionary as a password.</em></blockquote>
                        <p>A good passphrase is relatively long and contains a combination of upper and lowercase letters and numeric and punctuation characters. An example of a good passphrase:"<code>The*?#>*&#64;TrafficOnThe101Was*&amp;#!#ThisMorning</code>"</p>
                        <p>All of the rules above that apply to passwords apply to passphrases.</p>
                        <h3 class="page-header text-uppercase"><strong>Enforcement</strong></h3>
                        <p>Any employee found to have violated this policy might be subject to disciplinary action, up to and including termination of employment.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-right">
                <button type="button" class="btn btn-transparent" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="successpasswordchange" class="hidden">
    <h4 class="text-success"><i class="md md-check-circle md-lg"></i> You have succesfully changed your password.</h4>
</div>
<script src="assets-common/js/jquery-1.11.2.min.js"></script>
<script src="assets-common/js/bootstrap.min.js"></script>
<script src="assets-common/js/bootstrap-add.min.js"></script>
</body>
</html>