.tv-monitor-sim {
    width: 410px;
    height: 730px;
    border: 5px solid #a0a0a0;
    margin-top: 30px;
}

body {
    background-color: gray;
    color: #eaeaea;;
}

a, a:hover {
	color: #eaeaea;
}


.container-writeup , .container-content {
	position: relative;
	float: left;
}

.container-writeup {
	padding: 15px;
	width: calc(100% - 610px);

	font-size: 1.4em;
}

.container-content {
	padding: 0 60px;
	width: 610px;
}