//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 0.3vh solid transparent;
  border-radius: 0.5vh;
  white-space: nowrap;
  outline: none;
  // @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base);
  @include transition (all 0.5s cubic-bezier(0, 0.87, 0, 0.99));
  @include user-select(none);

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      // @include transition (all 0.5s cubic-bezier(0, 0.87, 0, 0.99));
      // @include tab-focus;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    // @include transition (all 0.5s cubic-bezier(0, 0.87, 0, 0.99));
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: none;
    background-image: none;
    // @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
    pointer-events: none; // Future-proof disabling of clicks
    @include opacity(.65);
    @include box-shadow(none);
  }
}


// Alternate buttons
// --------------------------------------------------

// Syntax: text color, background color, border color, gradient start color, gradient end color, box shadow color

// .btn-default {
//   @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
//   border-bottom-color: darken(#DADADA,7%);
//   .badge {
//     color: white;
//     background-color: $brand-red;
//   }
// }

.btn-primary, .btn-orange {
  @include button-variant($btn-primary-color, $btn-primary-bg);
}

// Knockout version for btn-primary's active state
.btn-primary:active, .btn-primary.active {
  color: #fff;
  @include gradient-vertical(#2c2c2c, #252525);
}

// // Success appears as green
// .btn-success, .btn-green {
//   @include button-variant($btn-success-color, $btn-success-bg, transparent);
// }
// Info appears as blue-green
// .btn-info, .btn-cyan {
//   @include button-variant($btn-info-color, $btn-info-bg);
// }
// // Warning appears as orange
// .btn-warning, .btn-burgundy {
//   @include button-variant($btn-warning-color, $btn-warning-bg, transparent);
// }
// // Danger and error appear as red
// .btn-danger, .btn-red {
//   @include button-variant($btn-danger-color, $btn-danger-bg, transparent);
// }


// Link buttons
// -------------------------

// Make a button look and behave like a link
// .btn-link {
//   color: $link-color;
//   font-weight: normal;
//   border-radius: 0;

//   &,
//   &:active,
//   &.active,
//   &[disabled],
//   fieldset[disabled] & {
//     background-color: transparent;
//     @include box-shadow(none);
//   }
//   &,
//   &:hover,
//   &:focus,
//   &:active {
//     border-color: transparent;
//   }
//   &:hover,
//   &:focus {
//     color: $link-hover-color;
//     text-decoration: $link-hover-decoration;
//     background-color: transparent;
//     cursor: pointer;
//   }
//   &[disabled],
//   fieldset[disabled] & {
//     &:hover,
//     &:focus {
//       color: $btn-link-disabled-color;
//       text-decoration: none;
//     }
//   }
// }

// Transparent buttons
// -------------------------

// Make a button's background entirely transparent
.btn-transparent {
  color: inherit;
  font-weight: normal;
  border-width: 0;
  border-radius: $border-radius-base;

  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    @include box-shadow(none);
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: $brand-primary;
    text-decoration: none;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: inherit;
      text-decoration: none;
    }
  }
}

// Ghost buttons
// -------------------------

// Make a button's background entirely transparent
// .btn-ghost {
//   color: white;
//   font-weight: normal;
//   border-radius: $border-radius-base;
//   border-color: transparent;
//   background-color: rgba(0,0,0,.2);

//   &,
//   &:active,
//   &.active,
//   &[disabled],
//   fieldset[disabled] & {
//     @include box-shadow(none);
//   }
//   &,
//   &:hover,
//   &:focus,
//   &:active {
//     color: white;
//   }
//   &:hover,
//   &:focus {
//     text-decoration: none;
//     border-color: transparent;
//     background-color: rgba(0,0,0,.5);
//   }
//   &[disabled],
//   fieldset[disabled] & {
//     &:hover,
//     &:focus {
//       color: inherit;
//       text-decoration: none;
//     }
//   }
// }

// // Create floating buttons
// // --------------------------------------------------
// .btn-float {
//   display: block;
//   position: absolute ;
//   top: $grid-gutter-width/2;
//   z-index: $zindex-btn-float;

//   &.btn-float-left {
//     left: $grid-gutter-width/2;
//   }
//   &.btn-float-right {
//     right: $grid-gutter-width/2;
//   }
// }

// Button Sizes
// --------------------------------------------------

// .btn-lg {
//   // line-height: ensure even-numbered height of button next to large input
//   @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large);
// }
// .btn-sm {
//   // line-height: ensure proper height of button next to small input
//   @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small);
// }
// .btn-xs {
//   @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small);
// }


// Block button
// --------------------------------------------------

.btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 1vh;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}


// Auto Button
// --------------------------------------------------

// .btn-auto {
//   @media (max-width:  $screen-xs-max) {
//     display: block;
//     width: 100%;

//     .btn {
//       display: block;
//       width: 100%;      
//     }

//     & + .btn-auto {
//       margin-top: 15px;
//     }
//   }
// }
