.donut-text {
	position:absolute;
	top:180px;
	left:calc(50% - 35px);
	z-index:2;
}

#chartYearendDonut {
	width:100%;
	height:400px;
}

.yearend-process-sidebar {
	position:fixed;
	width:100%;
}

.yearend-process-img {
	width:auto;
}

@media (max-width: $screen-md-min) {
    .yearend-process-sidebar {
       position:relative;
       width:100%;
    }
    .yearend-process-img {
		width:inherit;
	}
}