// 
// Dashboard
// --------------------------------------------------
// 

.dashboard, .dashboard-main-content {
	position: relative;
	float: left;
	min-height: 1px;
}

.dashboard {
	// padding-left:  ($grid-gutter-width / 2);
	// padding-right: ($grid-gutter-width / 2);
	border-top: 1px solid #E0E0E0;
	@media (max-width: $screen-sm-max) {
		width: percentage(8 / 8);	
	}
	@media (min-width: $screen-md-min) {
		width: 150px;
		border-bottom-left-radius: 2px;	
	}
}

.dashboard-main-content {
	padding: 0;
	@media (max-width: $screen-sm-max) {
		width: percentage(8 / 8);
	}
	@media (min-width: $screen-md-min) {
		width: calc(100% - 150px);
		width: -moz-calc(100% - 150px);
		width: -webkit-calc(100% - 150px);
	}
}

.dashboard-summary {
	position: relative;
	background-color: $gray-lighter;
	// @include make-row();

	@media (min-width: $screen-md-min) {
		padding-top: $grid-gutter-width/2;
		padding-bottom: $grid-gutter-width/2;
		border-bottom-left-radius: 3px;
	}

	.dashboard-cell {
		position: relative;
		min-height: 1px;
		padding-left:  ($grid-gutter-width / 2);
		padding-right: ($grid-gutter-width / 2);
		text-align: center;

		&:last-child .dashboard-value {
			border: none;
		}

		@media (max-width: $screen-xs-max) {
			width: percentage(3 / 6);
			height: 120px;
			padding-top:  ($grid-gutter-width / 2);
			float: left;
		}
		@media (min-width: $screen-sm-min) {
			width: percentage(1 / 6);
			height: 160px;
			padding-top:  ($grid-gutter-width / 2);
			float: left;
		}
		@media (min-width: $screen-md-min) {
			height: auto;
			width: percentage(6 / 6);
			padding-top: 0;
			float: none;

			.dashboard-value:after {
				width: 12px;
				height: 12px;
				content: '';
				right: 20px;
				top: 15px;
				position: absolute;
				background-color: transparent;
				border-radius: 12px;
			}

			&.negative .dashboard-value:after { background-color: $brand-red ;}
			&.average .dashboard-value:after { background-color: $brand-primary;}
			&.positive .dashboard-value:after { background-color: $brand-success;}
			&.warning .dashboard-value:after { background-color: $brand-warning;}
			&.semi-warning .dashboard-value:after { background-color: $brand-burgundy;}
			&.default .dashboard-value:after { background-color: transparent;}

		}
	}

	.dashboard-text {
		font-size: 12px;
	}

	.dashboard-value {
		text-align: center;
		font-size: 2em;
		margin: auto;

		&.active {
			@include box-shadow(0, 0, 5px, rgba(0,0,0,0.5), inset );
			border-radius: $border-radius-base;
			background-color: darken($gray-lighter,10%);
		}

		&:hover {
			cursor: pointer;
			background-color: darken($gray-lighter,10%);
			border-radius: $border-radius-base;
			border-color: transparent;
		}	

		.md {
			height: 25px;
		}

		> span {
			font-family: $font-family-bold;
		}

		@media (min-width: $screen-md-min) {
			padding-top: 10px;
			padding-bottom: 10px;
			border-bottom: 1px dotted darken($gray-lighter,25%);
		}
	}
}

.dashboard-team-name {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	display: block;
}

// Dashboard Table
.table-dashboard {
	border: none;
	$table-theme: $brand-cyan;
	margin: 0;

	thead tr > td,
	tbody tr > td,
	tfoot tr > td {
		vertical-align: middle;
		text-align: center;
	}
	thead tr > td,
	tbody tr > td{
		border-left: none;
	}
	thead tr td:last-child,
	tbody tr td:last-child {
		border-right: none;
	}
	tbody tr:first-child td {
		border-top: none;
	}

	tbody {
		// border-bottom: 1px solid #ddd !important;
	}

	tbody tr td,
	tfoot tr td {
		font-size: 1.2em;
	}

	tfoot {
		// border-top: 10px solid $gray-lighter;
	}

	.d-measure {
		background-color: $table-theme;
		color: white;
		font-size: 1.2em;
		border-bottom: none !important;
		border-top-color: darken($table-theme,5%) !important;
		border-left-color: darken($table-theme,5%) !important;
		border-right-color: darken($table-theme,5%) !important;
	}

	.d-measure-properties td {
		background-color: lighten($table-theme,10%) !important;
		// border-color: darken($table-theme,5%) !important;
		border: none;
		border-right: 1px solid lighten(#16BAF7,15%);
		color: white;
	}

	.mtd-report-span {
		max-width: 100px;
		width: 100px;
		color: white;
		border-right: 1px solid lighten(#16BAF7,15%);
		background-color: #16BAF7;
	}
	.direct-report-span {
		max-width: 220px;
		width: 220px;
		font-size: 1.2em;
		border-right: 1px solid lighten(#16BAF7,15%);
		background-color: lighten(#16BAF7,5%);
		color: white;
	}
	.direct-report-cell {
		float: left;
		display: block;
		text-align: left;
		margin-left: $grid-gutter-width/2;
		font-size: 0.8em;

		.name {
			font-size: 1.2em;
			color: $brand-cyan;
		}

		.info {
			&.tenure:before {
				content: 'Tenure: ';
			}
			&.status:before {
				content: 'Status: ';
			}
		}
	}
	.team-total-span td {
		background-color: $gray;
		color: white;
		position: relative;

		&:first-child{
			max-width: 320px;
			width: 320px;
			font-size: 1.2em;
			border-right: 1px solid lighten($gray,10%);
			background-color: darken($gray,5%);
			color: white;
			text-align: right;
		}

		.popover {
			max-width: 800px !important;
			color: $gray !important;
			.fullname {
				display: block;
				width: 100px;
			}
			.table td {
				color: $gray !important;
				background-color: transparent;
				font-size: 0.9em;
				border-right: none;
			}
			.table thead th {
				font-size: 0.8em;
			}
			.table tbody tr td:first-child {
				text-align: left;
			}
		}
	}

	.total-details {
		display: block;
		width: 100%;
		position: relative;
		&:hover {
			cursor: context-menu;

			& > .popover-custom {
				display: block;
				// top: -130px;
			}
		}
	}
}

.d-table {
	display: table;
	width: 100%;
	
	.d-head { display: table-header-group; }
	.d-body { display: table-row-group; }

	.d-cell-row {
		display: table-row;

		.d-cell {
			display: table-cell;
			vertical-align: middle;
			border: 1px solid #e3e3e3;
		}

		&.d-cell-row-lg {
			padding: 10px;
			color: $brand-cyan;
			text-align: center;
			border-bottom: 1px solid $gray-lighter;
		}
	}
}

.d-table-col-static,
.d-table-col-scroll {
	position: relative;
	float: left;
	min-height: 1px;
	padding-left: 0;
	padding-right: 0;
}

.d-table-col-static {
	width: percentage(2 / 8);
	border-right: 1px solid $gray-lighter;
}


.d-table-col-scroll {
	width: percentage(6 / 8);
}

.h_gray-strip {
	position: relative;
	&:before {
		@media (min-width: $screen-sm-min) {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 150px;
			content: '';
			background-color: $gray-lighter;
			border-bottom-left-radius: $border-radius-base;
		}
	}
}