// 
// IDP
// --------------------------------------------------
// 

.idp-goals {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	$width: 75px;

	li {
		counter-increment: step-counter;
		position: relative;
		float: left;
		@include clearfix();

		@media (max-width: $screen-sm-max) { width: 100%; }
		@media (min-width: $screen-md-min) { 
			width: percentage(4/12);
		}


		&:before {
			display: block;
			float: left;
			content: counter(step-counter);
			padding: 5px 15px;
			font-size: $font-size-h3;
			position: absolute;
			top: 50%;
			margin-top: -22px;
			left: $grid-gutter-width/2;
			height: 44px;
			border-radius: 50%;
			color: white;
			background-color: $brand-cyan;
			color: white;
		}

		> span {
			float: left;
			display: block;
			width: 100%;

			> .form-control {
				border-radius: 0;
				padding-left: $grid-gutter-width*2 + ($grid-gutter-width/2 - 5);

				&:focus {
					padding-left: $grid-gutter-width*2 + ($grid-gutter-width/2 - 5) - 1;
				}
				
			}

			> p {
				padding-top: $padding-base-horizontal; 
				padding-bottom: $padding-base-horizontal; 
				padding-left: $padding-base-horizontal + $width; 
				padding-right: $padding-base-horizontal;
				margin-right: $grid-gutter-width/2;
				min-height: 100px;
				height: 120px;
				max-height: 200px;
				overflow-y: auto;
				margin-bottom: 0;
				display: table-cell;
				vertical-align: middle;
			}
		}

		&:first-child > span > p {
			@media (max-width: $screen-sm-max) {

			}
			@media (min-width: $screen-md-min) {

			}
		}

		&:last-child > span > p {
			@media (max-width: $screen-sm-max) {

			}
			@media (min-width: $screen-md-min) {
				margin-right: 0;
				border-right: none;
			}
		}

		&:first-child > span > textarea {
			@media (max-width: $screen-sm-max) {
				border-top-left-radius: $border-radius-base;
				border-top-right-radius: $border-radius-base;
			}
			@media (min-width: $screen-md-min) {
				border-top-left-radius: $border-radius-base;
				border-bottom-left-radius: $border-radius-base;
			}
		}

		&:last-child > span > textarea {
			@media (max-width: $screen-sm-max) {
				border-bottom-left-radius: $border-radius-base;
				border-bottom-right-radius: $border-radius-base;
			}
			@media (min-width: $screen-md-min) {
				border-top-right-radius: $border-radius-base;
				border-bottom-right-radius: $border-radius-base;
			}
		}
	}
}


// Generic Media Query Conditionals
@media (max-width: $screen-sm-max) {
	.btn-create-idp { position: relative; }
	.btn-goal { margin-top: 5px; }
}
@media (min-width: $screen-md-min) {
	.btn-create-idp {
		position: absolute;
		top: -74px;
		right: 0;
	}

	.btn-goal { margin-top: -10px; }
}

.idp-card {
	position: relative;
	margin-top: 10px;
	margin-bottom: $grid-gutter-width;
	margin-left: -$grid-gutter-width/2;
	margin-right: -$grid-gutter-width/2;
	padding-top: $grid-gutter-width/2;
	padding-left: $grid-gutter-width/2;
	padding-right: $grid-gutter-width/2;
	// padding-bottom: $grid-gutter-width/2;
	@include box-shadow(0 1px 1px #D2D2D2);

	&:last-child { border: none; }
	&:after, &:before {
		display: block;
		content: '';
		width: 5px;
		position: absolute;
		top: -10px;
		bottom: 0px;
		background-color: $brand-cyan;
		@include opacity(0); @include transition(all 0.3s $easing); border-radius: 10px;
	}
	&:after { left: 0; margin-left: -10px; }
	&:before { right: 0; margin-right: -10px;}
	.page-header > .idp-measure { @include transition(color 0.3s $easing); }
	&:hover {
		.page-header > .idp-measure { color: $brand-cyan; @include transition(color 0.3s $easing);  }
		&:after, &:before { @include opacity(1); @include transition(all 0.3s $easing);}

		&:after { left: 0; margin-left: -10px; }
		&:before { right: 0; margin-right: -10px;}
	}

	.idp-card-control {
		position: absolute;
		top: 0;
		right: $grid-gutter-width/2;
	}


	.page-header { margin: 0;}

	.tabpanel-action-feedback {
		position: relative;
		display: block;
		margin-right: -$grid-gutter-width/2;
		// margin-bottom: -14px;
		background-color: $gray-lighter;
		@include clearfix();

		.nav-tabs {
			margin-top: 0;
			margin-bottom: 0;
			border-radius: 0;
			& ~ .tab-content:before {
				bottom: 0;
			}
		}
	}

	.idp-divider { margin: 0 -15px; }
	.nav-pill-month { display: inline-block; margin-bottom: -10px;}
	.idp-commitment {
		padding: $grid-gutter-width/2;
		margin-top: $grid-gutter-width/2;
		display: block;
		float: left;
		position: relative;
		@media (max-width: $screen-xs-max) {
			width: percentage(3/3);	
		}		
		@media (min-width: $screen-sm-min) {
			width: percentage(1/3);	
		}
		text-align: center;
		&.no-score { 
			@media (max-width: $screen-xs-max) {
				width: percentage(3/3);	
			}		
			@media (min-width: $screen-sm-min) {
				width: percentage(2/3);	
			}
		}

		> strong { text-transform: uppercase; font-size: 0.9em; }

		.idp-timeline {
			padding-top: 20px;
			span { font-size: 1.4em; display: inline-block;}
			span:last-child:before { display: inline-block; content: 'TO'; font-size: 65%; padding: 0 10px; color: $text-muted; }
		}

		.edit-mode { display: none; }
		.view-mode { display: inline-block; }
		&.js_edit-mode .edit-mode { display: block; @include clearfix(); }
		&.js_edit-mode .view-mode { display: none; }
	}

	.idp-card-no-action-feedback > * {
		margin-top: 5%;
		margin-bottom: 5%;
		width: 70%;
		display: inline-block;
		margin-left: 15%;
		float: left;
		position: relative;
		text-align: center;
	}

}

.js_edit-mode {
	.js_readonly {
		display: none;
	}

	.js_edit-mode {
		display: block;
	}
}

// Values
.select-measures-values {
    border-top: 1px solid #C5C5C5;
    margin-top: $grid-gutter-width/2;
	@include make-row(0);

	.measures-values-section {
		float: left;
		position: relative;

		&:before, &:after {
			@include transition(all .4s $easing);
			@include opacity(0);
			pointer-events: none;
		}

		&:hover:before, &:hover:after {
			@include transition(all .4s $easing);
			@include opacity(1);
			pointer-events: none;
		}

		&:first-child {
			@media (max-width: $screen-sm-max) {
				width: 100%;
			}

			@media (min-width: $screen-md-min) {
				width: 50%;
				border-right: 1px solid #C5C5C5;

				&:before {
					position: absolute;
					background-color: rgba(255, 255, 255, 0.9);
					top: 0;
					bottom: 0;
					left: calc(100% + 2px);
					right: 0;
					z-index: 10;
					content: '';
					display: block;
					width: 100%;
				}

				&:after {
					content: 'Select applicable measures';
					font-size: 1.2em;
					font-family: $font-family-sans-serif;
					display: block;
					z-index: 11;
					position: absolute;
					top: 5%;
					left: 100%;
					right: 0;
					width: 260px;
					padding: 5px;
					background-color: $brand-cyan;
					color: white;
					border-top-right-radius: $border-radius-base;
					border-bottom-right-radius: $border-radius-base;
				}

			}

		}

		&:last-child {
			@media (max-width: $screen-sm-max) {
				width: 100%;
				border-top: 1px solid #e3e3e3;
			}

			@media (min-width: $screen-md-min) {
				width: 50%;
				border-left: 1px solid #EFEFEF;

				&:hover:before {
					position: absolute;
					background-color: rgba(255, 255, 255, 0.9);
					top: 0;
					bottom: 0;
					left: calc(-100% + -2px);
					right: 0;
					z-index: 10;
					content: '';
					display: block;
					width: 100%;
				}

				&:hover:after {
					content: 'Select applicable [24]7 Values';
					font-size: 1.2em;
					font-family: $font-family-sans-serif;
					display: block;
					z-index: 11;
					position: absolute;
					top: 5%;
					right: 0;
					left: -261px;
					width: 260px;
					padding: 5px;
					background-color: $brand-cyan;
					color: white;
					border-top-left-radius: $border-radius-base;
					border-bottom-left-radius: $border-radius-base;
				}
			}
		}
		
		background-color: #e3e3e3;
	 	.list-group-values {
			margin: 5px;
			border-radius: $border-radius-base;
			background-color: white;
			@include box-shadow(0 1px 3px rgba(0, 0, 0, 0.2));
		}	

	}
}

.list-group-values {
	margin-bottom: 0;

	.list-group-item {
		padding: 5px 15px;

		.values-item {
			display: table;
			position: relative;
			width: 100%;

			&:hover label { color: $brand-cyan; @include transition(color .3s $easing); }

			label {
				@include transition(color .3s $easing);
				font-family: $font-family-base;
				span {
					display: table-cell; vertical-align: top;

					> p:first-letter {
						text-transform: uppercase;
					}
				} 
				span:first-child { vertical-align: middle; padding: 0 10px; }
			}

			.values {
				display: block;
				position: relative;
				width: 50px;
				height: 50px;
				background-image: url(../img/values.png);
				background-size: 252px 50px;
				background-repeat: no-repeat;

				&.values-teamwork { background-position: 0 0; }
				&.values-respect { background-position: -51px 0; }
				&.values-results { background-position: -101px 0; }
				&.values-ownership { background-position: -151px 0; }
				&.values-transparency { background-position: -202px 0; }
			}
		}
	}
}

.select-measures-scroll {
	max-height: 400px;
	height: 400px;
	// overflow-y: auto;
}

$amber:  #F7CA04;
$green: #058440;
$maroon: #830300;

.list-competencies-inline {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	@include clearfix();

	> li {
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
		padding: 8px 10px;
		position: relative;
		border-left: 8px solid $gray;
		border-radius: 1px;
		background-color: #EFEFEF;
		@include box-shadow(0 1px 2px rgba(0,0,0,0.4));

		> .btn { margin: -7px -8px -6px 3px }

		&:first-letter {
			text-transform: uppercase;
		}

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			cursor: pointer;
			background-color: darken(#EFEFEF, 3%);
		}

		&.status-amber {
			border-color: $amber;
		}
		&.status-green {
			border-color: $green;	
		}
		&.status-maroon {
			border-color: $maroon;
		}
	}
}


.u-drive-logo, .comet-logo { width: 150px; margin: auto; }