// Core variables and mixins
@import "../../assets-common/css/bootstrap/variables";
@import "../../assets-common/css/bootstrap/mixins";

@import "performance.scss";
@import "performance-dashboard.scss";
@import "feedbackblast.scss";
@import "trendsforecastreports.scss";
@import "dashboard.scss";
@import "apr.scss";
@import "carousel.scss";
@import "idp.scss";	

// Global
body {
	background-image: url(../img/comet-bg.png);
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: 50%;
	// padding-bottom: $navbar-height - ($grid-gutter-width / 2);
}

.panel-heading-light {
    border-top: 1px solid #D8D8D8;
    margin-bottom: 2px;
    border-bottom: 1px solid white !important;
    background-color: #F9F9F9 !important;
    padding: 0;
    @include box-shadow(0 1px 3px rgba(0,0,0,0.2));
    position: relative;
}

.panel-footer-dark {
	margin-top: $grid-gutter-width;
	border-top: none;
	background-color: #424242;
}

// 
// Profile Information
// --------------------------------------------------
// 

// Set basic styling
.profile-info {
	margin-left: -$grid-gutter-width/2;
	margin-right: -$grid-gutter-width/2;
	clear: both;
	background-color: $brand-cyan;
	position: relative;

	&:before {
		display: block;
		position: absolute;
		height: $grid-gutter-width/2;
		top: -$grid-gutter-width/2;
		left: 0;
		right: 0;
		background-color: $brand-cyan;
		content: '';
	}

	&:after {
		display: none;
		content: '';
		position: absolute;
		bottom: -$grid-gutter-width/2;
		left: 0;
		right: 0;
		height: 25px;
		background-color: $brand-cyan;

		@media (max-width: $screen-sm-max) {
			display: block;
		}
	}

	@media (max-width: $screen-xs-max) {
		padding-top: 2%;
		padding-bottom: 2%;
	}

	// @media (min-width: $screen-sm-min) {
	// 	padding-bottom: $grid-gutter-width/2;
	// }
	
	> .profile-img {
		position: relative;
		float: left;
		min-height: 1px;
		display: block;
		z-index: 1;
		
		@media (max-width: $screen-xs-max) { display: none; }
		@media (min-width: $screen-sm-min) { width: percentage(2/12); }
		@media (min-width: $screen-md-min) {
			width: percentage(4/12);
			margin-left: percentage(4/12);
		}

		> .avatar {
			background-position: center center;
			border: 5px solid white;

			@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
				width: $avatar-xxs + ($grid-gutter-width / 2);
				height: $avatar-xxs + ($grid-gutter-width / 2);
				max-width: $avatar-xxs + ($grid-gutter-width / 2);
				background-size: $avatar-xxs + ($grid-gutter-width / 2) + 10;
				background-position: center center;
			}

			@media (min-width: $screen-md-min){
				width: $avatar-md;
				height: $avatar-md;
				max-width: $avatar-md;
				background-size: $avatar-md + 40;
				background-position: center center;
			}
		}
	}

	> .profile-text {
		color: #fff;
		font-size: 1.2em;
		text-align: center;
		z-index: 1;
		position: relative;

		> .profile-name {
			font-size: 1.5em;
			font-family: $font-family-bold;
		}

		> .profile-metadata {
			font-size: 0.8em;
		}

		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { text-align: left; }
		@media (min-width: $screen-md-min) {
			width: percentage(4/12);
			margin-left: percentage(4/12);
		}

		span {
			display: block;
			font-family: $font-family-alt;
		}
	}
}

// 
// Profile Controls
// --------------------------------------------------
// 
.navbar-controls {

	// Mimic mobile app navigation
	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: $zindex-navbar-fixed;
	border-top: 1px solid darken($brand-cyan, 5%);
	margin-left: -$grid-gutter-width/2;
	margin-right: -$grid-gutter-width/2;
	// & + div {
	// 	margin-top: $grid-gutter-width;
	// }

	// Reset View on larger screens
	@media ( min-width: $screen-md-min ) {
		// margin-bottom: $grid-gutter-width;
		border-top: none;
		@include box-shadow(0 1px 0 0 darken($brand-cyan, 5%));
		position: static;
		z-index: $zindex-navbar-fixed;
	}

	> .navbar-control-btns {
		position: relative;
		display: block;

		@media (max-width: $screen-xs-max) { width: 100%; }
		@media (min-width: $screen-sm-min) { 
			width: 100%;
		}
		@media (min-width: $screen-md-min) { 
			width: percentage(6/12);
			margin-left: percentage(3/12)
		}
	}
}

.navbar-control-btns {
	> .btn-group {
		.btn-group {
			.btn {

				&:active, &:focus {
					outline: none;
				}

				@media (max-width: $screen-xs-max) { padding-top: 2%; padding-bottom: 2%; }

				> .md {
					@media (max-width: $screen-xs-max) { font-size: 2em; }
					@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { font-size: 2em; }
					@media (min-width: $screen-md-min) { font-size: 1.5em; }
				}
					
				> span {
					@media (max-width: $screen-xs-max) { font-size: 0.8em; }
					@media (min-width: $screen-md-min) { font-size: 1em; }
				}
	
			}
		}
	}

	.btn-group.active {
		&:after, &:before {
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			left: 50%;
			bottom: 100%;
			pointer-events: none;

			@media (min-width: $screen-md-min) {
				top: 100%;
			}
		}

		&:after {
			border-color: rgba(136, 183, 213, 0);
			border-width: 10px;

			border-bottom-color: $brand-cyan;
			margin-left: -10px;

			@media (min-width: $screen-md-min) {
				border-top-color: $brand-cyan;
				border-bottom-color: transparent;
				margin-left: -10px;
			}
		}

		&:before {
			border-color: rgba(231, 231, 231, 0);
			border-width: 11px;

			border-bottom-color: darken($brand-cyan, 7%);
			margin-left: -11px;

			@media (min-width: $screen-md-min) {
				border-top-color: darken($brand-cyan, 7%);
				border-bottom-color: transparent;
				margin-left: -11px;
			}
		}
	}
}

.navbar-cyan {
	background-color: $brand-cyan;
	color: #fff;
	font-family: $font-family-alt;
}

.navbar-float {
	> .well {
		@include clearfix();
		margin-bottom: $grid-gutter-width / 2;
		padding-top: $well-padding - 5;
		padding-bottom: $well-padding - 5;
		background-color: transparentize(#fff, 0.5);
		border: 1px solid darken($gray-lighter, 10%);
		border-bottom: 1px solid lighten($gray-light, 25%);
	}
}

// 
// Main Menu
// --------------------------------------------------
// 
.current-user-profile {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	border-right: 1px solid $gray-lighter;

	&:hover {
		border-right: 1px solid transparent;
	}

	// Negate padding-top and padding-bottom
	> .btn-group {
		> .btn.btn-sm {
			margin-top: -7px;
			margin-bottom: -9px;
			padding: 5px 16px;
		}
	}

	.current-user-img {
		width: 40px;
		height: auto;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		margin-left: 10px;
	}

	.current-user-name {
		color: $gray;
		vertical-align: bottom;
		font-size: 1.2em;
		display: inline-block;

		&:before {
			content: "Hello,";
			text-transform: uppercase;
			font-size: 0.9em;
			color: $gray-light;
			text-align: right;
			position: absolute;
			top: 10px;
			left: 16px;
		}

		> span {
			max-width: 120px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			display: inline-block;
			vertical-align: bottom;
		}
	}

	.md {
		vertical-align: middle;
	}
}

.md-alert-custom {
	font-size: 1.8em;
	vertical-align: -50%;
}

.badge-notif {
	padding: 4px;
	display: block;
	width: auto;
	min-width: 18px;
	height: 18px;
	border-radius: 18px;
	position: absolute;
	top: -1px;
	margin-left: 10px;
	font-size: 1em;
	text-align: center;
	line-height: 12px;
	background-color: darken($brand-red, 5%);
	color: #fff;
	@include box-shadow(0,2px,0,rgba(0,0,0,0.2));

	// Hide badge if empty
	&:empty {
		display: none;
	}
}

// Override the Bootstrab tab for score card styling
.nav-tabs {
	border: none;

	> li {
		
		&.active { 
			a {
				color: $brand-cyan;
				&:hover, &:focus {
					color: $brand-cyan;
				}
			}
		}

		> a {
			color: $gray-light;

			.md {
				padding-top: 5px;
				padding-bottom: 5px;
			}
		}
	}
}

// Editable Data from Score Card
.commit-edit {
	&.locked {

		&:hover {
			cursor: pointer;
		}

		&:after {
			font-size: 14px;
			font-family: 'FontAwesome', $font-family-base;
			content: "\f023";
			color: $brand-cyan;
			position: absolute;
			bottom: 5px;
			margin-left: 5%;
		}

		&:hover:after {
			font-size: 14px;
			font-family: 'FontAwesome', $font-family-base;
			content: "\f09c\00a0 edit";
			color: $brand-warning;
		}

		> .commit-edit-input {
			display: none;
		}

		> .commit-edit-display {
			display: inline-block;
		}

		~ .commit-controls {
			display: none;
		}
	}

	&.unlocked {
		> .commit-edit-input {
			display: inline-block;
			text-align: center;
			font-family: $font-family-base;
			font-size: 1em;
			color: $brand-green;
			margin-top: -3px;

			&::-ms-clear {
				display: none;
			}
		}

		> .commit-edit-display {
			display: none;
			font-style: normal;
		}

		+ .commit-controls {
			position: relative;
			width: 90px;
			right: -95px;
			margin-top: -60px;
			z-index: $zindex-dropdown - 1;
		}
	}
}


// 
// Team Search
// --------------------------------------------------
// 

.team-panel {
	position: fixed;
	z-index: $zindex-dropdown - 1;
	top: $navbar-height + 1;

	@media (max-width: $screen-xs-max) {
		left: auto;
		right: 0;
		bottom: 50px;
		width: 100%;
	}

	@media (min-width: $screen-sm-min) {
		left: auto;
		right: 0;
		bottom: 0;
		width: 362px + 49;
		padding-left: 50px;
		background-image: url(../img/team-search-shadow-iefix.png);
		background-position: left top;
		background-repeat: repeat-y;
	}

	// Closed State
	display: none;

	// Opened State
	&.in {
		display: block !important;
		&:after, &:before {
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			right: 32px;
			bottom: 100%;
			pointer-events: none;
		}

		&:after {
			border-color: rgba(136, 183, 213, 0);
			border-width: 5px;
			border-bottom-color: $brand-cyan;
			margin-left: -5px;
		}

		&:before {
			border-color: rgba(231, 231, 231, 0);
			border-width: 6px;
			border-bottom-color: darken($brand-cyan, 7%);
			margin-left: -6px;
		}
	}
}

.team-search {
	// background-color: $brand-cyan;
	bottom: 0;
	// @include box-shadow(-5px, 7px, 40px, rgba(0,0,0,0.2));

	> .team-input-group {
		padding: ($grid-gutter-width / 2) - 3;

		> .search-input {
			color: #fff;
			background-color: transparent;
			border: none;
			border-radius: 0;
			box-shadow: none;
			padding-left: 45px;
			border-bottom: 1px solid lighten($brand-cyan, 30%);

			&:focus, &:active {
				border-bottom: 2px solid lighten($brand-cyan, 50%);
			}

			&::-webkit-input-placeholder {
			   color: #fff;
			}

			&:-moz-placeholder { color: #fff; }
			&::-moz-placeholder { color: #fff; }
			&:-ms-input-placeholder { color: #fff; }
		}

		> span {
			color: #fff;
			display: block;
			position: absolute;
			top: 20px;
			left: 70px;
		}
	}

	> .team-list-group {
		padding: $grid-gutter-width / 2;
		overflow-y: auto;
		overflow-x: hidden;
	}

	@media (max-width: $screen-xs-max) {
		width: 100%;
		border: none;
		background-color: $brand-cyan;
	}

	@media (min-width: $screen-sm-min) {
		width: 362px;
		// border-left: 1px solid darken($brand-cyan, 10%);
	}
}

// Main Team List
.team-list {
	$item-baseheight: 50px;

	display: table;
	width: 100%;
	.team-list-item {
		@include make-row();

		&:hover {
			cursor: pointer;

			> .item-profile-img > .avatar {
				border-color: $brand-orange;
				@include transition (border-color 0.3s cubic-bezier(.26,.51,.34,.98));
			}
		}

		> .item-profile-img {
				padding: $grid-gutter-width / 2;
				padding-top: 0;
				display: inline-block;
				float: left;
				background-color: $brand-cyan;

			> .avatar {
				border: 2px solid #fff;
				@include transition (border-color 0.3s cubic-bezier(.26,.51,.34,.98));
				width: $item-baseheight;
				max-width: $item-baseheight;
				height: $item-baseheight;
				background-size: $item-baseheight + 5;
				background-position: center center;
				background-repeat: no-repeat;
			}
		}

		> .item-profile-metadata {
			overflow: hidden;
			height: $item-baseheight + (($grid-gutter-width / 2) / 2);
			max-height: $item-baseheight + (($grid-gutter-width / 2) / 2);
			border-bottom: 1px solid lighten($brand-cyan, 30%);
		}
	}
}

// Direct Reports
.team-sublist {
	.team-list-item {
		margin-left: 0;
		.item-profile-img:after {
			display: block;
			content: "";
			width: 2px;
			height: $grid-gutter-width / 2;
			background-color: #fff;
			position: absolute;
			left: 24px;
			margin-top: -65px;
		}

		&:hover > .item-profile-img:after {
			background-color: $brand-orange;
		}
	}
}

.item-profile-metadata {
	span {
		color: #fff;
		clear: right;
		white-space: nowrap;
		overflow: hidden;
		display: block;
		clear: both;
		font-size: 1.2em;
		& + span {
			font-size: 0.9em;
		}
	}

	.mask {
		display: block;
		text-align: center;
		color: #fff;
		position: absolute;
		width: $grid-gutter-width * 2;
		height: $grid-gutter-width * 2;
		margin-top: -45px;
		padding: 5px 0;
		right: -15px;
		z-index: $zindex-dropdown - 2;
		background-image: url(../img/mask.png);
		background-repeat: repeat-y;
		background-color: transparent;
		
		> i {
			font-size: 1.2em;
		}

		&:hover {
			cursor: pointer;
		}
	}
}

// Change Profile Photo
.modal-body-profile {
	display: table;
	width: 100%;
	padding: $grid-gutter-width;
	background-color: $brand-cyan;
	border-bottom-right-radius: $border-radius-base;
	border-bottom-left-radius: $border-radius-base;

	.profile-img {
		padding: $grid-gutter-width / 2 ;
		position: relative;

		.avatar {
			width: $avatar-md;
			height: $avatar-md;
			max-width: $avatar-md;
			background-size: $avatar-md + 30;
			background-position: center center;
			position: relative;
		}

		.avatar-picker {
			width: $avatar-md;
			max-width: $avatar-md;
			height: $avatar-md;
			position: relative;
			border-radius: $avatar-md;
			background-color: rgba(255,255,255,0.1);

			.filepicker-container {
				position: absolute;
				width: 165px;
				height: 160px;
				overflow: hidden;
				left: 0;
				top: 0;
				bottom: 0;
				right: 0;
			}
			
			.filepicker {
				position: absolute;
				right: 0;
				margin-left: -100px;
				padding-top: 80px;
				padding-bottom: 80px;
				padding-right: 50px;
				z-index: 2;
				font-size: 25px;
				opacity: 0;
				-moz-opacity:0;
				filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

				&:hover { cursor: pointer; }
				&:active, &:focus { outline: none; }
			}


			.icon {
				display: table-cell;
				width: $avatar-md;
				height: $avatar-md;
				vertical-align: middle;
				z-index: 1;
				> i.md {
					display: block;
					text-align: center;
					color: #fff;
					opacity: 0.3;
					filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
					-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
				}
			}

			&:hover {
				cursor: pointer;
				background-color: rgba(255,255,255,0.3);

				.icon {
					> i.md {
						color: #fff;
						opacity: 0.8;
						filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
						-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
					}
				}
			}
		}

		.avatar-picker > .picker {
			width: $avatar-md;
			height: $avatar-md;
			position: absolute;
			top: 0;
			left: 0;
			// visibility: hidden;
			opacity: 0;
			filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
			z-index: $zindex-modal;
		}
		.picker {
			&:hover {
				cursor: pointer;
			}

			&:active, &:focus {
				outline: none;
			}
		}
	}

	.profile-change-control {
		display: block;
		clear: both;
		position: relative;
	}
}

// Modals
.modal {
	// When fading in the modal, animate it to slide down
	&.fade .modal-settings-fixed {
		@include translate(0, 5%);
		@include transition-transform(0.3s $easing);
	}
	&.in .modal-settings-fixed { @include translate(0, 0) }

	&.fade .modal-scroll {
		@include translate(5%, 0);
		@include transition-transform(0.3s $easing);
	}
	&.in .modal-scroll { @include translate(0, 0) }

	.modal-settings-fixed {
		@include make-md-column(4,0);
		position: fixed;
		top: 0;
		right: auto;
		bottom: 0;
		margin: 0;

		.modal-content-modified {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			background-color: $modal-content-bg;
			background-clip: padding-box;
			outline: 0;
			@include box-shadow(0,20px,50px,rgba(95, 95, 95, 0.6));

			.modal-header {
				border-radius: 0;
			}

			.modal-footer {
				position: fixed;
				bottom: 0;
				left: 0;
				right: 0;
			}
		}
	}
}

.modal-dialog-full {
	width: auto;
	margin: $grid-gutter-width / 2;
}

.modal-scroll-container {
	background-image: url(../img/comet-bg.png);
	background-repeat: repeat;
	background-size: 50%;
	overflow-y: auto;
	overflow-x: hidden;
}

.modal-scroll-container-xs {
	background-color: transparent;
	overflow-y: auto;
	overflow-x: hidden;
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #fff;
	padding-bottom: $grid-gutter-width / 2;
	padding-top: 10px;
}

.scroll-shadow {
	position: relative;
	width: 100%;
	height: 15px;
	opacity: 0.19;
	filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=19)";
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=19)";
	display: block;
	border-radius: 100%
}

.scroll-shadow-bottom {
	margin-top: -6px;
	margin-bottom: -5px;
	background-color: rgba(19, 43, 53, 0);
	/* IE9, iOS 3.2+ */
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIgb2Zmc2V0PSIwLjI1Ii8+PHN0b3Agc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuNSIvPjxzdG9wIHN0b3AtY29sb3I9IiM0YmFkZDIiIHN0b3Atb3BhY2l0eT0iMCIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAiIG9mZnNldD0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgba(0, 0, 0, 0)),color-stop(0.25, rgba(0, 0, 0, 0)),color-stop(0.5, rgb(0, 0, 0)),color-stop(0.5, rgba(75, 173, 210, 0)),color-stop(1, rgba(0, 0, 0, 0)));
	/* Android 2.3 */
	background-image: -webkit-repeating-linear-gradient(top,rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 25%,rgb(0, 0, 0) 50%,rgba(75, 173, 210, 0) 50%,rgba(0, 0, 0, 0) 100%);
	/* IE10+ */
	background-image: repeating-linear-gradient(to bottom,rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 25%,rgb(0, 0, 0) 50%,rgba(75, 173, 210, 0) 50%,rgba(0, 0, 0, 0) 100%);
	background-image: -ms-repeating-linear-gradient(top,rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 25%,rgb(0, 0, 0) 50%,rgba(75, 173, 210, 0) 50%,rgba(0, 0, 0, 0) 100%);
}
/* IE8- CSS hack */
@media \0screen\,screen\9 {
    .scroll-shadow-bottom {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000",endColorstr="#00000000",GradientType=0);
    }
}

.no-info {
	position: relative;
	text-align: center;
	padding: $grid-gutter-width;
	float: left;
	@media (max-width: $screen-xs-max) {
		width: percentage(12/12);
		.message {
			font-size: $font-size-h4;
		}
	}
	@media (min-width: $screen-lg-min) {
		width: percentage(8/12);
		margin-left: percentage(2/12);
	}
}

// Misc Helpers and Utilities
.bg-orange { background-color: $brand-orange; }

.text-right {
	text-align: right;
}

.border-none { 
	border: none !important;
	color: $brand-green !important;
	&:hover, &.active {
		border: none !important;
	}
}
.alert {
	.btn {
	  position: absolute;
	  top: 13px;
	  right: $grid-gutter-width / 2;
	}
}

.inline-block {
	display: inline-block;
}

.form-group-inline.inline-block {
	margin-right: 15px;

	&:last-child { margin-right: 0; }
}

.push-down {
	margin-top: $grid-gutter-width;
}

.no-border-left {
	border-left: none !important;
	padding-left: 0 !important;
}
.btn-divider {
	display: inline-block;
	width: 1px;
	height: 30px;
	color: #fff;
	content: '';
	background-color: $gray;
	vertical-align: middle;
}

.align-top { vertical-align: top !important; }

.h_list-group-custom {
	.list-group-item {
		border-radius: 0;
		border-left: 0;
		border-top: 0;
		margin-bottom: 0;
		border-bottom: 1px solid #ddd;

		&:last-child {
			border-bottom: none;
		}
	}
}

.h_row-margin-none {
	@include make-row(0);
}
.h_box-shadow {
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
.h_remove-top-margin { margin-top: 0; }
.h_reduce-top-margin { margin-top: 10px; }
.h_remove-bottom-margin { margin-bottom: 0; }
.h_remove-bottom-padding { padding-bottom: 0; }
.h_remove-top-padding { padding-top: 0; }

.h_justified {
	display: table;
	width: 100%;

	.h_justified-group {
		display: table-cell;
		width: 50%;
		padding-right: 4px;

		&:last-child {
			padding-right: 0;
			padding-left: 4px;
		}

		.control-label {
			text-transform: uppercase;
			color: #555;
			font-size: 0.7em;
		}
	}
}


// Load More
.load-more {
	width: 100%;
	position: fixed;
	bottom: 15px;
	text-align: center;
	z-index: $zindex-modal + 1;
	pointer-events: none;

	.bg {
		width: 200px;
		margin: auto auto;
		padding: 15px;
		border-radius: 3px;
		color: #fff;
		background-color: rgba(#000,0.80);
	}
}

.implemented-cell { text-align:center; }

.badge-gray {
	background-color: $gray;
}

.m_rem-padding { padding: 0; }


.mb-15 {
	margin-bottom: 15px;
}	

.search-team-btn {
	@media (min-width: $screen-md-min) {
		float: right;
		margin-top: 14px;
	}

	@media (max-width: $screen-sm-max) {
		margin-top: 14px;
		top: 0;
		right: 15px;
		position: absolute;
	}
}

.avatar-menu {
	@media (max-width: $screen-sm-max) {
		right: 55px;
		position: absolute;
	}	
}

// FOR JS - Initialize what needs to be hidden
.js_init_hidden { display: none; }
.js_reply { vertical-align: top; }
#master-container { margin-top: $grid-gutter-width; }