﻿ 
.br-theme-bars-movie .br-widget {
  height: 10px;
}

.br-theme-bars-movie .br-widget a {
  display: block;
  width: 60px;
  height: 8px;
  float: left;
  background-color: #f28900;
  margin: 1px;
  -webkit-transition: transform 0.35s cubic-bezier(0, 0.96, 0.86, 0.99);
  -o-transition: transform 0.35s cubic-bezier(0, 0.96, 0.86, 0.99);
  transition: transform 0.35s cubic-bezier(0, 0.96, 0.86, 0.99);
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

.br-theme-bars-movie .br-widget a:hover {
  -webkit-transition: transform 0.35s cubic-bezier(0, 0.96, 0.86, 0.99);
  -o-transition: transform 0.35s cubic-bezier(0, 0.96, 0.86, 0.99);
  transition: transform 0.35s cubic-bezier(0, 0.96, 0.86, 0.99);
  -webkit-transform: scale(1, 1.8);
  -moz-transform: scale(1, 1.8);
  -o-transform: scale(1, 1.8);
  transform: scale(1, 1.8);
}

.br-theme-bars-movie .br-widget a.br-active {
  background-color: #4278f5;
}

.br-theme-bars-movie .br-widget a.br-selected {
  background-color: #4278f5;
}

.br-theme-bars-movie .br-widget .br-current-rating {
  clear: both;
  width: 240px;
  text-align: center;
  font-weight: 600;
  display: block;
  padding: .5em 0;
  color: #4278f5;
  font-weight: 400;
}

.br-theme-bars-movie .br-readonly a.br-active {
  background-color: #4278f5;
}

.br-theme-bars-movie .br-readonly a.br-selected {
  background-color: #4278f5;
}




    .career-questionnaire li {
  margin-left: -15px;
  margin-right: -15px;
  display: block;
  margin: 10px 0;
  padding: 5px 10px;
  position: relative;
  width: 100%;
  counter-increment: step-counter; }
  .career-questionnaire li:before, .career-questionnaire li:after {
    content: " ";
    display: table; }
  .career-questionnaire li:after {
    clear: both; }
  .career-questionnaire li:hover {
    background-color: #eeeeee;
    border-radius: 3px; }
  .career-questionnaire li:before {
    content: counter(step-counter);
    display: block;
    position: absolute;
    font-size: 12px;
    left: -30px;
    border-radius: 3px;
    background-color: #eeeeee;
    padding: 2px 7px; }
  .career-questionnaire li ol li {
    list-style: none; }
  .career-questionnaire li:after {
    display: table;
    clear: both;
    content: ''; }
  .career-questionnaire li.done:before {
    content: '\f224';
    font-family: 'Material Design Iconic Font';
    color: white;
    background-color: #00964c; }
  .career-questionnaire li > .question {
    display: block;
    position: relative;
    float: left; }
    .career-questionnaire li > .question::first-letter {
      text-transform: uppercase; }
    @media (max-width: 991px) {
      .career-questionnaire li > .question {
        width: 100%;
        padding-right: 15px; } }
    @media (min-width: 992px) {
      .career-questionnaire li > .question {
        width: 60%;
        padding-right: 15px; } }
  .career-questionnaire li > .question-rating {
    display: block;
    position: relative;
    float: left;
    text-align: center; }
    @media (max-width: 991px) {
      .career-questionnaire li > .question-rating {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px; } }
    @media (min-width: 992px) {
      .career-questionnaire li > .question-rating {
        width: 40%; } }
    .career-questionnaire li > .question-rating .br-wrapper {
      display: inline-block; }
      @media (max-width: 991px) {
        .career-questionnaire li > .question-rating .br-wrapper {
          margin-top: 15px; }
          .career-questionnaire li > .question-rating .br-wrapper > .br-widget > *[data-rating-value] {
            width: 40px;
            height: 20px; }
          .career-questionnaire li > .question-rating .br-wrapper > .br-widget > .br-current-rating {
            width: 170px; } }


      /* ANIMATION */
.br-theme-bars-movie .br-widget {
  height: 10px; }
  .br-theme-bars-movie .br-widget a {
    display: block;
    /*width: 60px; Goi*/
    width: 76px;
    height: 8px;
    float: left;
    background-color: #f28900;
    margin: 1px;
    -webkit-transition: transform 0.35s cubic-bezier(0, 0.96, 0.86, 0.99);
    -o-transition: transform 0.35s cubic-bezier(0, 0.96, 0.86, 0.99);
    transition: transform 0.35s cubic-bezier(0, 0.96, 0.86, 0.99);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
    .br-theme-bars-movie .br-widget a:hover {
      -webkit-transition: transform 0.35s cubic-bezier(0, 0.96, 0.86, 0.99);
      -o-transition: transform 0.35s cubic-bezier(0, 0.96, 0.86, 0.99);
      transition: transform 0.35s cubic-bezier(0, 0.96, 0.86, 0.99);
      -webkit-transform: scale(1, 1.8);
      -moz-transform: scale(1, 1.8);
      -o-transform: scale(1, 1.8);
      transform: scale(1, 1.8); }
    .br-theme-bars-movie .br-widget a.br-active {
      background-color: #4278f5; }
    .br-theme-bars-movie .br-widget a.br-selected {
      background-color: #4278f5; }
  .br-theme-bars-movie .br-widget .br-current-rating {
    clear: both;
    /*width: 240px;*/
    width: 100%;
    text-align: center;
    font-weight: 600;
    display: block;
    padding: .5em 0;
    color: #4278f5;
    font-weight: 400; }
.br-theme-bars-movie .br-readonly a.br-active {
  background-color: #4278f5; }
.br-theme-bars-movie .br-readonly a.br-selected {
  background-color: #4278f5; }


.career-questionnaire li {
  margin-left: -15px;
  margin-right: -15px;
  display: block;
  margin: 10px 0;
  padding: 5px 10px;
  position: relative;
  width: 100%;
  counter-increment: step-counter;
}

.career-questionnaire li:before,
.career-questionnaire li:after {
  content: " ";
  display: table;
}

.career-questionnaire li:after {
  clear: both;
}

.career-questionnaire li:hover {
  background-color: #eeeeee;
  border-radius: 3px;
}

.career-questionnaire li:before {
  content: counter(step-counter);
  display: block;
  position: absolute;
  font-size: 12px;
  left: -30px;
  border-radius: 3px;
  background-color: #eeeeee;
  padding: 2px 7px;
}

.career-questionnaire li ol li {
  list-style: none;
}

.career-questionnaire li:after {
  display: table;
  clear: both;
  content: '';
}

.career-questionnaire li.done:before {
  content: '\f224';
  font-family: 'Material Design Iconic Font';
  color: white;
  background-color: #00964c;
}

.career-questionnaire li > .question {
  display: block;
  position: relative;
  float: left;
}

.career-questionnaire li > .question::first-letter {
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .career-questionnaire li > .question {
    width: 100%;
    padding-right: 15px;
  }
}

@media (min-width: 992px) {
  .career-questionnaire li > .question {
    width: 60%;
    padding-right: 15px;
  }
}

.career-questionnaire li > .question-rating {
  display: block;
  position: relative;
  float: left;
  text-align: center;
}

@media (max-width: 991px) {
  .career-questionnaire li > .question-rating {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}



@media (min-width: 992px) {
  .career-questionnaire li > .question-rating {
    width: 40%;
  }
}

.career-questionnaire li > .question-rating .br-wrapper {
  display: inline-block;
}

@media (max-width: 991px) {
  .career-questionnaire li > .question-rating .br-wrapper {
    margin-top: 15px;
  }
  .career-questionnaire li > .question-rating .br-wrapper > .br-widget > *[data-rating-value] {
    width: 40px;
    height: 20px;
  }
  .career-questionnaire li > .question-rating .br-wrapper > .br-widget > .br-current-rating {
    width: 170px;
  }
}