// 
// Trends and Forecast
// --------------------------------------------------
//
// .list-group {
// 	.list-group-item {
// 		display: block;
// 		clear: both;

// 		.list-group-heading {
// 			margin-top: 5px;
// 		}

// 		i.md {
// 			position: absolute;
// 			top: 20px;
// 			right: 15px;
// 		}
// 	}
// }

.list-item {
	display: table;
	width: 100%;
	position: relative;
	vertical-align: middle;
	border-collapse: separate;

	> .list-group-heading {
		@include clearfix();
	}

	.list-sub-item {
		display: table-cell;
		float: none;
		position: relative;
		width: 27%;

		&:last-child {
			width: 46%; 
		}
		
		span {
			display: block;
			position: relative;
			text-align: center;
			&:last-child {
				font-size: 1.5em;
			}
		}

		> span {
			font-size: 1em;
		}
	}
}


// Special colored panels for Trends and Forecast
.panel-colored {
  margin-bottom: $line-height-computed;
  position: relative;
  background-color: $panel-bg;
  border: 1px solid transparent;
  border-radius: $panel-border-radius;
  @include box-shadow(0 1px 3px rgba(116, 116, 116, 0.3));
  @include transition (background-color 0.3s cubic-bezier(.26,.51,.34,.98));
  color: #fff;
}

.panel-colored.closed {
  &:hover {
  	@include transition (background-color 0.3s cubic-bezier(.26,.51,.34,.98));
  	cursor: pointer;

  	&:before {
  		font-size: 0.8em;
  		content: 'EXPAND';
  		text-transform: uppercase;
  		display: block;
  		position: absolute;
  		bottom: 9px;
  		margin-left: -40px;
  		left: 50%;
  	}

  	&:after {
  		font-size: 1.2em;
  		font-family: 'Material-Design-Iconic-Font';
  		content: '\f2a6';
  		text-transform: uppercase;
  		display: block;
  		position: absolute;
  		bottom: 5px;
  		margin-left: -60px;
  		left: 50%;
  	}
  }
}

.panel-colored-heading {
	padding: $panel-heading-padding / 2 ;
	position: relative;

	.panel-status-indicator {
		width: 2.3em;
		height: 2.3em;
		text-align: center;
		background-color: #fff;
		border-radius: 2.3em;
		position: absolute;
		top: 30px;
		right: 30px;

		i.md {
			margin-top: -3px;
		}
	}
}

.panel-colored-body {
  padding: $panel-body-padding / 2;
  padding-top: 0;
  @include clearfix; 
}

.panel-colored-orange { 
	background-color: $brand-orange;
	&:hover {
		background-color: darken($brand-orange, 3%)
	}
}
.panel-colored-green { 
	background-color: $brand-green;
	&:hover {
		background-color: darken($brand-green, 3%)
	}
}
.panel-colored-cyan { 
	background-color: $brand-cyan;
	&:hover {
		background-color: darken($brand-cyan, 3%)
	}
}
.panel-colored-red { 
	background-color: $brand-red;
	&:hover {
		background-color: darken($brand-red, 3%)
	}
}
.panel-colored-purple { 
	background-color: $brand-purple;
	&:hover {
		background-color: darken($brand-purple, 3%)
	}
}
.panel-colored-burgundy { 
	background-color: $brand-burgundy;
	&:hover {
		background-color: darken($brand-burgundy, 3%)
	}
}
.panel-colored-blue { 
	background-color: $brand-blue;
	&:hover {
		background-color: darken($brand-blue, 3%)
	}
}

// 
// Reports / Team Stats
// --------------------------------------------------
//
.rating-team-group {
	display: table;
	width: 100%;
	text-align: center;
}
.rating-team {
	display: table-cell;
	width: 50%;
	text-align: center;

	> .rating-title {
		text-align: center;
		font-size: 1.2em;
	}

	> .rating-team-value {
		font-size: 2em;
		width: auto;
		height: auto;
		padding: 1em;
		border-radius: 6px;
		color: #fff;
		background-color: $brand-cyan;
		display: inline-block;
		text-align: center;
		text-indent: -5px;
		&:after {
			content: '%';
		}
	}
}