@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="fi-"]:before, [class*=" fi-"]:before,
[class^="fi-"]:after, [class*=" fi-"]:after {   
	font-family: Flaticon;
    font-size: inherit;
	font-style: normal;
}
.fi-performance:before { content: "\e000"; }
.fi-book:before { content: "\e001"; }
.fi-location:before { content: "\e002"; }
.fi-medical:before { content: "\e003"; }
.fi-certificate:before { content: "\e004"; }
.fi-portfolio:before { content: "\e005"; }
.fi-skills:before { content: "\e006"; }
.fi-settings:before { content: "\e007"; }
.fi-home:before { content: "\e008"; }
.fi-more:before { content: "\e009"; }
.fi-mobile:before { content: "\e00a"; }
.fi-groups:before { content: "\e00b"; }
.fi-alarm-off:before { content: "\e00c"; }
.fi-apps:before { content: "\e00d"; }
.fi-development:before { content: "\e00e"; }
.fi-benefits:before { content: "\e00f"; }
.fi-direct-report:before { content: "\e010"; }
.fi-alarm-on:before { content: "\e011"; }
.fi-profile:before { content: "\e012"; }
.fi-awards:before { content: "\e013"; }
