// Core variables and mixins
@import "../../assets-common/css/bootstrap/variables";
@import "../../assets-common/css/bootstrap/mixins";

body {
	background-image: url(../img/bg.png);
	background-repeat: repeat;
	min-height: 100%;
}

.navbar-header { width: 100%; }
.selected-name {
	font-size: 4em;
	text-align: center;
	font-family: $font-family-alt;
	color: $brand-primary;
	height: 190px;

	.department {
	    margin-top: -15px;
	    display: block;
	    font-size: 0.8em;
	}
}
#selectedNameDisplay,#selectedDeptDisplay, #selectedPrize { 
	display: none;
	@include transform-origin(top);
}

#selectedPrize {
	padding-top: 10px;
	padding-bottom: 10px;

	&:before {
		content: 'Congratulations, you have won\00a0';
		display: inline;
		color: $text-muted;
		font-size: 0.7em;
	}
	&:after {
		content: '!';
		display: inline;
		color: $text-muted;
		font-size: 1em;
	}
}

#displayIcon { font-size: 163px; text-shadow: 0 5px 0 #E2DACF; }

.btn-xlg {
	font-size: 4em;
	border-radius: $border-radius-base;
	padding: $grid-gutter-width/2 $grid-gutter-width;
	text-align: center;
	margin-top: $grid-gutter-width;
	width: 300px;

	&:disabled, &:disabled:hover, &:disabled:active {
		border-color: transparent;
		background-image: none;
		background-color: transparent;
		pointer-events: none;
		@include opacity(1);
		@include box-shadow(none);
		color: $brand-primary !important;
	}
}

.randomizer-box {
	padding-top: $grid-gutter-width;
	padding-bottom: $grid-gutter-width;
	border-radius: $border-radius-base;
	width: 950px;
	margin: auto;
	background-color: rgba(255,255,255,0.9);
	position: fixed;
	top: calc(50% - 270px + 46px);
	left: calc(50% - 475px);
	text-align: center;
	z-index: 2;
	overflow: hidden;
	@include clearfix();
	@include box-shadow(0 25px 75px rgba(0,0,0,0.3));

	.randomizer-static, .randomizer-dynamic {
		float: left;
		position: relative;
		@include gradient-vertical($gray-dark,darken($gray-dark,5%));
		@include box-shadow(inset 0 0 80px rgba(0, 0, 0, 0.5));
		ul {
			width: 100%;
			height: 139px;
			overflow: hidden;
			float: left;
			position: relative;
			display: block;
			margin-left: 0;
			margin-bottom: 0;
			padding-left: 0;
			list-style: none;
			li {
				float: left;
				position: relative;
				font-size: 5.5em;
				display: block;
				color: white;
				text-align: center;
				text-shadow: 2px 2px 3px #191919;
				border-right: 1px solid #3E3E3E;
				border-left: 1px solid #212121;

				span {
					padding: $grid-gutter-width/2 $grid-gutter-width - 10;
					display: block;
					clear: both;
					margin: auto;
				}
			}
		}	

		&:before {
			position: absolute;
			display: block;
			content: '';
			height: 72px;
			background-color: rgba(255,255,255,0.04);
			top: 0;
			left: 0;
			right: 0;
			z-index: 100;
		}
	}

	.randomizer-static {
		width: percentage(4/10);
		border-top: 5px solid lighten($gray-dark,5%);
		border-bottom: 5px solid lighten($gray-dark,5%);
		ul {
			// background-color: $gray-dark;
			> li {
				width: percentage(1/4);

				&:first-child {
					border-left: none;
				}
			}
		}
	}

	.randomizer-dynamic {
		width: percentage(6/10);
		border-top: 5px solid lighten($gray-dark,5%);
		border-bottom: 5px solid lighten($gray-dark,5%);
		ul {
			// background-color: darken($gray-dark,5%);
			> li {
				width: percentage(1/5);
				&:last-child {
					border-right: none;
				}
			}
		}
	}
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	background-color: $brand-turquoise;
}