.ads {
	position: relative;

	.ad-grid {
		padding: ($grid-gutter-width/2)-5;
		position: relative;

		@media (max-width: $screen-xs-max) {
			width: 100%;	
		}

		@media (min-width: $screen-sm-min) {
			width: percentage( 6 / 12);
		}

		@media (min-width: $screen-md-min) {
			width: percentage( 6 / 12);	
		}

		@media (min-width: $screen-lg-min) {
			width: percentage( 4 / 12);	
		}

		@media (min-width: 1400px) and (max-width: 1440px){
			width: percentage( 4 / 12);	
		}

		@media (min-width: 1441px) {
			width: percentage( 3 / 12);	
		}
	}
}

.panel-ads {
	background: white;
	border-radius: $border-radius-base;
    border-top: 1px solid #E2E0E0;
    border-left: 1px solid #D2D1D1;
    border-right: 1px solid #D2D1D1;
    border-bottom: 1px solid #C3C1C1;
    padding: 1px;

	@include clearfix();
	@include box-shadow(0 2px 3px rgba(0, 0, 0, 0.1));
	@include transition (all 0.2s $easing);

	&:hover {
        @include box-shadow(0 7px 15px rgba(116, 116, 116, 0.4));
        @include transition (all 0.2s $easing);
	}

	img {
		width: 100%;
		max-width: 100%;
		border-top-left-radius: $border-radius-base;
		border-top-right-radius: $border-radius-base;
		border: 5px solid transparent;

		&:hover {
			cursor: zoom-in;
		}
	}

	.ad-title {
		font-size: 1.2em;
		color: $brand-blue;
	}

	.caption {
		margin-bottom: ($grid-gutter-width/2)-5;
		padding-left: $grid-gutter-width/2;
		padding-right: $grid-gutter-width/2;
	}

	.panel-actions {
		padding-left: $grid-gutter-width/2;
		float: left;
	}

	.panel-meta-info {
		margin-top: 7px;
		padding-right: $grid-gutter-width/2;
		padding-bottom: $grid-gutter-width/2;
		float: right;

		div { display: inline-block; }
		div:first-child { margin-right: 5px; }
	}
}

.panel-ad-meta-modal {
	display: inline-block;
	margin-right: ($grid-gutter-width/2)-5;
	padding-right: ($grid-gutter-width/2)-5;
	border-right: 1px solid #e3e3e3;
	& > span:first-child {
		margin-right: 5px;
	}

	& + .modal-title {
		display: inline-block;
	}
}

.h_image-center > img {
	margin: auto auto;
	border-radius: $border-radius-base;
}

.m_rem-padding { padding: 0; }
.m_no-border { border: none; }
.m_modal-header {
	$caption-height: 45px;
	background-color: white;
	border-bottom: 1px solid #e3e3e3;
	color: $text-color;
	padding: ($grid-gutter-width/2)-5 $grid-gutter-width/2;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	min-height: $caption-height;

	& + .modal-dialog {
		overflow-y: auto;
		height: calc(100% - #{$caption-height});
		height: -webkit-calc(100% - #{$caption-height});
		height: -moz-calc(100% - #{$caption-height});
		width: 100%;
		margin-top: $caption-height;
		padding: 1% 12%;
	}

	@include box-shadow(0 1px 3px rgba(0,0,0,0.15));
	@include clearfix();

	.caption {
		width: calc(100% - 170px);
		width: -webkit-calc(100% - 170px);
		width: -moz-calc(100% - 170px);
		display: block;
		float: left;
	}

	.esc-window {
	    width: 170px;
	    display: block;
	    line-height: 1.1;
	    position: absolute;
	    right: 0;
	    top: 0;
	    padding-top: 6px;
	}

	.btn-dismiss {
		position: absolute;
		top: 0;
		right: 0;
		padding-top: 7px;
		padding-bottom: 7px;
		background-color: $brand-danger;
		border-radius: 0;
		color: white;

		&:hover {
			border-radius: 0;
		}
	}
}

.modal.in#previewAd { overflow: hidden; }


