﻿/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-horizontal   - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Right: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - Default arguments: What: all, Length: 1s, Easing: ease-in-out
    -                            - Examples: @include transition (all 2s ease-in-out);
    -                                        @include transition (opacity 1s ease-in 2s, width 2s ease-out);
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)

------------------------------------------------------------- */
/* ADDS A BROWSER PREFIX TO THE PROPERTY */
/* BACKGROUND GRADIENT */
/* BACKGROUND HORIZONTAL */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BACKGROUND COLOR OPACITY */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSFORM STYLE */
/* TRANSITION */
/* TRIPLE BORDERS */
/* KEYFRAMES */
/* ANIMATION */
body.bg-animate {
  color: white;
  background-image: none;
  -webkit-transition: background-color 3s cubic-bezier(0, 0.96, 0.86, 0.99);
  -o-transition: background-color 3s cubic-bezier(0, 0.96, 0.86, 0.99);
  transition: background-color 3s cubic-bezier(0, 0.96, 0.86, 0.99);
}

body.bg-animate.bg1 {
  background-color: #f28900;
}

body.bg-animate.bg2 {
  background-color: #009296;
}

body.bg-animate.bg3 {
  background-color: #2e59a0;
}

body.bg-animate.bg4 {
  background-color: #00aff0;
}

.panel-identity-confirm {
  text-align: center;
  position: relative;
}

.panel-identity-confirm .logo-brand {
  margin: 30px auto;
  width: 40%;
  height: auto;
  display: block;
  clear: both;
}

.panel-identity-confirm .logo-brand:before,
.panel-identity-confirm .logo-brand:after {
  content: " ";
  display: table;
}

.panel-identity-confirm .logo-brand:after {
  clear: both;
}

@media (max-width: 767px) {
  .panel-identity-confirm {
    width: 78%;
    margin: auto auto;
    padding: 15px;
  }
}

@media (min-width: 768px) {
  .panel-identity-confirm {
    width: 450px;
    padding: 40px;
    margin: 30px auto 0 auto;
  }
}

.panel-identity-confirm .avatar {
  margin-bottom: 15px;
}

.js_is-not-user {
  display: none;
}

.login-credentials .user {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.login-credentials .user:focus {
  z-index: 2;
  position: relative;
}

.login-credentials .password > .form-control {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: -1px;
}

.bg-animate .loader-message {
  color: white;
}

.bg-animate .spinner {
  font-size: 40px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  margin: 40px auto;
  position: relative;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translateZ(0);
  -khtml-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  animation: spin 1.7s infinite ease;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -khtml-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-box-shadow: 0 -0.83em 0 -0.4em white, 0 -0.83em 0 -0.42em white, 0 -0.83em 0 -0.44em white, 0 -0.83em 0 -0.46em white, 0 -0.83em 0 -0.477em white;
    box-shadow: 0 -0.83em 0 -0.4em white, 0 -0.83em 0 -0.42em white, 0 -0.83em 0 -0.44em white, 0 -0.83em 0 -0.46em white, 0 -0.83em 0 -0.477em white;
  }
  5%,
  95% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em white, 0 -0.83em 0 -0.42em white, 0 -0.83em 0 -0.44em white, 0 -0.83em 0 -0.46em white, 0 -0.83em 0 -0.477em white;
    box-shadow: 0 -0.83em 0 -0.4em white, 0 -0.83em 0 -0.42em white, 0 -0.83em 0 -0.44em white, 0 -0.83em 0 -0.46em white, 0 -0.83em 0 -0.477em white;
  }
  10%,
  59% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em white, -0.087em -0.825em 0 -0.42em white, -0.173em -0.812em 0 -0.44em white, -0.256em -0.789em 0 -0.46em white, -0.297em -0.775em 0 -0.477em white;
    box-shadow: 0 -0.83em 0 -0.4em white, -0.087em -0.825em 0 -0.42em white, -0.173em -0.812em 0 -0.44em white, -0.256em -0.789em 0 -0.46em white, -0.297em -0.775em 0 -0.477em white;
  }
  20% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em white, -0.338em -0.758em 0 -0.42em white, -0.555em -0.617em 0 -0.44em white, -0.671em -0.488em 0 -0.46em white, -0.749em -0.34em 0 -0.477em white;
    box-shadow: 0 -0.83em 0 -0.4em white, -0.338em -0.758em 0 -0.42em white, -0.555em -0.617em 0 -0.44em white, -0.671em -0.488em 0 -0.46em white, -0.749em -0.34em 0 -0.477em white;
  }
  38% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em white, -0.377em -0.74em 0 -0.42em white, -0.645em -0.522em 0 -0.44em white, -0.775em -0.297em 0 -0.46em white, -0.82em -0.09em 0 -0.477em white;
    box-shadow: 0 -0.83em 0 -0.4em white, -0.377em -0.74em 0 -0.42em white, -0.645em -0.522em 0 -0.44em white, -0.775em -0.297em 0 -0.46em white, -0.82em -0.09em 0 -0.477em white;
  }
  100% {
    -webkit-transform: rotate(360deg);
    -khtml-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-box-shadow: 0 -0.83em 0 -0.4em white, 0 -0.83em 0 -0.42em white, 0 -0.83em 0 -0.44em white, 0 -0.83em 0 -0.46em white, 0 -0.83em 0 -0.477em white;
    box-shadow: 0 -0.83em 0 -0.4em white, 0 -0.83em 0 -0.42em white, 0 -0.83em 0 -0.44em white, 0 -0.83em 0 -0.46em white, 0 -0.83em 0 -0.477em white;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -khtml-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-box-shadow: 0 -0.83em 0 -0.4em white, 0 -0.83em 0 -0.42em white, 0 -0.83em 0 -0.44em white, 0 -0.83em 0 -0.46em white, 0 -0.83em 0 -0.477em white;
    box-shadow: 0 -0.83em 0 -0.4em white, 0 -0.83em 0 -0.42em white, 0 -0.83em 0 -0.44em white, 0 -0.83em 0 -0.46em white, 0 -0.83em 0 -0.477em white;
  }
  5%,
  95% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em white, 0 -0.83em 0 -0.42em white, 0 -0.83em 0 -0.44em white, 0 -0.83em 0 -0.46em white, 0 -0.83em 0 -0.477em white;
    box-shadow: 0 -0.83em 0 -0.4em white, 0 -0.83em 0 -0.42em white, 0 -0.83em 0 -0.44em white, 0 -0.83em 0 -0.46em white, 0 -0.83em 0 -0.477em white;
  }
  10%,
  59% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em white, -0.087em -0.825em 0 -0.42em white, -0.173em -0.812em 0 -0.44em white, -0.256em -0.789em 0 -0.46em white, -0.297em -0.775em 0 -0.477em white;
    box-shadow: 0 -0.83em 0 -0.4em white, -0.087em -0.825em 0 -0.42em white, -0.173em -0.812em 0 -0.44em white, -0.256em -0.789em 0 -0.46em white, -0.297em -0.775em 0 -0.477em white;
  }
  20% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em white, -0.338em -0.758em 0 -0.42em white, -0.555em -0.617em 0 -0.44em white, -0.671em -0.488em 0 -0.46em white, -0.749em -0.34em 0 -0.477em white;
    box-shadow: 0 -0.83em 0 -0.4em white, -0.338em -0.758em 0 -0.42em white, -0.555em -0.617em 0 -0.44em white, -0.671em -0.488em 0 -0.46em white, -0.749em -0.34em 0 -0.477em white;
  }
  38% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em white, -0.377em -0.74em 0 -0.42em white, -0.645em -0.522em 0 -0.44em white, -0.775em -0.297em 0 -0.46em white, -0.82em -0.09em 0 -0.477em white;
    box-shadow: 0 -0.83em 0 -0.4em white, -0.377em -0.74em 0 -0.42em white, -0.645em -0.522em 0 -0.44em white, -0.775em -0.297em 0 -0.46em white, -0.82em -0.09em 0 -0.477em white;
  }
  100% {
    -webkit-transform: rotate(360deg);
    -khtml-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-box-shadow: 0 -0.83em 0 -0.4em white, 0 -0.83em 0 -0.42em white, 0 -0.83em 0 -0.44em white, 0 -0.83em 0 -0.46em white, 0 -0.83em 0 -0.477em white;
    box-shadow: 0 -0.83em 0 -0.4em white, 0 -0.83em 0 -0.42em white, 0 -0.83em 0 -0.44em white, 0 -0.83em 0 -0.46em white, 0 -0.83em 0 -0.477em white;
  }
}
