.widget-event-countdown {
	$event-height: 70px;
	@include clearfix();
	position: relative;
	height: $event-height;
	margin-top: 5px;
	margin-bottom: 5px;

	.widget-event-container {
	    position: relative;
	    padding-left: 88px;
	}

	.countdown-units {
		text-align: center;
	}

	.widget-event-countdown-info {
		z-index: 1;
		position: relative;
		width: calc(220px - 88px);
		width: -moz-calc(220px - 88px);
		width: -webkit-calc(220px - 88px);
		height: $event-height;
		display: table-cell;
		background-color: white;
		vertical-align: middle;

		.time-info {
			font-size: 2em;
			font-family: $font-family-bold;
			display: block;
			line-height: 1;
			float: left;
			width: 100%;
			color: $gray-dark;
			margin-top: -5px;

			&.js_CountdownWidget_Days:after, 
			&.js_CountdownWidget_Hours:after,
			&.js_CountdownWidget_Minutes:after {
				display: inline-block;
				text-align: left;
				font-size: 11px;
				text-transform: uppercase;
				white-space: pre-wrap;
				margin-left: 5px;
			}

		    &.js_CountdownWidget_Days:after { content: 'days \A before'; }
		    &.js_CountdownWidget_Hours:after { content: 'hrs \A before'; }
		    &.js_CountdownWidget_Minutes:after { content: 'mins \A before'; }
		}

		$theme: $brand-success;

		.event-info {
			width: 100%;
		    margin: 6px 0 0 0;
		    display: block;
		    text-align: center;
			overflow: hidden;
			line-height: 1;
			font-size: 0.7em;
			overflow: hidden;
			text-overflow: ellipsis;
			border-radius: 0;
			z-index: 2;
			// height: 22px;
		}
	}

	.widget-event-countdown-img {
		z-index: 0;
		position: absolute;
		overflow: hidden;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		img {
			height: 70px;
			width: auto;
		}
	}
}

.widget-countdown-error {
	padding: 10px;
	text-align: center;
	i {
		color: $text-muted;
		& + * {
			margin-top: 0;
		}
	}
	* {
		display: block;
		clear: both;
	}
}