.widget-app-gamification {
	.header {
		padding: 10px;
		margin-bottom: 0;
	}

	.nav-tabs-modified > li > a > i{
		font-size: 1.6em;
		text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07); 
		&.fi-one { color: #F1C907; }
		&.fi-two { color: $gray-light; }
		&.fi-three { color: #CD7F32; }
	}

	.leader-boards-list {
		padding: 5px;

		ul > li {
			padding: 5px;
			@include clearfix();

			.points{
				padding: 5px 8px;
				text-align: center;
				border-radius: 10px;
				display: block;
				float: right;
				position: relative;
				font-size: 0.8em;
				font-family: $font-family-bold;
				line-height: 1;
				margin-top: 5px;
				color: $brand-danger;


				&:after {
					content: 'pts';
					display: block;
					width: auto;
					clear: both;
					font-size: 0.8em; 
					text-transform: uppercase;
					color: $text-muted;
				}
			}

			.avatar {
				display: block;
				float: left;
				width: 30px;
			}

			.employee-name {
				font-size: 0.8em;
				display: block;
				float: left;

				width: -webkit-calc(100% - 80px);
				width: -moz-calc(100% - 80px);
				width: calc(100% - 80px);

				padding-left: 10px;
				margin-top: 5px;

				strong,small {
					font-size: inherit;
					display: block;
					clear: both;
				    white-space: nowrap;
				    text-overflow: ellipsis;
				    width: 100%;
				    overflow: hidden;
				}
			}
		}
	}
}