.list-group-files {
	.list-group-item {
		position: relative;
		margin-left: 30px;
		font-size: 12px;

		&:before {
			position: absolute;
			display: block;
			content: '\f17b';
			font-family: 'Material Design Iconic Font';
			left: -10px;
		}
	}
}

.panel-group-page {
	.jumbotron {
		position: relative;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 250px;
		margin-bottom: 0;

		h3 {
			display: inline-block;
			color: #fff;
			background-color: $gray-darker;
			font-size: 36px;
			padding: 20px;
			opacity: 0.7;
			font-weight: 200;
		}

		p {
			position: absolute;
			display: block;
			color: #fff;
			background-color: $gray-darker;
			font-size: 12px;
			line-height: 100%;
			padding: 20px;
			opacity: 0.7;
			left: 0;
			width: 100%;
			bottom: 0;
			margin-bottom: 0;
		}

	}

	.tile-cell {
		width: percentage((1 / 2));

		@media(max-width: $screen-xs-max) {
		width: 100%;
		}

	}

	.nav li {
		font-size: 12px;
	}

	.tab-pane {
		padding: 20px;
	}
}

.modal-groups-pages {

	p {
		margin-top: 5px;
	}
	.modal-header {
		color: $brand-gray;
		background-color: #fff;
	}
}