// Import Core variables and mixins
@import "../../assets-common/css/bootstrap/variables";
@import "../../assets-common/css/bootstrap/mixins";
@import "assets-variables.scss";

// Load All IRIS Components
@import "auth.scss";
@import "groups.scss";
@import "ads.scss";
@import "mood-meter.scss";
@import "trks.scss";
@import "weather.scss";
@import "feedback.scss";
@import "add-widget-bookmarks.scss";
@import "notepad.scss";
@import "timer.scss";
@import "portfolio.scss";
@import "connectors.scss";
@import "lingap.scss";
@import "countdown.scss";
@import "gamification.scss";
@import "dat.scss";
@import "profile-image.scss";
@import "notifications.scss";
@import "team-search.scss";
@import "popups.scss";
@import "lmvp.scss";
@import "sticky-controls.scss";
@import "unopedia.scss";

// Flaticons
@import "../flaticons/flaticon.scss";
    
// Body
body { 
    background-size: 40%;
    background-image: url(../../assets-common/img/body-bg.png);
    background-position: center center; 
    background-attachment: fixed;
}


// Sidebar
.sidebar-left-static {
    height: -webkit-calc(100% - 100px);
    height: -moz-calc(100% - 100px);
    height: calc(100% - 100px);
    // margin-top: $header-height;
    margin: 0 !important;
    position: fixed;
    top: $header-height;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: white;
    width: $sidebar-width;
    @media (max-width: $screen-sm-max) {
        left: -$sidebar-width;
        @include box-shadow(2px 0 3px rgba(0, 0, 0, 0.15));
    }
    @media (min-width: $screen-md-min) {
        left: 0;
    }
}

.sidebar-right-static {
    position: fixed;
    top: $header-height;
    bottom: 0;
    background-color: white;
    z-index: 1;
    opacity: 1;
    width: $sidebar-width;
    margin: 0 !important;
    @media (max-width: $screen-sm-max) {
        right: -$sidebar-width;
        @include box-shadow(-2px 0 3px rgba(0, 0, 0, 0.15));
    }
    @media (min-width: $screen-md-min) {
        right: 0;
    }
}

// Toggle Right sidebar
.btn-hide-sidebar {
    position: absolute;
    bottom: $grid-gutter-width/2;
    border: none;
    background-color: transparent;
    z-index: 2;
    width: 21px;
    height: 74px;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    @include user-select(none);
    @include box-shadow(none);
    background-image: url(../img/sidebar-toggle-bg.png) !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 21px 74px;
    outline: none !important;
    > i {
        @include transform-origin(center);
        font-size: 2.4em;
        color: $brand-primary;
        margin-left: 5px;
    }
    &:active,
    &:focus,
    &:before:active,
    &:before:focus {
        outline: none !important;
        background-image: url(../img/sidebar-toggle-bg.png) !important;
    }
    &:hover {
        background-color: transparent;
        @include transition (border 0.5s $easing, background-color 0.5s $easing, box-shadow 0.5s $easing, color 0.5s $easing);
        > i {
            color: saturate($brand-primary, 10%);
        }
    }
    &.btn-hide-right {
        right: $sidebar-width;
        bottom: calc(50% - 37px);
        bottom: -webkit-calc(50% - 37px);
        bottom: -moz-calc(50% - 37px);
    }
    &.btn-hide-left {
        left: $grid-gutter-width/2;
        @media (max-width: $screen-sm-max) {
            display: block;
        }
        @media (min-width: $screen-md-min) {
            display: none;
        }
    }
}

.main-content {
    z-index: 0;
    position: relative;
    @media (max-width: $screen-xs-max) {
        margin-left: 0;
        margin-right: 0;
    }
    @media (min-width: $screen-md-min) {
        margin-left: $sidebar-width;
        margin-right: $sidebar-width;
    }
    &.sidebar-hidden {
        margin-right: 0 !important;
    }
}

// Full-width dropdown menu
.dropdown-menu-groups {
    position: fixed;
    padding: 0;
    left: 0;
    top: $navbar-height;

    @media (max-width: $screen-sm-max) {
        width: 100%;
        margin-right: 0;
    }
    @media (min-width: $screen-md-min) {
        width: 60%;
        margin-right: $grid-gutter-width/2;
        margin-left: $grid-gutter-width/2;
    }
    .related-pages:empty:before {
        content: 'No relevant pages found';
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
        display: block;
        width: 70%;
        margin-left: 15%;
        color: $text-muted;
    }

    .page-header { margin-top: $grid-gutter-width/2; }
}

.dropdown:not(.open) [data-toggle="dropdown-custom"] + .dropdown-menu > * { pointer-events: none; }
.dropdown.open [data-toggle="dropdown-custom"] + .dropdown-menu > * { pointer-events: all; }

.dropdown-menu-notifications {
    position: fixed;
    padding: 0;
    left: 0;
    top: $navbar-height;

    @media (max-width: $screen-sm-max) {
        width: 100%;
        margin-right: 0;
    }
    @media (min-width: $screen-md-min) {
        width: 40%;
        margin-right: $grid-gutter-width/2;
    }   
}

// Splash Note
// .modal-splash-note {
// 	strong { color: $brand-danger; }
// 	.alpha-release {
// 	    border-top-left-radius: $border-radius-base;
// 	    border-top-right-radius: $border-radius-base;
// 	    background-color: $brand-primary;
// 	    margin-top: -$grid-gutter-width;
// 	    margin-left: -$grid-gutter-width;
// 	    margin-right: -$grid-gutter-width;
// 	    top: 0;
// 	    right: 0;
// 	    color: #FFC69B;
// 	    padding: $grid-gutter-width/2 $grid-gutter-width;
// 	    font-size: 1em;
// 	    font-family: $font-family-bold;
// 	    text-align: center;
// 	    text-transform: uppercase;
// 	    letter-spacing: 1px;
// 	    .md {
// 			position: absolute;
// 			font-size: 10em;
// 			right: $grid-gutter-width;
// 			top: $grid-gutter-width*2;
// 			color: #F46D09;
// 			@include opacity(0.1);	
// 	    }
// 	}
// 	.modal-dialog {
// 		@media (min-width: $screen-sm-min) {
// 			width: 600px !important;
// 		}
// 	}
// 	&.in .modal-dialog, .modal-dialog {
// 		@include transform(translateY(35%));
// 	}
// 	.modal-content {
// 		// @include gradient-vertical(#faba0c,#e17f00);
// 		color: $gray-dark;
// 		position: relative;
// 		border-radius: 4px;
// 		border: none;
// 		@include box-shadow(0 20px 90px rgba(95,95,95,0.9));
// 		p {
// 			font-size: 1.2em;
// 			font-family: $font-family-alt;
// 			line-height: 1.2;
// 			z-index: 1;
// 			position: relative;
// 			@media (min-width: $screen-sm-min) {
// 				width: 60%;
// 			}
// 		}
// 		img {
// 			width: 150px; height: auto;
// 		}
// 		.sn-image {
// 			position: absolute;
// 			bottom: 0;
// 			right: -$grid-gutter-width/2;
// 			display: block;
// 			background: url(../img/splash-note-img.png) no-repeat;
// 			background-size: cover;
// 			width: (527px)/2;
// 			height: (515px)/2;
// 			z-index: 0;
// 		}
// 		.btn {
// 			margin-top: 15px;
// 			@media (min-width: $screen-sm-min) {
// 				bottom: $grid-gutter-width/2;
// 				right: $grid-gutter-width/2;
// 				position: absolute;	
// 			}
// 		}
// 	}
// }
// @media (min-width: $screen-md-min) {
// 	.display-arrow {
// 		bottom: 73px;
// 		&:after {
// 			content: '';
// 			display: block;
// 			position: fixed;
// 			background-color: white;
// 			height: 73px;
// 			bottom: 0;
// 			left: 221px;
// 			right: 0;
// 		}
// 	}
// 	.splash-note-arrow {
// 		position: fixed;
// 		bottom: 10px;
// 		left: 230px;
// 		font-size: 4em;
// 		z-index: $zindex-modal + 1;
// 		color: $brand-danger;
// 	}
// }
// Draggable Widgets
.modal-draggable {
    pointer-events: none;
    z-index: $zindex-modal - 1;
    background-color: transparent;
    .js_draggable-widget {
        pointer-events: all;
    }
    .modal-draggable-handle:hover {
        cursor: move;
        background-color: $gray-lighter;
    }
}

// Modal header
.modal-header-toolbar button {
    margin-left: 15px;
}

.modal-header-toolbar button.action {
    padding: 1px;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    float: right;
    font-weight: bold;
    line-height: 1;
    color: #000;
    font-size: 21px;
    opacity: 0.4;
    filter: alpha(opacity=40);
    &:hover {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        opacity: 0.6;
        filter: alpha(opacity=60);
    }
}

.modal-header-muted {
    padding: 15px;
    border-top-left-radius: $border-radius-base;
    border-top-right-radius: $border-radius-base;
    background-color: #F7F7F7;
    .btn-add {
        margin-right: 10px;
    }
    .modal-title {
        display: inline-block;
    }
}

// Nav Tabs Modified
.nav-tabs-modified {
    border-top: 1px solid #e3e3e3;
    li {
        @media (max-width: $screen-xs-max) {
            width: 1%;
            display: table-cell;
        }
        a {
            padding: $widget-padding;
            background-color: $gray-lighter;
            color: lighten($gray, 5%);
            &:hover {
                color: $gray-dark;
            }
        }
        &.active {
            a {
                color: $gray-dark;
                background-color: white;
                border-top: 2px solid #F28900;
            }
            i.md {
                color: $brand-primary;
            }
        }
        &:not(.active) > a {
            border-top: 2px solid $gray-lighter;
            background-color: $gray-lighter;
            @include gradient-vertical-three-colors($gray-lighter, $gray-lighter, 91%, #e3e3e3)
        }
    }
}

.navbar-iris-header {
    .navbar-nav > li > a {
        position: relative;
        height: $navbar-height;

        .notif-indicator {
            top: 10px;
            right: 5px;
        }
    }
}

.nav > li > a {
    .notif-indicator {
        display: block;
        position: absolute;
        top: -10px;
        right: 5px;
        padding: 2px;
        background-color: #FFFFFF;
        min-width: 16.5px;
        height: 16px;
        border-radius: 20px;
        text-align: center;
        &.new {
            background-color: transparent;
            &:before {
                display: block;
                width: 27px;
                height: 12px;
                background-image: url(../img/new.png);
                background-size: 27px 12px;
                content: '';
            }
        }
        i {
            color: $brand-danger;
            margin-top: -1px;
            display: block;
        }
    }
}

// Helpers
.font-small {
    font-size: 12px;
}

.h_back-to-old-iris {
    width: 280px;
    display: inline-block;
    word-break: normal;
}

.h_hor-padding {
    padding-left: $grid-gutter-width/2;
    padding-right: $grid-gutter-width/2;
}

.h_modal-no-header {
    .modal-content {
        border-top-left-radius: $border-radius-base;
        border-top-right-radius: $border-radius-base;
    }
    .page-header {
        margin-top: 15px;
    }
}

.m_no-top-padding { padding-top: 0; }

.tooltip-handle {
    display: inline-block;
    margin-left: -$padding-xs-horizontal;
    margin-right: -$padding-xs-horizontal;
    padding-left: $padding-xs-horizontal;
    padding-right: $padding-xs-horizontal;
}

.btn-temp-back-iris {
    position: fixed;
    top: $navbar-height + 2;
    right: 0;
    z-index: $zindex-navbar;
    color: white;
    &:hover {
        color: white;
    }
}

.no-info {
    position: relative;
    text-align: center;
    padding: $grid-gutter-width;
    float: left;
    width: 100%;
    @include clearfix();
    @media (max-width: $screen-xs-max) {
        float: none;
        .message {
            font-size: $font-size-h4;
        }
    }
    @media (min-width: $screen-lg-min) {
        padding-left: percentage(1/12);
        padding-left: percentage(1/12);
    }
}

// Widget Icons
$ico-cell: -32px !default;
$r1: 0;
$r2: $ico-cell;
$r3: $ico-cell*2;
$r4: $ico-cell*3;
$r5: $ico-cell*4;
$c1: 0;
$c2: $ico-cell;
$c3: $ico-cell*2;
$c4: $ico-cell*3;
$c5: $ico-cell*4;
$c6: $ico-cell*5;
$c7: $ico-cell*6;
$c8: $ico-cell*7;
.ico-apps {
    $sprite-size: 510px;
    background-image: url(../img/app-sprite-sheet.png);
    background-repeat: no-repeat;
    background-size: $sprite-size/2;
    width: $ico-cell * (-1);
    height: $ico-cell * (-1);
    display: block;
    text-align: center;
    margin: auto;
    background-color: transparent;
    @include user-select(none);
    &.ico-notepad { background-position: $c1 $r1; }
    &.ico-training-calendar { background-position: $c2 $r1; }
    &.ico-timer { background-position: $c3 $r1; }
    &.ico-comet { background-position: $c4 $r1; }
    &.ico-udrive { background-position: $c5 $r1; }
    &.ico-leave-application { background-position: $c6 $r1; }
    &.ico-leave-approval { background-position: $c7 $r1; }
    &.ico-main-tool { background-position: $c8 $r1; }
    &.ico-trks { background-position: $c1 $r2; }
    &.ico-bravo { background-position: $c2 $r2; }
    &.ico-flex { background-position: $c3 $r2; }
    &.ico-payslip { background-position: $c4 $r2; }
    &.ico-ets { background-position: $c5 $r2; }
    &.ico-performance { background-position: $c6 $r2; }
    &.ico-leave-credits { background-position: $c7 $r2; }
    &.ico-sapphire { background-position: $c8 $r2; }
    &.ico-ropes-boss { background-position: $c1 $r3; }
    &.ico-ira { background-position: $c2 $r3; }
    &.ico-elearn { background-position: $c3 $r3; }
    &.ico-morp { background-position: $c4 $r3; }
    &.ico-lws { background-position: $c5 $r3; }
    &.ico-more { background-position: $c6 $r3; }
    &.ico-isolve { background-position: $c7 $r3; }
    &.ico-orrs { background-position: $c8 $r3; }
    &.ico-dat { background-position: $c1 $r4; }
}

// Widget Rotator
.widget-rotator {
    // position: relative;
    padding: 0;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    .btn-group {
        float: right;
    }
    .btn {
        padding: 3px;
    }
    .widget-rotator-item {}
    .widget-item-name {
        font-size: 0.8em;
        display: block;
        margin-top: 9px;
        color: $text-muted;
        margin-left: 5px;
        text-transform: uppercase;
        text-overflow: ellipsis;
        text-align: center;
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
        line-height: 1;
    }
    .widget-rotator-nav {
        border-top: 1px solid $gray-lighter;
        width: calc(100% - 10px);
        width: -moz-calc(100% - 10px);
        width: -webkit-calc(100% - 10px);
        clear: both;
        position: relative;
        padding: 0;
        margin-left: 5px;
        margin-right: 5px;
        @include clearfix();
    }
}

// Misc
[data-target='#feedbackModal']:hover {
    text-shadow: none !important;
    color: inherit !important;
}


[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}