// Import Core variables and mixins
@import "../../assets-common/css/bootstrap/variables";
@import "../../assets-common/css/bootstrap/mixins";
@import "assets-variables.scss";

$widget-color-theme: darken(#fff,2%);

.widget-mood-meter {
	display: block;
	height: 45px;
	max-height: 45px;
	position: relative;
	background-color: #f3f3f3;
	@include box-shadow(0 1px 0 0 $gray-lighter);
	@include user-select(none);
	@include transition (all 0.3s $easing);
	@include clearfix();

	opacity: 1;

	&.temp-hide {
		opacity: 0;
		@include transition (all 0.3s $easing);
	}

	// When user has already selected an emoji
	.title.prompting { display: none; }
	.title.not-prompting { display: block; }

	// When user has no recorded mood to date
	&.no-recorded-mood {
		.title.prompting {
			display: block;
		}

		.mood-meter-description, 
		.dropdown-stats,
		.title.not-prompting {
			display: none;
		}

		.badge {
			display: block;
			position: absolute;
			padding: 0;
			top: 3px;
			right: 11px;
			background-color: white;
			color: $brand-danger;
			z-index: 1;
			width: $grid-gutter-width/2;
			min-width: $grid-gutter-width/2;
			height: $grid-gutter-width/2;
		}
	}

	// When asking for an emoji
	&.active {
		.title.prompting {
			display: block;
		}

		.title.not-prompting {
			display: none;
		}

		.badge {
			display: block;
			position: absolute; 
			padding: 0;
			top: 3px;
			right: 11px;
			background-color: white;
			color: $brand-danger;
			z-index: 1;
			width: $grid-gutter-width/2;
			min-width: $grid-gutter-width/2;
			height: $grid-gutter-width/2;
		}

		.btn-emoticon { 
			padding: 8px;
		}
	}

	// Hide badge if not asking for emoji
	.badge {
		display: none;
	}

	.btn-emoticon {
		display: block;
		text-shadow: 0 1px 1px rgba(0,0,0,0.3);
		background-color: white;
		border-top-color: transparent;
		border-bottom-color: transparent;
		border-radius: 0;
		outline: none;
		padding: 8px;

		&:hover, &:active {
			background-color: #555;
			color: white;
			outline: none;
		}

		[class^="emoji-"]:before, [class*=" emoji-"]:before,
		[class^="emoji-"]:after, [class*=" emoji-"]:after {   
			font-family: Emoji;
		    font-size: 1.4em;
			font-style: normal;
		}


		i.emoji-none {
			display: inline-block;
			font: normal normal normal 14px/1 'Material Design Iconic Font';
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;

			font-size: 1.2em;
			vertical-align: -15%;
			text-align: center;
			width: 19px;

			&:before {
				font-family: inherit;
				content: '\f1f5';
				font-size: 27px;
			}
		}
	}
}

.widget-mood-meter-body {
	.title {
		margin: 0;
		line-height: 1;
	}
	line-height: 1;
	display: block;
	position: absolute;
	top: 10px;
	left: $grid-gutter-width*2;
	right: 0;
	&:hover { cursor: default; }
}


.mood-meter-action {
	float: left;
	position: relative;
	width: 52px;
	border-right: 1px solid #e3e3e3;
}

.mood-meter-description {
	line-height: 1;
	font-size: 85%;
	text-transform: uppercase;
}

.mood-meter-stats {
    background-color: white;
    position: absolute;
    top: 100%;
    min-width: $sidebar-width - 20 !important;
    padding: 5px;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    @include box-shadow(0 1px 2px rgba(116,116,116,0.2));

	.stats-list {
		padding: 0;
		margin-bottom: 5px;
		li {
			padding: 10px;

			> * {
				display: block;
				text-align: center;
				clear: both;
			}

			border-right: 1px solid #e3e3e3;
			display: block;
			width: percentage(1/3);
			float: left;
			position: relative;

			&:last-child { border-right: none; }
		}
	}
}

.dropdown-stats {
	display: inline-block;
	margin-bottom: -6px;
	padding-right: 5px;
	position: absolute;
	top: 0;
	right: 0;

	.btn {
		padding: 2px 4px;
	}
}

.dropdown-emoticon {
	width: auto;
	.btn {
		width: percentage(1/2);
		position: relative;
		min-height: 1px;
		padding: 5px;
		float: left;
		text-align: center;
		background-color: transparent;
		display: inline-block;
		z-index: 1;

		@include transition (all 0.3s $easing);
		@include transform(scale(1,1));
		// transform: scale(1, 1);
		// 	-webkit-transform: scale(1, 1);
		// 		-moz-transform: scale(1, 1);
		// 			-o-transform: scale(1, 1);	
		// 				-ms-transform: scale(1, 1);
		> .emoji-label {
			@include clearfix();
		}

		&:hover {
			background-color: #555;
			color: #fff;
			z-index: 2;

			@include transition (all 0.3s $easing);
			@include transform(scale(1.4,1.4));
		}

		&.active {
			color: $brand-primary;

			&:hover {
				color: white;
			}
		}
	}
}