.tab-content-notifications {
	min-height: 200px;
	max-height: 300px;
	overflow-y: auto;

	.list-group {
		margin-bottom: 0 !important;

		.list-group-item {
			@include clearfix();
			margin: 0 !important;

			span {
				&:not(.btn) {
					position: relative;
					float: left;
					display: block;
					width: 100%;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					word-break: break-all;
				}
				&.btn {
					width: 100px;
					display: none;
					position: absolute;
					background-color: $gray-light;
					color: white;
					top: 10px;
					right: $grid-gutter-width/2;
				}
			}

			&:hover {
				span {
					&:not(.btn) {
						padding-right: $grid-gutter-width/2;
						width: calc(100% - 100px);
						width: -webkit-calc(100% - 100px);
						width: -moz-calc(100% - 100px);
					}
					&.btn {
						display: block;
					}
				}				
			}
		}

		.list-mood {

			.h_sad {
				margin: 0 $grid-gutter-width/2 0 $grid-gutter-width/2;
				float: left;
				&:before {
					font-size: 28px;
				}
				& + * {
					float: left;
					margin-top: 10px !important;
				}
			}
		}

		.list-birthdays {
			overflow: hidden;
			position: relative;

			background-color: #524F98;
			background-image: url(../img/greetings/bg-food.png);
			background-repeat: repeat;
			background-size: 150px 150px;
			color: white;
		    border-bottom: 2px solid #3D3C5F !important;
		    border-top: 2px solid #383771;

			&:before {
			    position: absolute;
			    display: block !important;
			    width: 50px;
			    height: 50px;
			    background: url("../img/greetings/bday-asset-cake.svg") no-repeat center center !important;
			    top: 7px;
			    left: $grid-gutter-width/2;
			    z-index: 1;
			}

			&:after { content: ''; display: none !important; }

			.list-birthdays-text {
				.greeting {
					color: #FFFF0F;
					margin-top: 0;
					margin-bottom: 0;

					& + * {
						margin-top: 0 !important;
					}
				}
				min-height: 40px;
				padding-left: 50px +$grid-gutter-width/2;
			}

			.list-celebrants {
				display: block;
				clear: both;
				list-style-type: none;
				margin: 0;
				padding: 0;
				max-height: 60px;
				overflow-y: auto;
				position: relative;
				@include clearfix();

				li {
					padding: 0;
					&:before {
						font-family: "Material Design Iconic Font";
						font-size: 14px;
						content: "\f122";
						color: #fff;
						margin-right: 5px;
					}
				}
			}
		}

		.list-lmvp {
			padding-left: 66px;

			.lmvp-logo-badge {
				position: absolute;
				top: 15px;
				left: 18px;
			}
		}
	}
}

.panel-notifications {
	.nav-pills > li > a > .badge {
		position: absolute;
		background-color: $brand-danger;
		color: white;
	    top: 0;
	    margin-left: -4px;
	}

	.list-group li {
		padding: 5px 8px;
	}

	.panel-heading {
	    border-top: 1px solid #D8D8D8;
	    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	    margin-bottom: 2px;
	    border-bottom: 1px solid white;
	    background: #F9F9F9;
	    padding: 0;
	}
}

.note {
	margin-left: -$grid-gutter-width/2;
	margin-right: -$grid-gutter-width/2;
	margin-bottom: $grid-gutter-width/2;
	border-bottom: 1px solid #e3e3e3;
	padding: $grid-gutter-width/2;

	&:last-child {
		margin-bottom: 0;	
		border-bottom: none;
	}

	.list-bullet-custom {
		position: relative;
		display: block;
		width: 100%;
		padding: 10px;

		li {
			position: relative;
			margin-bottom: 5px;
			&:before {
			    content: '';
			    display: inline-block;
			    width: 10px;
			    height: 2px;
			    border-radius: 0;
			    background-color: $brand-primary;
			    margin-right: 10px;
			    margin-left: -10px;
			    margin-bottom: 3px;
			}
		}
	}
}

.notes {
	line-height: 1.3;
	> li {
		> .title {
			text-transform: uppercase;
			color: $gray-light;
		}

		.title-widget {
			font-size: 80%;
			color: $gray-light;
			display: block;
			clear: both;
			text-transform: uppercase;
		}

		> ul > li {
			&:before {
				display: inline-block;
				content: '\2014';
				padding-right: 5px;
			}

			ul { margin-left: 5px; margin-top: 5px; }
			ul > li { padding-top: 2px !important; padding-bottom: 2px !important; margin-bottom: 3px; }
		}
	}
    &:after {
      display: block;
      position: fixed;
      bottom: 0;
      left: 0;
      right: $grid-gutter-width/2;
      content: '';
      height: 60px;
      z-index: 2;
      border-bottom-left-radius: $border-radius-base;
      @include gradient-vertical(transparent,white, 0%, 100%) 
    }
}