// ===================== Sticky Controls ================ //
*[data-sticky="controls"] {
  z-index: 5;
  background-color: white;
  @include transition(top .3s $easing);
  top: $header-height;
  .nav > li > a {
    @include transition(border .3s $easing);
    &.active { @include transition(border .3s $easing); }
    &:hover {cursor: pointer; }
  }

  &.list-controls-fixed {
    position: fixed;
    background-color: white;
    top: $navbar-height + $subnavbar-height;

    @include transition(top .3s $easing);
    @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.15));
    @media (max-width: $screen-sm-max) {
      left: $grid-gutter-width/2;
      right: $grid-gutter-width/2;
    }
    @media (min-width: $screen-md-min) {
      left: $sidebar-width + ($grid-gutter-width/2);
      right: $sidebar-width + ($grid-gutter-width/2);
    }
  }
}

body {
  &.collapsed-right-sidebar .list-controls-fixed {
      left: $sidebar-width + ($grid-gutter-width/2);
      right: $grid-gutter-width/2;
  }
  &.collapsed-left-sidebar .list-controls-fixed {
      left: $grid-gutter-width/2;
      right: $sidebar-width + ($grid-gutter-width/2);
  }
}
// ===================== Sticky Controls ================ //