.panel-documents {
	.panel-heading-documents {
		border-top-left-radius: $border-radius-base;	
		border-top-right-radius: $border-radius-base;
		@include clearfix();
		$logo-width: 100px;
		.logo {
			position: relative;
			float: left;
			width: $logo-width;
			height: auto;
			margin-top: 5px;
		}
		.document-toolbar {
			padding-left: $grid-gutter-width/2;
			position: relative;
			float: left;
			width: calc(100% - #{$logo-width});
			width: -webkit-calc(100% - #{$logo-width});
			width: -moz-calc(100% - #{$logo-width});
		}
		.form-group { padding: 25px $grid-gutter-width/2 0 $grid-gutter-width/2; }
		.nav-pills li a {
			padding: 3px;
			line-height: 1;
			font-size: 11px;
		}

	}
}

.list-collection-documents {
	margin-left: -$grid-gutter-width/2;
	margin-right: -$grid-gutter-width/2;
}

.list-group-documents {
	margin-bottom: 0;
	li {
		display: block;
		position: relative;
		&:last-child a { border-bottom: none; }
		a {
			@include clearfix();
			display: block;
		    padding-top: 8px;
		    padding-bottom: 8px;
		    position: relative;
		    color: $text-color;
		    z-index: 0;
		    border-bottom: 1px dotted #e0e0e0;

			.list-label, .time-stamp {
				position: relative;
				float: left;
				display: block;
			}

			.list-label {
				@include break-word();
				@include truncate-ellipsis(85%);
			}

			.time-stamp {
				text-align: right;
				width: 15%;
				margin-top: 10px;
				position: absolute;
				right: 0;
			}

			.metadata {
				display: block;
				clear: both;
				color: #656565;
			}

		    &:hover {
		    	color: $link-color;
		    }
		}

		.btn-like {
			position: absolute;
			top: 0;
			right: 8px;
			width: 70px;
			text-transform: uppercase;
			pointer-events: none;
			@include opacity(0);
			@include transition(all 0.3s $easing);
			@include calc-sub-two-values(top,50%,14px);
			z-index: 1;
		}

		&:hover .btn-like {
			@include opacity(1);
			right: 0;
			pointer-events: all;
			z-index: 1;
			@include transition(all 0.3s $easing);
		}
	}
}

// UNOPEDIA FILE TYPES
.list-group-documents li a {
	$ico-cell: -30px !default;
	$r1: 0;
	$r2: $ico-cell;
	$r3: $ico-cell*2;
	$r4: $ico-cell*3;
	$r5: $ico-cell*4;
	$c1: 0;
	$c2: $ico-cell;
	$c3: $ico-cell*2;
	$c4: $ico-cell*3;
	$c5: $ico-cell*4;

    $sprite-size: 300px;
    padding-left: ($ico-cell * (-1)) + 10;

    &:before {
	    background-image: url(../img/unopedia-icons-sprite-sheet.png);
	    background-repeat: no-repeat;
	    background-size: $sprite-size/2;
	    width: $ico-cell * (-1);
	    height: $ico-cell * (-1);
	    display: block;
	    text-align: center;
	    position: absolute;
	    @include calc-sub-two-values(top,50%,15px);
	    left: 2px;
	    margin: 0;
	    content: '';
	    background-color: transparent;
	    @include user-select(none);	
    }
    &[href$='#']:before { background-position: $c1 $r2; }
    &[href$='.zip']:before { background-position: $c1 $r1; }
    &[href$='.jpg']:before { background-position: $c2 $r1; }
    &[href$='.mp4']:before { background-position: $c3 $r1; }
    &[href$='.mpeg']:before { background-position: $c4 $r1; }
    &[href$='.doc']:before,
    &[href$='.docx']:before { background-position: $c5 $r1; }
    &[href$='.pdf']:before { background-position: $c1 $r2; }
    &[href$='.ppt']:before,
    &[href$='.pptx']:before { background-position: $c2 $r2; }
    &[href$='.avi']:before { background-position: $c3 $r2; }
    &[href$='.swf']:before { background-position: $c4 $r2; }
    &[href$='.wav']:before { background-position: $c5 $r2; }
    &[href$='.wmv']:before { background-position: $c1 $r3; }
    &[href$='.xls']:before,
    &[href$='.xlsx']:before { background-position: $c2 $r3; }
    &[role='survey']:before { background-position: $c3 $r3; }
    &[role='updates']:before { background-position: $c4 $r3; }
    &[role='link']:before { background-position: $c5 $r3; }

}

.dbl-border-header {
	border-bottom: 1px solid $gray-lighter;
	padding: $grid-gutter-width/2;
	margin: 0 -$grid-gutter-width/2;
	margin-bottom: $grid-gutter-width/2;
	background-color: $gray-lighter;
}