// Import Core variables and mixins
@import "../../assets-common/css/bootstrap/variables";
@import "../../assets-common/css/bootstrap/mixins";

.textForLeave {
    max-height: 1000px!important;
    color: #111111!important;
    font-size: 11px!important;
    cursor: default!important;
}

.textLabelForLeave {
    font-weight: bold;
    padding: 0;
    cursor: default!important;
}

.viewLeaveApplication {
    padding: 15px 0 0 0 !important;
}


/*BOOTSTRAP BOX** start *******************************************************************************************/
.mainHeaderBorder {
    font-size: 15px!important;
    color: #fff!important;
    font-weight: bold;
    padding: 5px 0px 5px 10px!important;
    background: #EF8822 !important;
    border-color: #EF8822 !important;
    /*border-top-left-radius: 5px; madel*/
    /*border-top-right-radius: 5px;madel*/
}

.mainHeaderContentBorder {
    border-color: #EF8822 !important;
}

.subHeaderBorder {
    color: #4C4C4C!important;
    font-weight: bold;
    padding: 0px 0px 0px 10px!important;
    margin: 0px 0px 0px 0px!important;
    background: #DEDEDE !important;
    border-color: #DEDEDE !important;
    /* border-top-left-radius: 5px; madel*/
    /* border-top-right-radius: 5px; madel*/
}

.subHeaderContentBorder {
    border-color: #DEDEDE !important;
}

.subBorder-bottom {
    border-bottom: 2px solid #EF8822;
}
/*BOOTSTRAP BOX** end *******************************************************************************************/


.leaveSummaryStyle {
    font-size: 8.5px;
}

div.subHeaderContentBorder table.dataTable {
	thead td, thead th,
	tbody td, tbody th {
	    padding: 1px !important;
	    text-align: center !important;
	}

	tfoot td, tfoot th {
		padding: 0;
		border-top: 1px solid #111111;
	}
}

.subHeaderContentBorder {
    padding: 0;
}


div#divLeaveSummaryContent div.box-content {
    max-height: 170px !important;
    overflow-y:auto !important;
}
