// Import Core variables and mixins
@import "../../assets-common/css/bootstrap/variables";
@import "../../assets-common/css/bootstrap/mixins";

// Import all Module Specific CSSs
@import "application.scss";
@import "approval.scss";
@import "slot-user.scss";
@import "super-user.scss";


// Slot Viewer
.slot {
    text-align: center;
    display: inline-block;
    margin: auto;
    font-family: $font-family-bold;
    font-size: 20px;
    border: 1px solid #e3e3e3;
    border-bottom-color: darken(#e3e3e3,10%);
    border-radius: 3px;
    max-width: 80px;
    overflow: hidden;

    .remaining {
        font-size: 1em;
        display: inline-block;
        padding: 3px 9px;
        color: $brand-green;
        border-radius: 3px;
        float: left;
    }

    .total {
        padding: 9px 5px;
        font-size: 0.6em;
        display: inline-block;
        border-left: 1px solid #eaeaea;
        background-color: #F5F5F5;
        color: $brand-blue;
        float: left;
    }
}