// Import Core variables and mixins
@import "../../assets-common/css/bootstrap/variables";
@import "../../assets-common/css/bootstrap/mixins";


// Import all Module Specific CSSs
@import "application.scss";
@import "approval.scss";
@import "slot-user.scss";
@import "super-user.scss";

// Body
body {
	background: url(../../assets-common/img/body-bg.jpg);
	background-size: 50%;
}

.disable-mobile-breakpoint {
	min-width: $screen-md-min;
}

// Containers

.sidebar {
	float: left;
	min-height: 1px;
	padding-left:  ($grid-gutter-width / 2);
	padding-right: ($grid-gutter-width / 2);
	position: relative;
	width: 100%;

	@media (max-width: $screen-sm-max) {
		width: percentage((8 / 8));
	}
	@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
		width: percentage((3 / 8));
	}
	@media (min-width: $screen-lg-min) {
		width: percentage((2 / 8));
	}
}

.data-reference {
	position: relative;
	float: left;
	min-height: 1px;
	padding-left:  0;
	padding-right: ($grid-gutter-width / 2);
	width: 100%;

	// Width
	@media (max-width: $screen-sm-max) {
		width: percentage((8 / 8));
		padding-left: ($grid-gutter-width / 2);
	}
	@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
		width: percentage((5 / 8));
	}
	@media (min-width: $screen-lg-min) {
		width: percentage((6 / 8));
	}
}

.data-reference-validations {

}

// Mobile
.sub-navbar-links li.js_apply-leave-mobile {
	display: none;
    @media (max-width: $screen-xs-max) {
		display: table-cell !important;
		position: relative;
		width: 1%;
    }
}

// Style all controls
.sidebar-well {
	background-color: $gray-lighter;
	padding: $grid-gutter-width;
	border-radius: 12px;
	margin-bottom: $grid-gutter-width/2;
}

.modal-sidebar {
	margin-left: -16px;
	margin-top: -31px;
	margin-bottom: -31px;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: $gray-lighter;
}

.notes {
	@include make-row();

	.notes-content {
		@include make-xs-column(12);
		min-height: 60px;
		max-height: 140px;
		overflow-y: auto;

		.list-unstyled {
			font-size: 12px;
			li {
				
			}
		}
	}

	.notes-is-none {
		width: 100%;
		display: block;
		padding: 0 10px;
		margin: $grid-gutter-width/2 auto;
		text-align: center;

		span {
			display: block;
			clear: both;
			text-align: center;
			vertical-align: middle;
			text-align: center;

			.md {
				margin: auto;
				text-align: center;
			}
		}
	}
}

.leave-cancel {
	width: 100%;
	position: relative;
	clear: both;

	#confirmLock, #confirmCancellation{

		@media (max-width: $screen-xs-max) {
			display: block;
			width: 100%;
			margin-top: 5px;
		}

		@media (min-width: $screen-sm-min) {
			position: absolute;
			top: -7px;
			right: 0;
		}
	}
	#cancelLock {

		@media (max-width: $screen-xs-max) {
			display: block;
			width: 100%;
			margin-top: 5px;
		}

		@media (min-width: $screen-sm-min) {
			position: absolute;
			top: -7px;
			right: 185px;
		}
	}
}

.leave-status {
	border-radius: $border-radius-base;
	padding: 8px 20px;
	color: white;
	text-transform: uppercase;
	display: inline-block;
	width: auto;

	@media (max-width: $screen-sm-max) {
		width: 100%;
		margin-top: 15px;
	}

	@media (min-width: $screen-md-min) {
		margin-top: -15px;
		margin-bottom: 15px;
		float: right;
		margin-right: -42px;
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
		@include box-shadow(-3px 3px 0px rgba(0, 0, 0, 0.14));

		&:after {
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 10px 10px 0 0;
			position: absolute;
			bottom: 5px;
			right: -26px;
		}
	}

	&.waiting {
		background-color: $brand-blue;
		> .md:before {
			content: '\f2f6';
		}
		@media (min-width: $screen-md-min) {
			&:after {
				border-color: darken($brand-blue, 20%) transparent transparent transparent;
			}
		}
	}

	&.approved {
		background-color: $brand-green;
		> .md:before {
			content: '\f2f5';
		}
		@media (min-width: $screen-md-min) {
			&:after {
				border-color: darken($brand-green, 20%) transparent transparent transparent;
			}
		}
	}

	&.declined {
		background-color: $brand-red;
		> .md:before {
			content: '\f2f7';
		}
		@media (min-width: $screen-md-min) {
			&:after {
				border-color: darken($brand-red, 20%) transparent transparent transparent;
			}
		}
	}

	&.cancelled {
		background-color: $brand-burgundy;
		> .md:before {
			content: '\f2f7';
		}
		@media (min-width: $screen-md-min) {
			&:after {
				border-color: darken($brand-burgundy, 20%) transparent transparent transparent;
			}
		}
	}

	.md {
		float: left;
		margin-right: 10px;
		font-size: 2.2em;
	}

	span {
		display: block;
		float: left;
		font-size: 1em;
		margin-top: 7px;
	}

	@include clearfix();
}

// Badge
.badge-status {
	padding: 4px 8px;
	font-family: $font-family-bold;
	font-size: 10px;
	border-radius: 15px;
	display: inline-block;
	color: white;
	text-align: center;
	text-transform: uppercase;
	&.active {
		background-color: #00B310;
	}
	&.inactive {
		background-color: #FA0000;
	}
}

.page-header .btn-g{
	position: absolute;
	top: -15px;
	right: 0;
}

.search-users-form {
  padding-top: 5px;
  padding-bottom: $grid-gutter-width/2;
  margin-top: $grid-gutter-width/2;
  margin-bottom: $grid-gutter-width/2;
}


.slot {
	text-align: center;
	display: inline-block;
	margin: auto;
	font-family: $font-family-bold;
	font-size: 20px;
	border: 1px solid #e3e3e3;
	border-bottom-color: darken(#e3e3e3,10%);
	border-radius: 3px;
	max-width: 80px;
	overflow: hidden;

	.remaining {
		font-size: 1em;
		display: inline-block;
		padding: 3px 9px;
		color: $brand-green;
		border-radius: 3px;
		float: left;
	}

	.total {
		padding: 9px 5px;
		font-size: 0.6em;
		display: inline-block;
		border-left: 1px solid #eaeaea;
		background-color: #F5F5F5;
		color: $brand-blue;
		float: left;
	}
}

// Helpers and  Utilities

.text-blue {
	color: $brand-blue;
}

.control-input.well {
	margin-bottom: 0;
}

.h_border-left {
	@media (min-width: $screen-md-min) {
		border-left: 1px solid $gray-lighter;
	}
}

.h_blocked-labels {
  border-top: 1px solid #e3e3e3;
  padding-top: $grid-gutter-width/2;
  .control-label{ display: block; }
}

.h_enroll-employee-modal-btns {

	@media (min-width: $screen-md-min) {
		position: absolute;
		bottom: 0;
		left: 33.33333%;
		right: 14px;
		padding-bottom: 30px;
		padding-top: 15px;
		z-index: 1;
	}
}

.h_modal-no-header {
	.modal-content {
		border-top-left-radius: $border-radius-base;
		border-top-right-radius: $border-radius-base;
	}

	.page-header {
		margin-top: 15px;
	}
}

.scroll {
	height: 80px;
	overflow-y: auto;
}

.h_bg-orange {
	background-color: #E58200;
}

.btn-sidebar {
	background-image: none;
	@include box-shadow(0 1px 3px rgba(116, 116, 116, 0.9));
	@include transition (all 0.3s $easing);
	border: transparent !important;

	&:hover, &:focus, &:active {
		border: transparent;
		background-image: none;
		@include box-shadow(0 1px 3px rgba(116, 116, 116, 0.9));
		@include transition (all 0.3s $easing);
	}
}

.h_m-bottom-15 { margin-bottom: $grid-gutter-width/2; }
.h_m-top-15 { margin-top: $grid-gutter-width/2; }
.h_rem-m-top { margin-top: 0; }
.h_rem-m-bottom { margin-bottom: 0; }
.h_pos-rel { position: relative; }
.m_res-pad-right {
	@media (min-width: $screen-sm-min) { padding-right: 0; }
}

.h_form-group-date {
	.control-label {
		display: inline-block;
		clear: both;
		width: 100%;
		text-align: left;
	}

	.control-input + .control-input {
		margin-top: 5px;
		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
			margin-top: 0;
			padding-left: 15px;
		}
	}

	.control-input {
		display: inline-block;
		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
			width: 50%;
			min-height: 1px;
			position: relative;
			float: left;
		}
	}
}

.h_btn-float { position: absolute; top: 0; }
.h_from_to { display: block; width: 30px; }

// Data Table Override
table.dataTableSmall tbody th {
	font-size: normal;
	font-family: $font-family-bold;
	text-transform: uppercase;
}
table.dataTableSmall tbody th, table.dataTableSmall tbody td {
	font-size: 12px;
	text-align: center;
	padding: 4px 8px;
}

.m_page-title {
	@media (max-width: $screen-xs-max) {
		display: block;
		text-align: center;
		margin-bottom: $grid-gutter-width/2;
		margin-top: -$grid-gutter-width/2;
		background-color: $brand-primary;
		color: white;
	}

	@media (min-width: $screen-sm-min) {
		display: none;
	}
}

.to {
  display: inline-block;
  float: left;
  width: 1%;
  font-size: 0.8em;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: 3px;
  margin-left: -7px;
  font-family: $font-family-bold;
}

.leave-duration {
  width: 70px;
  height: 70px;
  border-radius: 15px;
  color: white;
  background-color: darken($brand-turquoise,10%);
  position: absolute;
  top: 7px;
  right: 2px;

  div {
  	display: table-cell;
  	width: 70px;
  	height: 70px;
  	vertical-align: middle;
  	text-align: center;

  	&:hover {
  		cursor: help;
  	}

  	small {
		margin-top: 3px;
		font-size: 0.7em;
		line-height: 10px;
  	}

  	span.units {
  		font-size: 2.4em;
  		margin-top: -10px;
  		&:empty {
  			content: '0';
  			display: block;
  		}

  		&.days:after,
  		&.mins:after {
  			font-size: 10px;
  			display: block;
  			clear: both;
  			margin-top: -11px;
  		}

  		&.days:after { content: 'DAYS'; }
  		&.mins:after { content: 'MINS'; }
  	}
  }
}

.h_l_v-heading {
	font-size: $font-size-h4;
	background-color: $brand-primary;
	color: white;
	padding: 10px $grid-gutter-width/2;
}

// JS 
.js_edit-mode, .js_modal-cutoff {
	display: none;
}

.mm-menu .mm-list > li.mm-selected > a:not(.mm-subopen), .mm-menu .mm-list > li.mm-selected > span {
    background: #EF8822 !important;
    color: white!important;
}

.masterLayout-header-user {
    background: none!important;
    border: none!important;
    box-shadow: none!important;
    color: white!important;
}

.mm-list, .mm-list > li { color: #EF8822 !important; }
.mm-menu > .mm-panel { background-color: #373535!important; }
.mm-list a:hover { background-color: #808080 !important; }

.btnMenu {
	background-image: url("../../img/menuIcon.png") !important;
	display: inline-block !important;
	width: 20px !important;
	height: 20px !important;
	margin-top: 1px !important;
	line-height: 14px !important;
	vertical-align: text-top !important;
	background-repeat: no-repeat !important;
}

.icon-table {
    background-image : url("../../img/icon-table.png") !important;
    display: inline-block !important;
    width: 20px !important;
    height: 20px !important;
    margin-top: 1px !important;
    line-height: 14px !important;
    vertical-align: text-top !important;
    background-repeat: no-repeat !important;
    background-position:center !important;
    background-size: cover !important;
}
  

#btnMenu {
    background-image : url("../../img/menuIcon.png") !important;
    display: inline-block !important;
    width: 20px !important;
    height: 20px !important;
    margin-top: 1px !important;
    line-height: 14px !important;
    vertical-align: text-top !important;
    background-repeat: no-repeat !important;
}

// .modal-header {
//     background-color: #EF8822 !important;
//     color: white !important;
// }

// .modal-body {
//     max-height: 1000px !important;
//     height: auto !important;
// }

// .cs-modal {
//     background-color: #ffffff;
//     left:0 !important;
//     top:0 !important;
//     position:absolute;
//     background: url('../../assets-common/img/body-bg.jpg') repeat;
// }


.fooTable {
    border: 1px solid #ccc !important;

    th {
	    background: #7CFB63!important;
	    color: white !important;
	    border: 1px solid white !important;
    }

    td {
    	border-left: 1px solid #ccc;
    }
}

.creditsYear {
    margin-right: 10px !important;
}

.tabs-left > .nav-tabs .active {
	> a {
		&, &:hover, &:focus {
			border: 1px solid !important;
			border-color: #EF8822 transparent #EF8822 #EF8822 !important;
		}
	}
}

.accordionHeader,
.accordion-header {
    font-size: 14px !important;
    background: #DEDEDE !important;
    border-bottom: 1px solid #D1D1D1 !important;
}

.accordion-heading {
	a {
		color: #60676B !important;

		&:hover, &:focus {
		    color: #000 !important;
		    text-decoration: none!important;
		    font-style: normal!important;
		}
	}
}

.accordionGroupBorder { border:1px solid #D1D1D1 !important; }
.accordGroupBorder {
    font-size: 14px !important;
    border-color: #D1D1D1!important;
    border-width: 2px;
    font-weight: normal!important;
}

.accordion-group-border {
    font-size: 14px !important;
    border-color: #D1D1D1!important;
    border-width: 2px;
    font-weight: normal!important;
}

.accordion-inner { background-color: white !important; }

.accordScrollY {
    overflow-y: scroll!important;
    height: 550px !important;
}

.accordionSub {
    color: #4C4C4C;
    padding: 2px 0px 2px 10px!important;
    margin: 0px 0px 0px 0px!important;
    border-color: #DEDEDE !important;
}

div.accordion .accordion-group .accordion-heading .accordion-toggle {
    background: #DEDEDE !important;
}

.accordionSub a:hover, a:focus {
    color: #000000 !important;
    text-decoration: none!important;
    font-style: normal!important;
}

.blockUI blockMsg blockElement {
    top: 45% !important;
    left: 35% !important;
}


.accordion {
  margin-bottom: 20px;
}

.accordion-group {
  margin-bottom: 2px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.accordion-heading {
  border-bottom: 0;
}

.accordion-heading .accordion-toggle {
  display: block;
  padding: 8px 15px;
}

.accordion-toggle {
  cursor: pointer;
}

.accordion-inner {
  padding: 9px 15px;
  border-top: 1px solid #e5e5e5;
}

// Helpers
#navigation { filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important; }
.divider { height: 10px !important; }
.padding-top-20px { padding-top: 20px; }
.padding-top-zero { padding-top: 0 !important; }
.padding-zero { padding-top: 0 !important; padding-bottom: 0 !important; }
.pointer-cursor { cursor: pointer!important; }
.word-wrap { word-wrap:break-word; }
.textarea, textarea { resize: none; }
.max-height { max-height: 450px !important; overflow-y: auto !important; }
.right-zero { position:relative; right: 0px; }
.row-fluid .margin-left { padding-left: 20px !important; }

.divider { height: 10px; }
.dividerView {
    border-bottom-color: #EF8822;
    padding-top: 10px;
    border-bottom-style: solid;
    margin-bottom: 10px;
    border-bottom-width: 2px;
}

.borderBottom {
    border-bottom-color: #EF8822;
    padding-top: 10px;
    border-bottom-style: solid;
    margin-bottom: 10px;
    border-bottom-width: 2px;
    margin-top: -30px!important;
}
.border-bottom { border-bottom: 2px solid $brand-primary; }
.subBorder-bottom { border-bottom: 2px solid #EF8822; }

.font-size-xsmall {
    font-size: x-small !important;
}

.font-size-11px {
    font-size: 11px !important;
}

.font-size-11px label,
.font-size-11px input,
.font-size-11px textarea,
.font-size-11px select {
    font-size: 11px !important;
}