// Import Core variables and mixins
@import "../../assets-common/css/bootstrap/variables";
@import "../../assets-common/css/bootstrap/mixins";


#LeaveScheduler .k-event, .k-task-complete { 
    background: transparent !important; 
    height: auto !important;
    border-color: transparent !important;
    text-align:center !important;
}

#grdPreapprovedLeave .k-grid-content {
    height:300px !important;
}

#grdPreapprovedLeave tr.k-no-data {
    height:300px !important;
}

#grdWaitingLeave .k-grid-content {
    height:300px !important;
}

#grdWaitingLeave tr.k-no-data {
    height:300px !important;
}