// Import Core variables and mixins
@import "../../assets-common/css/bootstrap/variables";
@import "../../assets-common/css/bootstrap/mixins";

.leavesummary { font-size: x-small !important; }

table.leavecredits th {
    padding: 0px 2px 0px 2px!important;
    font-weight: normal!important;
    background-color: white!important;
}

td.dataTables_empty {
    color: #f00 !important;
}

div.leavecredits-box-content table.dataTable {
	thead td, thead th,
	tbody td, tbody th {
	    padding: 1px !important;
	    text-align: center !important;
	}

	tfoot td, tfoot th {
		padding: 0;
		border-top: 1px solid #111111;
	}
}

.leavecredits-box-title {
    padding: 0px 0px 0px 10px!important;
    margin: 0px 0px 0px 0px!important;
    background-color: #DEDEDE !important;
    color: #4C4C4C !important;
    font-size: x-small !important;
}

.leavecredits-box-content {
    padding: 0px 0px 0px 0px!important;
    background-color: white!important;
    font-size: x-small !important;
    text-align: center !important;
}

.leavecredits-box-title,
.leavecredits-box-content  {
    border: 1px solid #ddd !important;
    font-size: x-small !important;
}



div.Left-Side-Modal div.forUpdateCreditsSummary {
    max-height: 400px !important;
    overflow-y:auto !important;
}

div.leaveSummary div.leavecredits-box-content{
    max-height: 170px !important;
    overflow-y:auto !important;
}