//
// List groups
// --------------------------------------------------


// Base class
//
// Easily usable on <ul>, <ol>, or <div>.

.list-group {
  // No need to set list-style: none; since .list-group-item is block level
  margin-bottom: 20px;
  padding-left: 0; // reset padding because ul and ol
}


// Individual list items
//
// Use on `li`s or `div`s within the `.list-group` parent.

.list-group-item {
  position: relative;
  display: block;
  padding: 15px;
  // Place the border on the list items and negative margin up for better styling
  margin-bottom: -1px;
  background-color: $list-group-bg;
  border-bottom: 1px solid $list-group-border;

  // Round the first and last items
  &:first-child {

  }
  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
}


// Linked list items
//
// Use anchor elements instead of `li`s or `div`s to create linked list items.
// Includes an extra `.active` modifier class for showing selected items.

a.list-group-item {
  color: $list-group-link-color;
  @include transition (all 0.5s cubic-bezier(.26,.51,.34,.98));
  .list-group-item-heading {
    color: $list-group-link-heading-color;
  }

  // Hover state
  &:hover,
  &:focus {
    text-decoration: none;
    color: $list-group-link-hover-color;
    background-color: $list-group-hover-bg;
    @include transition (all 0.5s cubic-bezier(.26,.51,.34,.98));
  }
}

.list-group-item {
  // Disabled state
  &.disabled,
  &.disabled:hover,
  &.disabled:focus {
    background-color: $list-group-disabled-bg;
    color: $list-group-disabled-color;
    cursor: $cursor-disabled;

    // Force color to inherit for custom content
    .list-group-item-heading {
      color: inherit;
    }
    .list-group-item-text {
      color: $list-group-disabled-text-color;
    }
  }

  // Active class on item itself, not parent
  &.active,
  &.active:hover,
  &.active:focus {
    z-index: 2; // Place active items above their siblings for proper border styling
    color: $list-group-active-color;
    background-color: $list-group-active-bg;
    border-color: $list-group-active-border;

    // Force color to inherit for custom content
    .list-group-item-heading,
    .list-group-item-heading > small,
    .list-group-item-heading > .small {
      color: inherit;
    }
    .list-group-item-text {
      color: $list-group-active-text-color;
    }
  }
}


// Contextual variants
//
// Add modifier classes to change text and background color on individual items.
// Organizationally, this must come after the `:hover` states.

@include list-group-item-variant(success, $state-success-bg, $state-success-text);
@include list-group-item-variant(info, $state-info-bg, $state-info-text);
@include list-group-item-variant(warning, $state-warning-bg, $state-warning-text);
@include list-group-item-variant(danger, $state-danger-bg, $state-danger-text);


// Custom content options
//
// Extra classes for creating well-formatted content within `.list-group-item`s.

.list-group-item-heading {
  margin-top: 0;
  margin-bottom: 5px;
}
.list-group-item-text {
  margin-bottom: 0;
  line-height: 1.3;
}

.list-group-link {
  display: table;
  width: 100%;
  position: relative;

  // Add a View Icon if Hovered
  &.list-view-icon {
    &:before {
      content:'VIEW';
      position: absolute;
      top: 12px;
      right: -15px;
      opacity: 0;
      color: $gray;
      @include transition (all 0.5s cubic-bezier(.26,.51,.34,.98));
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-backface-visibility: hidden;
      -webkit-perspective: 1000;
    }
    &:after {
      font-family:'Material-Design-Iconic-Font';
      font-size: 1.4em;
      content:'\f05f';
      position: absolute;
      right: 30px;
      top: 5px;
      opacity: 0;
      color: $gray;
      @include transition (all 0.5s cubic-bezier(.26,.51,.34,.98));
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-backface-visibility: hidden;
      -webkit-perspective: 1000;
    }
    &:hover {
      &:before {
        content:'VIEW';
        position: absolute;
        top: 12px;
        right: 0;
        opacity: 1;
        @include transition (all 0.5s cubic-bezier(.26,.51,.34,.98));
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      -webkit-backface-visibility: hidden;
      -webkit-perspective: 1000;
      }
      &:after {
        font-family:'Material-Design-Iconic-Font';
        font-size: 1.4em;
        content:'\f05f';
        position: absolute;
        right: 30px;
        top: 8px;
        opacity: 1;
        @include transition (all 0.5s cubic-bezier(.26,.51,.34,.98));
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      -webkit-backface-visibility: hidden;
      -webkit-perspective: 1000;
      }
    }
  }
}

.list-group-item-description {
  display: table-cell;
  vertical-align: top;
  padding-left: $grid-gutter-width/2;
}

.list-thumbnail {
  display: table-cell;
  vertical-align: top;
  margin: 5px;

  &.list-thumbnail-xs {
    width: 60px;
    height: auto;
  }

  &.list-thumbnail-md {
    width: 80px;
    height: auto; 
  }

  &.list-thumbnail-lg {
    width: 120px;
    height: auto;
  }
}


// For presenting data lists like profile
.list-data-group {
  > li {
    border-bottom: 1px dotted #e3e3e3;
    padding: 10px 15px 5px 10px;  
    @include clearfix();

    .data-label {
      display: block;
      color: #666;
      font-size: 0.8em;
      position: relative;   
      float: left;
      font-family: Helvetica, Arial, sans-serif;
      font-weight: bold;
      width: 30%;

      @media (min-width: $screen-lg-min) {
        width: 25%;
      }

      > .data-icon {
        font-size: 2em;
        display: block;
        float: left;
        margin-top: -5px;
        margin-right: $grid-gutter-width/2;
      }
    }
    .data-static {
      display: block;
      position: relative;
      float: left;
      padding-left: $grid-gutter-width/2;
      padding-right: $grid-gutter-width/2;

      width: 70%;

      @media (min-width: $screen-lg-min) {
        width: 75%;
      }
    }
  }
}