//
// Progress bars
// --------------------------------------------------


// Bar animations
// -------------------------

// WebKit
@-webkit-keyframes progress-bar-stripes {
  from  { background-position: 40px 0; }
  to    { background-position: 0 0; }
}

// Spec and IE10+
@keyframes progress-bar-stripes {
  from  { background-position: 40px 0; }
  to    { background-position: 0 0; }
}


// Bar itself
// -------------------------

// Outer container
.progress {
  // overflow: hidden;
  height: 20px;
  padding: 4px;
  margin-bottom: $line-height-computed;
  background-color: $progress-bg;
  border-radius: $progress-border-radius;
  border-top: 1px solid #CECECE;
  border-bottom: 1px solid #F7F7F7;
  @include box-shadow(inset 1px 0 12px rgba(72, 72, 72, 0.3));
}

// Bar of progress
.progress-bar {
  float: left;
  position: relative;
  width: 0%;
  height: 100%;
  font-size: $font-size-small;
  line-height: $line-height-computed;
  color: $progress-bar-color;
  text-align: center;
  background-color: $progress-bar-bg;
  @include gradient-vertical($brand-primary, lighten($brand-primary, 5%));
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: $progress-border-radius;
  border-bottom-left-radius: $progress-border-radius;
  @include transition(width .4s $easing);

  &:after {
    position: absolute;
    width: 13px;
    height: 13px;
    top: -2px;
    left: 100%;
    display: block;
    content: '';
    margin-left: -7px;
    @include gradient-vertical(yellow, lighten(yellow, 5%));
    border: 4px solid rgba(247, 162, 0, 0.9);
    border-radius: 15px;
    @include box-shadow(0 0 10px yellow);
  }
}

// Progress bar counter
.progress-bar-counter {
  width: 54px;
  height: 50px;
  display: block;
  font-size: 1.4em;
  position: absolute;
  left: 100%;
  bottom: 100%;
  padding-top: 12px;
  margin-bottom: 10px;
  margin-left: -28px;
  background-color: rgba(0,0,0,0.8);
  color: white;
  border: 3px solid $brand-primary;
  border-radius: 50%;
  text-align: center;

  &:hover {
    cursor: default;
  }

  @include box-shadow(0 -3px 0 rgba(0, 0, 0, 0.12));
  @include user-select(none);

  > * {
    @include user-select(inherit);
  }

  &:after, &:before {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    pointer-events: none;
    margin-left: -8px;
    border-width: 8px;
    border-top-color: $brand-primary;
  }
}

// Striped bars
//
// `.progress-striped .progress-bar` is deprecated as of v3.2.0 in favor of the
// `.progress-bar-striped` class, which you just add to an existing
// `.progress-bar`.
.progress-striped .progress-bar,
.progress-bar-striped {
  @include gradient-striped;
  background-size: 40px 40px;
}

// Call animation for the active one
//
// `.progress.active .progress-bar` is deprecated as of v3.2.0 in favor of the
// `.progress-bar.active` approach.
.progress.active .progress-bar,
.progress-bar.active {
  @include animation(progress-bar-stripes 2s linear infinite);
}


// Variations
// -------------------------

.progress-bar-success {
  @include progress-bar-variant($progress-bar-success-bg);
}

.progress-bar-info {
  @include progress-bar-variant($progress-bar-info-bg);
}

.progress-bar-warning {
  @include progress-bar-variant($progress-bar-warning-bg);
}

.progress-bar-danger {
  @include progress-bar-variant($progress-bar-danger-bg);
}
