//
// Utility classes
// --------------------------------------------------


// Floats
// -------------------------

.clearfix {
  @include clearfix;
}
.center-block {
  @include center-block;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}


// Toggling content
// -------------------------

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  @include text-hide;
}


// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate

.hidden {
  display: none !important;
  visibility: hidden !important;
}


// For Affix plugin
// -------------------------

.affix {
  position: fixed;
}

// Required Fields
.required:after {
  font-size: 1.8em;
  display: inline-block;
  position: absolute;
  content: '*';
  color: $brand-danger;
  margin-right: -9px;
  margin-top: -9px;
  top: 0;
}

// Attach Unit Values
// -------------------------
.unit-percent {
  font-style: normal;

  &:after {
    color: inherit;
    font-size: inherit;
    content: "%";
  }
}

.unit-peso {
  font-style: normal;
  
  &:before {
    content: 'Php';
    font-size: inherit;
    color: inherit;
  }
}

// Hovers and Cursors
// -------------------------
.hoverable {
  &:hover, &:active, &:focus {
    color: $brand-blue;
    cursor: default;
  }

  &.help {
    cursor: context-menu;
  }
}


// Break Word
.break-word {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
}