.cloud-set {
	height: 260px;
}

.clouds {
	position: absolute;
	border-radius: 100px;
	zoom: 1;
	width: 190px;
    height: 50px;

    // top: 200px;
    // left: 50px;
    @include opacity(0.9);

	&:after, &:before {
		content: '';
		display: block;
		position: absolute;
		background-color: white;
		border-radius: 100px;
	}

	&:after {
	    width: 40%;
	    height: 75%;

	    left: 25%;
	    bottom: 60%;
	}

	&:before {
	    width: 45%;
	    height: 130%;

	    right: 15%;
	    bottom: 40%;
	}
}