$scale-xs: 0 180px 225px 180px;
$scale-md: 0 250px 280px 250px;
$scale-lg: 0 300px 350px 400px;
$mountain-color-day:    #33ACE8;
$mountain-color-sunset: #33ACE8;
$mountain-color-night:  #33ACE8;

.mountain-range {
    width: auto;
    height: auto;
    display: block;
    position: relative;
    float: left;
    z-index: $mountain-zindex;

    > .mountain:first-child { left: 0; @include opacity(0.6); }
    > .mountain:first-child + .mountain { left: 50px;  }
    > .mountain:last-child { left: 500px; @include opacity(0.4); }
}

.mountain {
    width: 0;
    height: 0;
    border-style: solid;
    display: block;
    position: absolute;
    bottom: $mountain-y;
    z-index: $mountain-zindex;
    @include opacity(0.85);

    &:before {
        display: block;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent transparent rgba(255,255,255,0.6) transparent;
        position: absolute;
    }

    &.day { border-color: transparent transparent $mountain-color-day transparent; }
    &.sunset { border-color: transparent transparent $mountain-color-sunset transparent; }
    &.night { border-color: transparent transparent $mountain-color-night transparent; }

    &.m-lg { border-width: $scale-lg; 
        &:before{ 
            border-width: 0 127px 150px 173px;
            right: calc(100% - 129px);
        } 
    }
    &.m-md { border-width: $scale-md; 
        &:before{ 
            border-width: 0 150px 180px 150px;

        } 
    }
    &.m-xs { border-width: $scale-xs; 
        &:before{ 
            border-width: 0 80px 125px 80px;

        } 
    }
}