//
// Panels
// --------------------------------------------------


// Base class
.panel {
  margin-bottom: $line-height-computed;
  background-color: $panel-bg;
  // border: 1px solid transparent;
  border: none;
  border-radius: $panel-border-radius;
  @include box-shadow(0 1px 3px rgba(116, 116, 116, 0.3));
  @include transition (all 0.3s $easing);
}

// Panel contents
.panel-body {
  padding: $panel-body-padding;
  position: relative;
  @include clearfix;

  // Overriding nav-tabs on Panel Heading
  .nav-tabs {
    $bordercolor: transparent;
    margin-bottom: -$panel-body-padding;
    border-bottom: none;
    border-bottom-left-radius: 3px;
    background-color: lighten($gray-lighter,3%);
    margin-top: -$panel-body-padding;
    margin-left: -$panel-body-padding;
    padding-top: $panel-body-padding + 25;
    padding-bottom: $panel-body-padding;

    // Add z-index to position nav on top of the background extension
    z-index: 2;

    // Extend background-color to bottom
    &:after {
      display: block;
      position: absolute;
      content:'';
      background-color: lighten($gray-lighter,3%);
    }

    // Resizing Tab links
    width: 25%;
    position: relative;
    display: table-cell;
    float: left;

    > li {
      float: none;
      margin-bottom: 0;

      // Actual tabs (as links)
      > a {
        margin-right: 0;
        line-height: $line-height-base;
        border: none;
        border-radius: $border-radius-base 0 0 $border-radius-base;
        text-align: left;

        &:hover {
          // border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-border-color;
          background-color: lighten($gray-lighter,3%);
        }

      }

      &.active {
        border-left: 5px solid $brand-primary;
      }

      // Active state, and its :hover to override normal :hover
      &.active > a {
        &,
        &:hover,
        &:focus {
          background-color: white;
          border: none;
          border-radius: 0;
          color: $nav-tabs-active-link-hover-color;
          cursor: default;
          padding: $panel-body-padding - 5;
        }
      }
    }

    // Resizing Tab content
    ~ .tab-content {
      width: 75%;
      position: relative;
      display: table-cell;
      float: left;

      // Add padding to compensate for the spacing
      padding-left: $panel-body-padding;
      padding-top: $panel-body-padding;
      padding-bottom: $panel-body-padding;

      &:before {
        @function strip-units($number) {
          @return $number / ($number * 0 + 2);
        }

        $padding-value: strip-units($panel-body-padding);
        $bg-extender-width: 33 +  (($padding-value / 5)*1.2%)/10;

        display: block;
        position: absolute;
        content: '';
        background-color: lighten($gray-lighter,3%);
        bottom: -$panel-body-padding;
        left: -$bg-extender-width;
        width: $bg-extender-width;
        top: 0;
        right: 0;

        // Add z-index to background extension below the navtab
        z-index: 1;
      }
    }

  }

}

// Optional heading
.panel-heading {
  padding: $panel-heading-padding;
  position: relative;
  @include border-top-radius(($panel-border-radius - 1));

  > .dropdown .dropdown-toggle {
    color: inherit;
  }

  // Overriding nav-tabs on Panel Heading
  .nav-tabs {
    margin-bottom: -$panel-heading-padding;
    border-bottom: none;
    > li {
      &.active > a {
        background-color: white;
        border-top-color: #fff;
        border-left-color: #fff;
        border-right-color: #fff;
      }
    }
  }
}

// Within heading, strip any `h*` tag of its default margins for spacing.
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  color: inherit;

  @media (max-width: $screen-xs-max) {
    font-size: ceil(($font-size-base * 1.125) + 3 ); 
  }
  @media (min-width: $screen-sm-min) {
    font-size: ceil(($font-size-base * 1.125) + 6 ); 
  }

  > a,
  > small,
  > .small,
  > small > a,
  > .small > a {
    color: inherit;
  }
}

// Widget Controls
.panel-widget-controls {
  position: absolute;
  right: $panel-heading-padding;
  top: 50%;
  margin-top: -$panel-heading-padding;

  // .form-controls inside the panel heading widget
  .input-widget-control {
    display: inline-block;
  }

  // Button group control
  .btn-widget-control {
    color: inherit;
    font-weight: normal;
    border-radius: $border-radius-base;

    &,
    &:active,
    &.active,
    &[disabled],
    fieldset[disabled] & {
      background-color: transparent;
      @include box-shadow(none);
    }
    &,
    &:hover,
    &:focus,
    &:active {
      border-color: transparent;
    }
    &:hover,
    &:focus {
      color: inherit;
      text-decoration: none;
      background-color: rgba(0,0,0,0.08);
      @include transition (background-color 0.3s $easing);
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: inherit;
        text-decoration: none;
      }
    }

    @include transition (background-color 0.3s $easing);
    @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small);
  }
  // Button group control

}

// Optional footer (stays gray in every modifier class)
.panel-footer {
  padding: $panel-footer-padding;
  background-color: $panel-footer-bg;
  border-top: 1px solid $panel-inner-border;
  @include border-bottom-radius(($panel-border-radius - 1));
}


// List groups in panels
//
// By default, space out list group content from panel headings to account for
// any kind of custom content between the two.

.panel {
  > .list-group,
  > .panel-collapse > .list-group {
    margin-bottom: 0;

    .list-group-item {
      border-width: 1px 0;
      border-radius: 0;
    }

    // Add border top radius for first one
    &:first-child {
      .list-group-item:first-child {
        border-top: 0;
        @include border-top-radius(($panel-border-radius - 1));
      }
    }
    // Add border bottom radius for last one
    &:last-child {
      .list-group-item:last-child {
        border-bottom: 0;
        @include border-bottom-radius(($panel-border-radius - 1));
      }
    }
  }
}
// Collapse space between when there's no additional content.
.panel-heading + .list-group {
  .list-group-item:first-child {
    border-top-width: 0;
  }
}
.list-group + .panel-footer {
  border-top-width: 0;
}

// Tables in panels
//
// Place a non-bordered `.table` within a panel (not within a `.panel-body`) and
// watch it go full width.

.panel {
  > .table,
  > .table-responsive > .table,
  > .panel-collapse > .table {
    margin-bottom: 0;

    caption {
      padding-left: $panel-body-padding;
      padding-right: $panel-body-padding;
    }
  }
  // Add border top radius for first one
  > .table:first-child,
  > .table-responsive:first-child > .table:first-child {
    @include border-top-radius(($panel-border-radius - 1));

    > thead:first-child,
    > tbody:first-child {
      > tr:first-child {
        border-top-left-radius: ($panel-border-radius - 1);
        border-top-right-radius: ($panel-border-radius - 1);

        td:first-child,
        th:first-child {
          border-top-left-radius: ($panel-border-radius - 1);
        }
        td:last-child,
        th:last-child {
          border-top-right-radius: ($panel-border-radius - 1);
        }
      }
    }
  }
  // Add border bottom radius for last one
  > .table:last-child,
  > .table-responsive:last-child > .table:last-child {
    @include border-bottom-radius(($panel-border-radius - 1));

    > tbody:last-child,
    > tfoot:last-child {
      > tr:last-child {
        border-bottom-left-radius: ($panel-border-radius - 1);
        border-bottom-right-radius: ($panel-border-radius - 1);

        td:first-child,
        th:first-child {
          border-bottom-left-radius: ($panel-border-radius - 1);
        }
        td:last-child,
        th:last-child {
          border-bottom-right-radius: ($panel-border-radius - 1);
        }
      }
    }
  }
  > .panel-body + .table,
  > .panel-body + .table-responsive,
  > .table + .panel-body,
  > .table-responsive + .panel-body {
    border-top: 1px solid $table-border-color;
  }
  > .table > tbody:first-child > tr:first-child th,
  > .table > tbody:first-child > tr:first-child td {
    border-top: 0;
  }
  > .table-bordered,
  > .table-responsive > .table-bordered {
    border: 0;
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th:first-child,
        > td:first-child {
          border-left: 0;
        }
        > th:last-child,
        > td:last-child {
          border-right: 0;
        }
      }
    }
    > thead,
    > tbody {
      > tr:first-child {
        > td,
        > th {
          border-bottom: 0;
        }
      }
    }
    > tbody,
    > tfoot {
      > tr:last-child {
        > td,
        > th {
          border-bottom: 0;
        }
      }
    }
  }
  > .table-responsive {
    border: 0;
    margin-bottom: 0;
  }
}

// Collapsable panels (aka, accordion)
//
// Wrap a series of panels in `.panel-group` to turn them into an accordion with
// the help of our collapse JavaScript plugin.

.panel-group {
  margin-bottom: $line-height-computed;

  // Tighten up margin so it's only between panels
  .panel {
    margin-bottom: 0;
    border-radius: $panel-border-radius;

    + .panel {
      margin-top: 5px;
    }
  }

  .panel-heading {
    border-bottom: 0;

    + .panel-collapse > .panel-body,
    + .panel-collapse > .list-group {
      border-top: 1px solid $panel-inner-border;
    }
  }

  .panel-footer {
    border-top: 0;
    + .panel-collapse .panel-body {
      border-bottom: 1px solid $panel-inner-border;
    }
  }
}

// Contextual variations
.panel-default {
  @include panel-variant($panel-default-border, $panel-default-text, $panel-default-heading-bg, $panel-default-border);
  .panel-heading {
    border-bottom: 1px solid #E8E8E8;
  }
}
.panel-primary {
  @include panel-variant($panel-primary-border, $panel-primary-text, $panel-primary-heading-bg, $panel-primary-border);
}
.panel-success {
  @include panel-variant($panel-success-border, $panel-success-text, $panel-success-heading-bg, $panel-success-border);
}
.panel-info {
  @include panel-variant($panel-info-border, $panel-info-text, $panel-info-heading-bg, $panel-info-border);
}
.panel-warning {
  @include panel-variant($panel-warning-border, $panel-warning-text, $panel-warning-heading-bg, $panel-warning-border);
}
.panel-danger {
  @include panel-variant($panel-danger-border, $panel-danger-text, $panel-danger-heading-bg, $panel-danger-border);
}